/* BYP */

#byp_container {
  /*border:1px dashed black;*/
  float:left;
  font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
  margin-top:15px;
  width:934px;
  min-height:500px; 
}

#byp_container a:active, #byp_container a:focus, #byp_container img, input { outline: 0; }

#byp_left_col {
	float:left;
	font-size:16px;
	width:510px;
}

#byp_left_col p {
	margin-right:20px;
	/*text-align: justify;*/
}

#byp_left_col p.byp_points {
  margin-top:7px;
  margin-bottom:14px;
  padding-top:0;
  padding-bottom:0;
  line-height:30px;
}

#byp_right_col {
	float:right;
	width:424px;
}

#byp_sample { /* image */
	margin-top:27px;
}

a.btn_byp {
   background-image:url(../images/byp/bg_btn.png);
	display:block;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:19px;
	font-weight:bold;
	width:115px;
	height:44px;
	text-align:center;
}

a.btn_byp:hover {
  text-decoration:none;
}

a.btn_byp span {
  display:block;
  margin:auto;
  padding-top:10px;
}

#byp_head {
	width:934px;
	height:91px;
}

#byp_navigation {
   /*background-image:url(../images/byp/bg_navigation1.png);
	background-color: gray;%*/
	color:white;
	height:30px;
}

#byp_navigation .byp_item {
	/*border:1px dotted black;*/
	cursor: pointer;
	float:left;
	text-align: center;
	text-transform: uppercase;
	width:150px;
	height:30px;
	line-height: 30px;
	background: #808385;
	margin-left: 10px;
	font-weight: bold;
}

.icircle {
	display:inline-block;
	background-color: #f5641e;
	border-radius:7px;
	color:#fff;
	cursor: pointer;
	font-size:11px;
	font-weight:bold;
	width:14px;
	height:14px;
}
.icircle i {
   font-style:normal;
   margin-left:5px;
}

#mob_postcode_go {
	display:none;
}


.btn {
    /*color: #f57d43;
    background-color: #e35009;*/
    display: inline-block;
    padding: 4px 1em 4px 1em;
    margin-bottom: 0px;
    font-size: 1.7em;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-orange {
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color:#f5641e; /*#FAA732*/
    background-image: linear-gradient(to bottom, #f57d43, #e35009); /*#FBB450, #F89406*/
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#mob_size_info0, #mob_size_info1, #mob_next_2, #mob_sq {
	display:none;
}

/********************************************************************/
/*lightbox*/
/********************************************************************/
.overlay
{
    background: url("/images/overlay-bg.png") repeat left top;
    left: 0;
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    z-index:1000001;
}
.lightbox
{
    background:#FFFFFF;
    left:0;
    position: absolute;
    top:0;
    width: auto;
    z-index:1000002;
    box-shadow:0 2px 20px 7px #2c2c2c;
    -moz-box-shadow:0 2px 20px 7px #2c2c2c;
    -webkit-box-shadow:0 2px 20px 7px #2c2c2c;
}
.lightboxInner01
{
    /*padding: 30px;*/
    width:auto;
    height:auto;
}
.close
{
    color:#f5641e;
    font-size:12px;
    font-weight:bold;
    line-height:1.1em;
    background:#cccfd1 url("/images/close_lightbox.gif?v=2") no-repeat right top;
    height: 11px;
    position: absolute;
    right: 12px;
    top: 14px;
    padding: 2px 22px 4px 5px;
    /*width: 40px;*/
}

a.close:hover {
	color:#f5641e;
}

.lightbox_popup {
   background: url("/images/lightbox-bg-bot.gif") no-repeat scroll left bottom transparent;
}

.lightbox_inner {
	background: url("/images/lightbox-bg-top.gif") no-repeat scroll left top transparent;
	width:348px;
	min-height:71px;
}

.lightbox_content {
	padding:11px;
	padding-top:45px;
}

.lightbox_content label {
   display:block;
   float:left;
   margin-top:5px;
	width:77px;
}

.lightbox_content input[type=text], .lightbox_content input[type=password] {
    border:1px solid #233b76;
    height: 25px;
    width: 170px;
    margin-bottom: 7px;
    display: block;
}

.lightbox_content input[type=button], .lightbox_content .login_loading {
  float:left;
  margin-right:7px;
}

.lightbox_content input[type=button] {
	border:none;
	background-color:#f5641e;
	color:#fff;
	cursor:pointer;
	font-weight:bold;
	width:70px;
	margin-left:125px;
	padding-top:7px;
	padding-bottom:7px;
}

.lightbox_content strong, .lightbox_content h3 {
  font-weight:bold;
}

.byp-right {
	float: left; 
 	margin-left: 20px;
}

#byp_slide_box, #byp_slide_box ul, #byp_slide_box li, .byp-right {
	width:792px;
}


#byp_slide_box {
   display:block;
	float:left;
	margin-top:20px;
	height:1000px;/*645*/
	overflow: hidden;
}

#byp_get_costing, #byp_slide_box ul, #byp_slide_box li, .byp_col, #byp_step4_col2 {
	height:874px;/*545*/
}

#byp_get_costing {
   /*border:1px solid red;*/
   display:none;
	float:left;
	margin-top:20px;
	width:792px;
   text-align:center;
}

#byp_loading_text {
   color: #7c7f81;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-top:7px;
	text-transform:uppercase;
}

#byp_get_costing img.imgload {
	margin-top:81px;
}

#byp_thank_you {
   color: #7c7f81;
	width:100%;
	text-align: center;
}

#byp_thank_you p {
	margin:0;
	padding:0;
	width: 300px;
	margin-left:auto;
	margin-right:auto;
}

#byp_slide_box ul {
	float:left;
	display: block;
	list-style:none;
	margin:0;
	padding:0;
}

#byp_slide_box li {
   /*border:1px dotted black;*/
	display: block;
	margin:0;
	padding:0;
}

.byp_col {
	float:left;
	width:142px;
}

.byp_col p {
	font-size:16px;
	margin:0;
	padding:0;
	margin-top:20px;
	margin-bottom:12px;
}

#byp_slide_box h1 {
	font-size:24px;
	margin:0;
	padding:0;
}

#byp_slide_box h1 p {
   color:#808385;
	font-size:21px;
	line-height:25px;
	margin:0;
	padding:0;
	margin-top:0px;
}

.border-right {
	border-right: 1px solid black;
	height: 350px;
}

input#byp_postcode {
   background-color:#d2d9e5;
	border:0;
	color:black;
   float:left;
   font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	font-size:20px;
   width:134px;
	height:32px;
	text-align:center;
/*-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;*/
}

.byp_popup {
  position:relative;
  float:left;
  padding:10px;
}

#byp_poa {
  background-color: #d2d9e5; /*#fab28d*/
  border:4px solid #233b76; /*#d86529*/
  color:black;
  display:none;
  font-size:22px;
  margin-top:-371px;
  margin-left:210px;
  padding-top:40px;
  width:347px;
  min-height:181px;
  text-align: center;
  z-index:1000;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

#byp_poa p {
  margin:0;
  padding:0;
}

.byp_popup_btn {
  background-image:url(../images/byp/bg_btn.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d86529;
  border:none;
  color:white;
  cursor:pointer;
  font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
  font-size:14px; 
  font-weight:bold;
  letter-spacing:1px;
  padding-left:15px;
  padding-right:15px;
  padding-top:3px;
  padding-bottom:3px;
  text-transform:uppercase;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}

#byp_close_poa {
  float:right;
  margin-top:10px;
}

#byp_save {
	font-size:14px;
}

#byp_attach_box {
  background-color: #d2d9e5; /*#fab28d*/
  border:4px solid #233b76; /*#d86529*/
  color:black;
  display:none;
  font-size:14px;
  margin-top:-401px;
  margin-left:141px;
  width:470px;
  min-height:225px;
  padding:5px;
  /*padding-top:20px;*/
  z-index:900;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;  
}

#byp_attach_box  img {
  float:right;
  margin-left:20px;
}

#byp_close_attach_box {
	float:right;
	margin-bottom:5px;
}

#byp_close_attach, #byp_upload_btn {
  font-size:16px;
}

#byp_close_attach {
  float:right;
  margin-top:27px;
}

#byp_upload_btn {
  float:left;
  margin-top:26px;
}

#byp_files_count {
  float:left;
  margin-top:29px;
  margin-left:49px;
}

#byp_files_wrap {
  /*border:1px dotted white;*/
  float:left;
  width:111px;
  height:27px;
  margin-left:-114px;
  margin-top:25px;
  overflow:hidden;
  position:relative;
}

.byp_file {
  font-size:110px;
  width:111px;
  height:27px;
  -moz-opacity:0;
	filter:alpha(opacity: 0);
	opacity:0;
}

#byp_uploadmax_hint {
  display:block;
  width:110px;
  height:25px;
}

#byp_attach_files {
  border:4px solid gray;
  clear:both;
  float:left;
  font-size:14px;
  font-style:italic;
  margin-top:10px;
  padding:4px;
  text-align:center;
  width:335px;
  min-height:30px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

#byp_attach_files a {
  color:gray;
}

#byp_attach_files a:hover {
  font-weight:bold;
  text-decoration:none;
}

#byp_submit_quote {
  clear:both;
  display:none;
}

/*#byp_construction_total {
	margin-top:-5px;
}*/

#byp_construction_total span, #byp_duration_term span {
	cursor: pointer;
	font-style: italic;
}

#byp_img_loading {
   display:none;
   float:left;
	width:132px;
	height:64px;
	padding-top:10px;
	text-align:center;
}

#byp_img_loading img {
  display:inline;
}

#byp_col1 label {
  float:left;
	clear:both;
	display:block;
	font-size:16px;
	margin-left:15px;
	margin-bottom:12px;
}

#byp_col1 label input {
	margin-right:5px;
}

#byp_col1 p {
	clear:both;
	float:left;
}

#byp_col2 {
	width:570px;
}

#byp_col2 p {
   margin:0;
	padding-left:10px;
	padding-top:11px;
}

.byp_sub_col {
   color:#000;
	float:left;
	font-size:14px;
}

#byp_sub_col2 {
	/*border:1px dotted black;*/
	width:134px;
	margin-left:14px;
	margin-top:61px;
}

#byp_room_plan { /* image */
	margin-top:10px;
	margin-left:10px;
}

#byp_sub_col2 label {
	display:block;
	margin-bottom:12px;
}

#byp_sub_col2 select {
  border: none;
  color:black;
  font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
  font-size:18px;
  margin-left:12px;
  padding-left:5px;
  width:70px;
  height:27px;
  text-align:left;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
  text-align: center;  
}

#byp_dim {
	display:none;
}

#byp_dim label {
	display:block;
   font-family:Verdana, Helvetica, sans-serif;
}

#byp_dim label#byp_in {
	float:left;
}

#byp_dim label#byp_m {
	float:right;
	margin-right:9px;
}

a#byp_dim_unknown {
	clear:both;
	color:#cd5527;
	display:block;
	font-size:12px;
}

a#byp_dim_unknown:hover {
	text-decoration:none;
}

#byp_sub_col3 {
	/*border:1px dotted black;*/
	margin-left:10px;
	margin-top:30px;
	text-align:center;
	width:200px;
}

#byp_container form {
	float:left;
	margin:0;
	padding:0;
}

#byp_depth, #byp_width {
	font-size:16px;
}

#byp_depth, #byp_depth_dim, #byp_width, #byp_width_dim, #byp_sq, #byp_sq_dim, #byp_sq_label {
	display:inline;
}

#byp_depth_dim, #byp_width_dim {
   font-family:Verdana, Helvetica, sans-serif;		
}

#byp_sub_col3 table {
	margin:auto;
	width:210px;
}

#byp_td_room {
	background-color:#fab28d;
	font-weight:bolder;
	width:97%;
	height:160px;
	text-align:center;
	text-transform: uppercase;
}

#byp_td_room p {
   margin:0;
	padding:0;
	margin-top:5px;
}

#byp_sq_label, #byp_sq, #byp_sq_dim {
   font-size:18px;
	text-transform: none;
}

#byd_td_width {
  white-space: nowrap;
  padding-right:3px;
  text-align:right;
}

#byp_sub_col3 table td.first_col {
	width:3%;
	min-width:50px;
}
#byp_sub_col3 table td.second_col {
	width:97%;
	text-align:center;
}

#byp_estimator {
   background-color:#b5b5b6;
   display:none;
	float:left;	
   width:100%;
	margin-left:10px;
	text-align:left;
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}

#byp_estimator h3 {
   color:white;
	background-color: #e66d25;
	font-size:18px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	width:100%;
-moz-border-radius-topleft:7px;
-moz-border-radius-topright:7px;
-webkit-border-top-left-radius:7px;
-webkit-border-top-right-radius:7px;
border-top-left-radius:7px;
border-top-right-radius:7px;
}

#byp_estimator a {
	color:white;
	display:block;
	float:left;
	margin-top:10px;
	text-decoration: none;
}

#byp_estimator_content {
   float:left;
	padding:10px;
}

#byp_estimator_content .byp_left1 {
	float:left;
	width:75%;
}

#byp_estimator_content .byp_right1 {
	float:right;
	text-align:right;	
	width:25%;
}

#byp_estimator_content .byp_right2 {
   clear: both;
	float:right;
	margin-top:3px;
	margin-bottom:5px;
	text-align:right;	
	width:50%;
}

#byp_estimator_content .byp_center {
	clear:both;
	float:left;
	width:100%;
}

#byp_estimator_content .byp_left3 {
	float:left;
	width:50%;
}

#byp_estimator_content .byp_right3 {
   background-color:white;
	float:right;
	font-size:18px;
	width:50%;
	height:30px;
   padding-top:5px;
	text-align: center;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

#byp_estimator_content .byp_right3 strong {
	font-size:14px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
}

#byp_sqe {
	display: inline;
	font-weight:bolder;
}

#byp_estimator_content .byp_right2 label {
   cursor: pointer;
	display:block;
	float:left;
	font-size:12px;
	text-transform: uppercase;
	margin-bottom:3px;
}

#byp_estimator_content .byp_right2 input {
   display:block;
	float:right;
	margin-bottom:3px;	
}

#byp_bedrooms {
	color:black;
   font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	font-size:18px;
	width:40px;
	height:27px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}

#byp_room2, #byp_room3 {
   display:block;
   float:left;
	margin-top:81px;
	margin-bottom:55px;
	margin-left: -21px;
	transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform:rotate(90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#byp_room4 {
	display:block;
	float:left;
	/*margin-top:41px;
	transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform:rotate(90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/
}

#byp_col3 {
   border-right:none;
	width:80px;
}

#byp_btn_next1 {
	cursor:pointer;
	margin-top:140px;
}

.byp_btn_next {
	cursor:pointer;
	float:right;
}

.byp_btn_back {
	cursor:pointer;
	float:left;
}

#byp_slide_box h2 {
	font-size:18px;
	margin-left:10px;
	margin-right:10px;
	text-transform:uppercase;
}

#byp_step2_col1 {
	width:119px;
}

#byp_step2_col2 {
	width:209px;
}

#byp_step2_col3 {
	width:149px;
}

#byp_step2_col4 {
	width:149px;
}

#byp_step2_col5 {
	width: 159px;
	border-right:none;
}

.byp_step_col, .byp_step_col p {
	font-size:14px;
}

.byp_step_col {
	text-align:center;
}

.byp_step_col p {
	margin:0;
	padding:0;
}

.byp_step_col p, .byp_step_col label {
  color:#000;
}

.byp_step_col table {
	border:none;
	margin-left:15px;
	margin-top:0px;
	width:80%;
}

.byp_step_col table td {
   line-height:14px;
   margin:0;
	height:35px;
	padding:0;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:10px;
}

.byp_step_col h3 {
   color:#000;
   background-color:#fab28d;
   display: block;
	margin:0;
	padding:0;
	padding-top:5px;
	padding-bottom:6px;
	padding-left:5px;
	padding-right:5px;
	margin-left:10px;
	font-weight:normal;
	font-size:13px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
}

.byp_step_col img {
	margin-top:20px;
}

.byp_col_img_w {
	width:71px;
	margin-left:7px;
	margin-right:7px;
}

.byp_col_img_h {
	height:55px;
	margin-left:7px;
	margin-right:7px;	
}

.byp_col_img_w, .byp_col_img_h {
	cursor:pointer;
}

.byp_buttons {
	float:left;
	margin-left:5px;
	width:149px;
}

#byp_step3_col1 {
	width:119px;
}

#byp_step3_col2 {
	width:189px;
}

#byp_step3_col3 {
	width:159px;
}

#byp_step3_col4 {
	width:159px;
}

#byp_step3_col5 {
	width: 159px;
	border-right:none;
}

#byp_step3_col2 h2, #byp_step3_col3 h2, #byp_step3_col4 h2 {
	text-align: left;
}

#byp_step4_col1 {
	/*border:1px dotted black;*/
	float:left;
	width:215px;
	height: 300px;
}

#byp_step4_col2 {
   background-color:#d2d9e5;
   float:left;
	width:542px;
	padding-left: 35px;
}

#byp_quote_tip { /* image */
	position:relative;
	bottom:5px;
	left:147px;
}

#byp_arrow_tip {
   position:relative;
	bottom:0px;
	left:150px;
}

#byp_step4_col1 p {
   /*border:1px dotted black;*/
	margin:0;
	padding:0;
	margin-top:11px;
	margin-bottom:11px;
	text-align:left;
	padding-right:10px;
}

#byp_selected p span {
  display:block;
  text-align: center;
}

#byp_selected p {
   width:100%;
	clear:both;
	font-size:12px;
	text-align: center;
	padding-bottom:11px;
}


#byp_step4_subcol1, #byp_step4_subcol2 {
 	margin-top:10px;
 }

#byp_step4_subcol1 {
   float:left;
	width:240px;
}

#byp_step4_subcol2 {
   float:left;
	padding-left:20px;
	width:247px;
}

#byp_step4_subcol1 p {
	margin:0;
	padding:0;
	margin-top:10px;
}

#byp_step4_subcol1 p.byp_first {
	margin-top:4px;
}
megol
byp_step4_subcol1 {
	padding-left: 30px;
}

#byp_step4_subcol1 p.byp_req {
	background-image:url(../images/byp/bg_req.gif);
	background-position: 8px 7px;
	background-repeat:no-repeat;
}

#byp_step4_col2 input, #byp_step4_col2 textarea, #byp_showmyquote_link, #byp_step4_col2 select {
	width:197px;
}

#byp_showmyquote_link {
	margin: 25px 0;
}

.byp-btn-lg, .byp-btn-sm, .byp-btn-tn {
	display: inline-block; 
	background: #808385; 
	font-weight: bold;
	text-align: center;
	padding: 2px;
}

.byp-btn-lg, a.byp-btn-lg:hover, .byp-btn-lg a, .byp-btn-sm a, .byp-btn-tn a {
	text-decoration: none;
}

.byp-btn-tn a {
	background: inherit;
	border: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	font-weight: bold;
	cursor: pointer;
}

.byp-btn-lg, .byp-btn-lg a {
	height: 30px; 
	line-height: 30px;
	font-size: 16px;
}

.byp-btn-sm, .byp-btn-sm a {
	height: 25px; 
	line-height: 25px;
	font-size: 14px;
}

.byp-btn-tn, .byp-btn-tn a {
	height: 20px; 
	line-height: 20px;
	font-size: 12px;
}

#byp_step4_col2 input, #byp_step4_col2 select {
	/*border:none;*/
	background-color:white;
	height:25px;
	margin-bottom: 15px;
	display: block;
}

.el_loading {
	background-image: url(/images/byp/loading2.gif);
	background-position: right;
	background-repeat: no-repeat;
	background-size:25px 25px; 
}

#byp_step4_col2 select {
	height:23px;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:3px;
	width:194px;
}

#byp_step4_col2 label {
	display: inline-block;
	margin-bottom: 5px;
	font-size: 13px;
}

#byp_step4_col2 textarea {
	border: 0;
	margin-bottom: 15px;
}

#byp_step4_subcol1 textarea {
	border:none;
	background-color:white;
	padding:5px;
	resize:none;
	height:47px;
	overflow:auto;
}

#byp_step4_subcol1 textarea#byp_msg {
	height:77px;
}

#byp_step4_subcol1 p.byp_req_tip {
  font-size:11px;
  float:left;
}

#byp_step4_subcol1 p.byp_req_tip strong {
  color: #e76e27;
  float:left;
  display:inline;
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:14px;
  margin-right:5px;
}

.byp-final-page {
   float:left;
   background-color: #d2d9e5;
   background-image: url("/images/byp_final_1.png");
   background-repeat: no-repeat;
   background-position:14px 17px;
	width: 792px;
	height: 750px;
}

#byp_register_info {
	float:left;
}

#byp_cgi_wrap {
	float:left;
	background-color:#fff;
	width:430px;
	height:330px;
	overflow: hidden;
	margin-top:90px;
	margin-left:21px;
	margin-right:21px;
}

#byp_cgi { /* computer generated image */
	float:left;
	margin-top:-5px;
	margin-left:-80px;
	width:589px;
	height:320px;
}

#byp_cover {
   display:none;
	color:white;font-size:11px;font-weight:bold;
	font-family:Tahoma,sans-serif;
	position:relative;float:left;bottom:50px;left:0;
	width:430px;height:70px;
	background-image:url(/images/overlay-bg.png);
}

#byp_cover a {
	color:white;
	text-decoration:underline;
}

#byp_cover p {
	padding-left:14px;
	padding-top:11px;
	padding-right:14px;
	padding-bottom:11px;
}

.byp-final-page .inner {
   background-color: #fff;
   float:left;
	width: 270px;
	padding:14px;
	padding-bottom:30px;
	margin-left: 0px;
	margin-top: 90px;
	font-size: 13px;
}

.byp-final-page .inner label {
	font-weight: bold;
	
}

a#byp_attach_link {
	/*line-height: 25px;
   /*background-color:#e46c0a;
  background-image:url(../images/byp/bg_btn.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d86529;
	color:white;
	display:block;
	float:left;
	font-weight:bold;
	font-size:10px;
	font-family:Tahoma, Helvetica, sans-serif;
	margin-top:8px;
	margin-left:3px;
	padding-top:4px;
	padding-bottom:5px;
	padding-left:11px;
	padding-right:12px;
	text-transform:uppercase;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;*/
}

a#byp_attach_link:hover {
	text-decoration:none;
}

#byp_step4_subcol2 h2 {
   font-size:18px;
	margin:0;
	padding:0;
   margin-top:10px;
}

.byp_quote_label {
  font-size:11px;
}

#byp_quote_ref {
	display:inline;
	font-weight:normal;
}

.quote_phase {

	margin-top:5px;
	/*width:250px;
	float:left;
	height:92px;*/
}

.quote_phase input {
	float:left;
}

/*.quote_phase label {
	display:block;
	float:left;
	font-size:14px;
	font-weight:bold;
}*/

#byp_phase_design {
	margin-top:7px;
}

.byp_phase_total {
	/*border:1px dotted #e76e27;*/
	float:right;
	font-weight:bold;
	color: black;
	margin-top: -15px
}

/*#design_phase {
   background-image: url(../images/byp/byp_design_tip.png?v=1);
	background-repeat: no-repeat;
	background-position: 0 100%;
}*/

#byp_savings {
	clear:both;
	color:#e76e27;
	float:right;
	font-size:10px;
	text-align:right;
	width:127px;
	display: none;
}

#byp_savings p {
   font-size:12px;
	font-weight:bold;
	margin:0;
   padding:0;
	margin-top:5px;
}

#byp_savings p strong {
	text-decoration: line-through;
}

#byp_construction_features, #byp_design_features {
	float:left;
	margin-top:2px;
	font-size: 13px;
	width: 100%;
}

#byp_construction_features p, #byp_design_features p {
	padding-top: 4px;
	color: #b2b6b7;
}

/*#byp_construction_features p {
   background-image:url(../images/byp/byp_checkpoint.gif);
	background-repeat: no-repeat;
	background-position:0px 2px;
	margin:0;
	padding:0;
	padding-left:15px;
}*/

.byp-thick {
	width: 14px;
	height: 14px;
}

/*#construction_phase {
	height:70px;
}*/

#byp_duration_wrap {
	float:left;
	width:100%;
	margin-bottom:7px;
}

#byp_duration_label {
	float:left;
	font-size:12px;
	font-weight:bold;
	margin-top:5px;
	/*width:120px;*/
}

#byp_duration_term {
	float:right;
	font-weight:bold;
	text-align:right;
	color: black;
	margin-top: 5px;
	font-size: 13px;
}

#byp_duration_wrap p {
	clear:both;
	display:block;
	float:left;
	font-size:10px;
	margin:0;
	padding:0;
	margin-top:5px;
}

#byp-final-table .byp-btn-tn {
	width: 95%;
	margin-bottom: 5px;
}

#content .right {
  min-height:0px;
}

.tentity {
  border-spacing: 0px;
  border-collapse: collapse;
  border-left:1px solid #233b76;
  border-top:1px solid #233b76;
}

.tentity td, .tentity th {
  border-right:1px solid #233b76;
  border-bottom:1px solid #233b76;
  background-color:none;
  padding:5px;
}

.tentity th {
  text-align:center;
}

.pdf_link {
   background-image: url('/images/byp/pdf_icon.png?v=2');
   background-repeat: no-repeat;
   background-position: right;
   display:block;
   float:left;
   font-size: 18px;
   margin-top:10px;
   width:193px;
   height:29px;
	color:#808385;	
}

.pdf_link span {
  display:block;
  float:left;
  margin-top:4px;
}

.pdf_link:hover {
	color:#808385;
}

.mob_btn_next, #byp_mob_userform_info, #byp_step4_col2 input#byp_mob_showmyquote, 
#byp_step4_col2 input.mob_btn_next, #byp_mob_quote_tip, #byp_mob_cgi_tip {
  display:none;	
}

.byp_terms_agree {
	font-size: 10px;
}

#byp_main_action_wrap {
	float:right;
	margin-right:-29px;
}

#btn_main_action {
   cursor:pointer;
   margin-top:8px;
   width:110px;
   height:20px;
   background-image:url(/images/byp/btn_main_action.png);	
   position: relative;
    left: -29px;
}

#btn_main_action_text {
	float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 7px;
    margin-top: 3px;
    color: #263c76;
    /* position: relative; */
    /* left: -32px; */
}

.byp_quote_title {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase; 
	padding: 0; margin: 0;
}

#byp-final-btns {
  clear:both;
  float:left;
  width:100%;
  height:57px;
  overflow:visible;
}

.byp-btn-tn {
  width:110px;
}

#btn_action1_wrap {
  float:left;	
}

#btn_action2_wrap {
  float:right;
}

#btn_action3_wrap {
  clear:both;
  float:left;
  margin-top:7px;	
}
@media (max-width:640px) {
	.byp-right {
		max-width:100% !important;
		}
	#mob_postcode_go {
		display:block !important;
		}
	#byp_col1, #byp_col2, #byp_col3, #byp_step2_col2, #byp_step2_col3, #byp_step2_col4, #byp_step3_col2, #byp_step3_col3, #byp_step3_col4, #byp_step4_subcol1, #byp_step4_subcol2 {
		width:100% !important;
		}		
		#byp_step4_col2 {
		width:100% !important;
		}	
	#byp_bedrooms {
		width:55px !important;
		}	
	.byp-right {
		margin-left:0px !important;
		}		
	}
@media (max-width:330px) {
	#byp_slide_box li {
		max-width:320px !important;
		}
	}	