#byp_room2, #byp_room3 {
   display:block;
   float:left;
	margin-top:15px;
	margin-bottom:0px;
	margin-left:65px;
}

.byp_buttons {
	clear:both;
	float:left;
	margin-top:120px;
}

#fr_map {
	height:460px;
}

.contact-div form select.input {
	width:95%;
}