.cbp-hrmenu {
	width: 730px;
    margin: 4.7em 0 0;
    float: right;
	transition: all 0.4s ease;
}
.salered {
    color: #db0000 !important;
}
li.qwe:first-child a {
    padding-left: 0px;
}
li.qwe:last-child a {
    padding-right: 0px;
}
.cbp-hrsub {
	display: none;
}
.cbp-hrmenu > ul > li > a.active, .cbp-hrmenu > ul > li.cbp-hropen a.active {
    color: #f5641e !important;
}
/*.cbp-hrmenu.sticky {
	text-align: center;
	float: none;
	margin: 1em auto;
	transition: all 0.4s ease;
}*/

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0;
}

.cbp-hrmenu > ul > li {
	display: inline-block;
    margin: 0 83px 0 0;
}

.cbp-hrmenu > ul > li:last-child {
	display: inline-block;
    margin: 0 0px 0 0;
}

.cbp-hrmenu > ul > li > a {
    font-weight: 400;
    padding: 0.8em 0em 0.3em 0em;
    color: #183e70;
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}

.cbp-hrmenu > ul > li > a:hover {
	color: #f5641e;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #2e386c;
	font-weight: 400;
	background: transparent;
	text-decoration: none;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: rgba(255,255,255, 1);
	width: 100%;
	left: 0;
	top: 96px;
	padding-top: 20px !important;
	padding-bottom: 30px !important;
}

.cbp-hropen .cbp-hrsub {
	display: block;
    padding-bottom: 1em;
	padding-top: 1em;
    top: 10px;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 33%;
	float: none;
	padding: 0 2em 0;
	margin: 0 auto;
}
.cbp-hrmenu .cbp-hrsub-inner .foredge {
	
	float: right !important;
	padding: 0 2em 0;
	}
	
.cbp-hrsub.aboutdropdown .foredge {
	width: 34.5% !important;
	}
.cbp-hrsub.designdropdown .foredge {
	width: 58% !important;
	}
.cbp-hrsub.gallerydropdown .foredge {
	width: 31.8% !important;
	}
.cbp-hrsub.builddropdown .foredge {
	
	width: 45.5% !important;
	}
.cbp-hrsub.newsdropdown .foredge {
	width: 17% !important;
    left: 105px;
    position: relative;
	} 
.salesadded{
    width: 656px !important;
}
.salesadded .cbp-hrsub.aboutdropdown .foredge {
	width: 64% !important;
	}
.salesadded .cbp-hrsub.designdropdown .foredge {
	width: 56.8% !important;
	}
.salesadded .cbp-hrsub.gallerydropdown .foredge {
	width: 39.8% !important;
	}
.salesadded .cbp-hrsub.builddropdown .foredge {
	
	width: 49% !important;
	}
.salesadded .cbp-hrsub.newsdropdown .foredge {
	width: 37% !important;
    left: 105px;
    position: relative;
	} 
.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 1.5em;
    font-size: 16px;
}

.cbp-hrsub h4 {
	color: #000;
	padding: 0.6em 0 0.6em;
	margin: 0;
	font-size: 160%;
	font-weight: 300;
}
.loadingsite {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,0.9);
    z-index: 11111;
}
.loadingbarinside {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    height: 100px;
    width: 100px;
    /* background: #000; */
}
.loadingbarinside img {
    width: 100px !important;
}
.cookiebar {
	position:fixed;
	bottom:0px;
	width:100%;
	text-align:center;
	height:50px;
	background: #f5f7f8;
	display:none;
	z-index:1111;
	}
.cookieinner {
	max-width:1140px;
	margin:0 auto;
	}	
.cookieinner p {
	font-size: 13.6px;
    float: left;
    color: #000;
    font-weight: normal;
	}	
.cookieinner .mainouterclose {
    float: right;
    vertical-align: middle;
    margin-top: 10px;
    background: #0f4777;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    color: #FFF;
    font-size: 18px;
	cursor:pointer;
}
span.mainouterclose span {
    position: relative;
    top: 3px;
    font-weight: normal;
}
@media (max-width:640px) {
	.cookieinner {
		width:90%;
		}
	.cookieinner p {
		font-size:9px;
		float: left;
		max-width:85%;
		color: #000;
		padding-top:5px;
		font-weight: normal;
		text-align:left;
		line-height:14px;
		}	
	}
/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid #47a3da;
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}

.cbp-hrmenu .cbp-hrsub-inner a:hover:before {
	content: "";
	background-image: url("https://www.buildteam.com/images_new_design/chevronchik.png");
	width: 15px;
	height: 15px;
	display: block;
	background-position: center;
	background-size: 100% 100%;  
	position: absolute;
    margin: 4px 0 0 -20px;	
}

.cbp-hrmenu .cbp-hrsub-inner a:hover {
	color: #9399b4;
}

