.main {
    padding: 135px 0 0 0;
	max-width:980px;
}
.header .wrapper {
	}
body, .newcontact{ 
font-family:calibri !important;
}
#contactdrop #request-call {
    font-weight: bold;
    background: none;
    padding: 0px;
    color: #344871;
}
.your-dates .request-call {
	padding:0px !important;
	background: none !important;
	color:rgb(50, 72, 117) !important;
	}
.ui-button .ui-icon {
background-image: none !important;
}

#cbp-hrmenu:after {
	content:"";
	clear:both;
	}
.cbp-hrmenu .cbp-hrsub {
	background:rgba(255,255,255,0.9);
	padding-bottom:20px;
	}
.cbp-hrmenu > ul > li .cbp-hrsub:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 35px;
    left: 0;
    top: -35px;
}
.homecontact .newcontact  {
	padding:0 0 0 0 !important;
		}
.homecontact .cbp-hrsub {
	top:100px !important;
	}
.cbp-hropen .cbp-hrsub {
	top:100px !important;
	}	
#content .full{ padding-top:0px;}
.commonpagetitle {
	color: #114573 !important;
    font-weight: bold !important;
    display: block;
    text-align: left;
    text-transform: capitalize;
	font-size:30px !important;
	border-bottom:2px solid #e0e0e0;
	padding-bottom: 15px;
	}
 .contactus h1{
	font-size: 22px;
    color: #114578;
    font-weight: normal;
    /* letter-spacing: 2px; */
    line-height: 21.5px;
    margin-bottom: 5px;
    text-align: left;
    /* padding-left: 30px; */
    text-transform: capitalize;
 }
  .contactus .rightbox h3{
	color: #406d94;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 21.5px;
    margin-bottom: 35px;
    text-align: left;
    /* padding-left: 30px; */
    text-transform: none;
 }
 .rightbox{width:100%;}
 .leftbox{ width:32%; float:left; padding-left:25px;}
 .middlebox{ width:49%; float:left;}
 .leftbox ul{padding-left:9px!important;}
 /*
 .contactus .borderbtm{ 
	 border-top:3px dotted gray;
	 margin:0 auto;
	 margin-bottom:15px;
  }
  */
 .contactus .form_title{ color:#808385; font-size:16px; font-weight:600;letter-spacing: 2px; text-align:left; margin-bottom:8px;}
 
 ul.office_time{padding-left:0px;}
 ul.office_time li.times{ list-style:none;}
 ul.office_time li:first-child{ list-style:none; font-size:16px; color:#2e4875; margin-bottom:5px;}
 .christmas_title { text-align:left; color:#F33; font-size:17px; font-weight:600; margin-bottom:8px;}
 .christmas_block{float:left; width:100%; margin:22px 0px;}
 
   .contactus form input[type='submit']{ 
   	border: none;
    color: #fff;
    padding: 2px;
    background: #7693af;
    font-size: 16px;
    /* box-shadow: none; */
    margin-bottom: 20px;
	    border-radius: 10px;
		display: block;
    width: 100%;
	}
.contactus ul{ margin:11px 0px;}
.below_img img{ width:100%;}
.showtraingleblk{ width:100%; margin:30px 0px; text-align:center; float:left;}
.map_bl_text{ color:#2e4875; text-align:center; font-size:16px; width:100%; margin:55px auto 0; 
	border-bottom: 1px solid #999;
    padding: 20px 0px;
    margin-bottom: 20px;} 
.map_bl_text span{ color:#808385; border-left:2px solid #da7c2e;}
.download_link{float:right; margin-right:80px; font-size:16px; width:72px; border:6px solid #f2f3f4; padding:2px 8px;}
.download_link a:hover{ text-decoration:none; color:#808385;}
::-webkit-input-placeholder { color: #2e4875!important; opacity: 1 !important; }
::-moz-placeholder { color: #2e4875!important;}
::-moz-placeholder {color: #2e4875!important;}
::-ms-input-placeholder {color: #2e4875!important;}
.christmas_img{ margin-left:-25px; margin-top:-5px;}
.christmas_img img{width:270px;}
.leftbox ul.first{ margin-top:3px!important;}
.borderrt{ border-right:2px solid #CCC; margin-right:29px; height:340px; margin-bottom:20px;}
.christmas_img{ background: url(images/chrimos.png); background-repeat:no-repeat; color:#ff0000; height:30px; background-size:300px 30px;
 padding-left:29px; padding-top:3px;    font-size: 16.75px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 21.5px;
}
.christmas_img,.contactus .form_title{ padding-bottom:10px;}
.bml_line{ display:none;}
.showtraingleblk{ display: block;}
.borderbtm{ 
/*
	 margin:0 auto;
	border-bottom:3px dotted gray;
	border-image-repeat: round round;
    border-image-slice: 33% 33% 33% 33%;
    border-image-source: url("../images/dots.svg");
	border-width:0px 0px 5px 0px; 
	*/
	border-bottom:2px solid #e0e0e0;
  }
  .clearfix {
	  clear:both;
	  }
#cbp-hrmenu > ul > li:hover .cbp-hrsub {
	display:block;
	}	  
.easterbanner img {
	max-width:100%;
	position: relative;
    left: -2px;
	}	
.easteremail a {
	color:#000;
	border-bottom:3px solid #c7eafc;
	padding-bottom:5px;
	display:inline-block;
	}	  
.easteremail .greeneaster, .easteremail .greeneaster a {
	    
	}
.easteremail .pinkeaster, .easteremail .pinkeaster a {
	color:#fbd7df;
	}
	.easteremail .pinkeaster a {
		 color: #124576;
    text-decoration: underline;
		 }
.easteremail h6 {
	font-size: 13px;
    text-align: center;
    padding: 20px 0px 35px 0px;
    letter-spacing: 0.3px;
	margin-bottom:35px;
	border-bottom: 1px solid #0d4872;
	}
	.easteremail span {
    color: #124576 !important;
}	
.middlebox {
	margin-bottom:30px;
	}	
li.times img {
    max-height: 20px;
    vertical-align: middle;
    padding-right: 10px;
    position: relative;
    margin-left: -25px;
}	 
.newcontact {
	font-size: 16px;
    
    border-bottom:2px solid #e0e0e0;
    padding-top: 30px;
    padding-bottom: 20px;
	}
.newcontact .newinlinetime {
    display: inline-block;
    vertical-align: top;
}
.contactblock {
	width:34%;
}
.timeblock {
	width:65.5%;
	}
.dayinline p{
	display:inline-block;
	padding-top: 0px;
    margin-bottom: 15px;
    font-size: 20px;
	color:#75787f;
	font-weight:400;
	}
.dayinline .contactday {
	width:75%;
	}
.numbercontact h2 {
	font-size:49.8px;
	font-weight:400;
	color:#344871;
    display: inline-block;
	}

.numbercontact h4 {
	font-size: 34px !important;
    font-weight: 400 !important;
    margin-bottom: 5px !important;
    color: #344871 !important;
    padding-bottom: 10px !important;
	}

#contactdrop .numbercontact h4 {
	font-size:24.7px !important;
	border:none !important;
	}
#contactdrop .numbercontact h2 {
	font-size: 35px;
    margin-top: 3px;
	line-height:normal !important;
	}
#contactdrop .dayinline p {
	margin-bottom:10px !important;
	}	
#contactdrop .addresscontact p {
	margin-bottom:0px !important;
	padding-top: 3px;
	}	
#contactdrop .addresscontact {
	font-size:15px;
	margin-bottom:0px;
	}
#contactdrop #request-call {
	font-weight: 400 !important;
    font-size: 18px !important;
	}	
#contactdrop .addresscontact a {
	color:#75787f !important;
	font-weight:400;
	font-size:15px !important;
	margin:0px !important;
	}		
.addresscontact a {
	color:#75787f !important;
	display:block;
	margin-top:10px;
	
	}
.newbottomnumber a {
    margin-top: 45px;
	display:inline-block;
	color: #344871 !important;
    font-size: 18px;
    font-weight: 400 !important;
    padding: 0px;
    background: none !important;
}				
#contactdrop .continueto p {
	padding-top:5px;
	
	}	
#contactdrop .continueto p a {
	font-size:20px !important;
	}	
#contactdrop .continueto p a:before {
	margin: 9px 0 0 -20px !important;
	}	
#contactdrop .continueto {
	font-size:15px;
	}
#contactdrop .addresscontact a:before {
    display: none !important;
}	
#contactdrop .numbercontact p, #contactdrop .continueto p {
	font-weight:400 !important;
	}	
.numbercontact p, .continueto p {
	font-weight:bold;
	font-size:20px;
	color:#344871;
	margin-bottom: 0px;
	}
#contactdrop .numbercontact {
	margin-bottom:10px !important;
	}	
.numbercontact {
	text-align:left;
	margin-bottom:10px;
	}
.newbottomnumber h2 {
    font-size: 18px;
    color: #75787f;
    font-weight: 400;
}	
.addresscontact p {
	margin-bottom:10px;
	padding-top:0px;
	font-weight:400;
	}		
.addresscontact {
	color:#75787f;
	font-size:18px;
	}
	
.addresscontact {
	color:#75787f;
	}
.newformwrap .forminline:last-child {
	}		
.newformwrap .forminline {
    width: 33.3%;
    vertical-align: top;
    float: left;
}		
.forminline label{
	font-size:16px;
	display:inline-block;
	margin-top:10px;
	color: #6687a6;
	}
.forminline input[type=radio] {
	
	height:20px;
	width:20px;
	vertical-align:middle;
}
.daytimewrap .today p {
	color:#f5641e;
	}	
	
#contactdrop .cbp-hrsub-inner {
	width: 100%;
    max-width: 980px !important;
    padding: 0;
    float: none;
	}	
.wrapper {
	}
#contactdrop .timeblock {
	width: 240px !important;
    margin-right: 20px;
	}		
#contactdrop .contactblock {
    width: 235px !important;
}
#contactdrop .dayline {
	text-align:left;
	}
#contactdrop .newcontact {
	border:none !important;
	padding: 45px 0px 0px 0px;
	}	
	
#contactdrop .dayinline .contactday	{
	width:58% !important;
	text-align: left;
	}
#contactdrop:hover .cbp-hrsub {
	display:block;
	top:inherit;
	z-index:-1;
	}
#contactdrop .cbp-hrsub-inner  div	{
	width:auto;
	text-align: left;
	}
#contactdrop .numbercontact h4 {
	padding:0px !important;
	}
.continueto.active {
	display:none;
	}
.newcenter {
    float: right !important;
    margin: 0px !important;
    width: 500px  !important;
	padding:0px !important;
}
#contactdrop .dayinline p {
    font-size: 16px;
	line-height:16px;
}
.formfields {
    margin-bottom: 20px;
}	
.formfields label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #6687a6;
	font-weight:normal;
}
.formfields input {
    width: 90%;
    height: 35px;
    padding: 0px 5px;
    border-radius: 8px;
    box-shadow: none;
    border: 1px solid #6687a6;
}
.formfields textarea {
    height: 30px;
    width: 98%;
    border-radius: 8px;
    box-shadow: none;
    border: 1px solid #6687a6;
}
.formwrap input[type=button] {
    background: #6687a6 !important;
    color: #FFF !important;
    font-size: 16px !important;
    height: 38px !important;
}		
.closetext {
	display:none;
	}
.popformfields {
	float:left;
	margin-bottom:10px;
	}
.fullpop {
	width:100%;
	}
.halfpop {
	width:50%;
	float:left;
	}	
.fullpop input {
	width:95% !important;
	height:30px;
	font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
	border-radius:10px;
	}		
.halfpop input[type=submit] {
	height:42px;
	width:95%;
	border-radius:10px;
	border:none;
	background:#7693af !important;
	color:#FFF !important;
	}
.popformfields input[type=text], .popformfields input[type=tel] {
	border: 1px solid #75787f !important;
	padding:5px !important;
	height:30px !important;
	border-radius:10px;
	}	
.halfpop input[type=text] {
	width:80% !important; 
	}
.popformfields label {
	color:#75787f;
	}
#popupform .carousel-control span {
	color:#000;
	}
.enquirywrap input{
	display:none;
	}	
.enquirywrap label p {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    margin: -15px 0px 0px 8px;
    cursor: pointer;
}		
.enquirywrap label:before {
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #344871;
    padding: 6px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    content: "";
}
.enquirywrap input:checked + label:after {
    -webkit-appearance: none;
    border: 1px solid #f5641e;
    background-color: #f5641e;
    padding: 6px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    content: "";
    left: 40px;
}	
.callbacktitle {
	color: #344871 !important;
    font-size: 22px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #767a81 !important;
    font-weight: normal;
    margin-top: 20px;
	background:#FFF;
	}		
.newformwrap {
    padding-bottom: 25px;
}
.thankyoupop, .outsidepoup, .bookthanks {
	display:none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(16, 70, 116, 0.67);
    top: 0px;
	z-index:3;
    left: 0px;
}	
.bookthanksinner {
	position: relative;
    top: 35%;
    height: 175px;
    max-width: 370px;
    background: #FFF;
    left: auto;
    right: auto;
    margin: 0 auto;
    padding: 20px 20px;
    width: 100%;
	text-align:left;
	}
.outsideinner {
	position: relative;
    top: 35%;
    height: 200px;
    max-width: 450px;
    background: #FFF;
    left: auto;
    right: auto;
    margin: 0 auto;
    padding: 20px 20px;
    width: 100%;
	text-align:left;
}	
.thanksinner {
    position: relative;
    top: 35%;
    height: 130px;
    max-width: 350px;
    background: #FFF;
    left: auto;
    right: auto;
    margin: 0 auto;
    padding: 20px 20px;
    width: 100%;
	text-align:left;
}
.bookthanksinner p {
	font-size:18px;
	padding-top:0px;
	}
.thanksinner p {
	font-size:14px;
	padding-top:0px;
	}
.outsideinner p {
	font-size:18px;
	padding-top:0px;
	}
.bookthanksinner h4 {
	border-bottom: 2px solid #6687a6;
    padding-bottom: 5px;
	color:rgb(16, 70, 116);
	font-size:22px;
	font-weight:bold;
	margin-top:0px;
	}		
.thanksinner h4{
    border-bottom: 2px solid #6687a6;
    padding-bottom: 5px;
	color:rgb(16, 70, 116);
	font-size:18px;
}		
.outsideinner h4 {
    border-bottom: 2px solid #6687a6;
    padding-bottom: 5px;
	color:rgb(16, 70, 116);
	font-size:22px;
	font-weight:bold;
	margin-top:0px;
}	
.bookthanksinner a {
	background: #6687a6;
    display: inline-block;
    padding: 5px 25px;
    color: #FFF;
    margin-top: 0px;
	font-size:18px;
    border-radius:0px;
	}	
.thanksinner a{
    background: #6687a6;
    display: inline-block;
    padding: 10px 20px;
    color: #FFF;
    margin-top: 25px;
    border-radius: 10px;
}
 .outsideinner a {
    background: #6687a6;
    display: inline-block;
    padding: 5px 25px;
    color: #FFF;
    margin-top: 0px;
	font-size:18px;
    border-radius:0px;
}
.popformfields {
	font-family:calibri;
	margin-bottom: 10px;
    display: block;
	}
.popformfields label {
	font-size:14px;
	font-weight:normal;
	color: #344871;
	}
	
/* new Blog Page */

.blogpostimage img {
	width:100% !important;
	}
		
.newblogtitledesk {
	font-size: 30px !important;
    padding-bottom: 10px !important;
    font-weight:bold;
    color: #003c70 !important;
	text-transform:capitalize !important;
	}
.newblogtitle {
	font-size: 30px !important;
    padding-bottom: 10px !important;
    color: #003c70 !important;
	text-transform:capitalize !important;
	}	
.dateandtitle {
	margin-bottom: 20px !important;
    border-bottom: 2px solid #d9d9d9 !important;
	}
.dateandtitle h1 {
	float:left;
	text-transform:capitalize !important;
	}
.dateandtitle .dateofpost {
	float:right;
     margin-top: 15px;
	 color:#75787f;
	 font-weight:normal;
	}
.dateandtitle  {
	font-size: 18px;
	font-weight:500;
    color:#b1b1b1 !important;
	margin-bottom: 20px;
	
	}		
.nweblogdesc p {
	font-size:18px;
	color: #75787f !important;
	font-weight:400;
	line-height:20px;
	padding-top:0px;
	padding-bottom:10px;
	}
.nweblogdesc {
	margin-bottom:20px;
	}
.latest-posts {
	margin-top:80px;
	}	
.latest-posts .newblogtitle {
	font-size:22px !important;
	display:block;
	border-bottom: 2px solid #e5e5e5;
	color:#0f4778 !important;
	margin-bottom:20px;
	font-weight:500;
	}	
.shareittool {
	display: inline-block;
    border-top: 2px solid #e5e5e5;
    padding-top: 5px;
	}
.horizon-swiper .titleofblog {
    position: absolute;
    bottom: 0px;
    background: rgba(255,255,255,0.9);
    padding: 15px 0px;
    z-index: 2;
    left: 0;
    width: 100%;
}	
.latest-posts .datebadge {
	display:none;
	}
.latest-posts h1 {
	text-transform:capitalize !important;
	}	
.horizon-swiper .horizon-next, .horizon-swiper .horizon-prev {
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 40px;
    border: none;
    outline: 0;
    background: center no-repeat;
}
.horizon-swiper .horizon-item {
	overflow: hidden;
	}
.horizon-swiper .blogwraps {
    max-width: 95%;
    overflow: hidden;
    margin: 0 auto;
}	
button.horizon-next {
	right:-50px !important;
	right: 5px;
    background: url(http://www.buildteam.com/images/news/arrow-next.jpg) no-repeat center !important;
	}	
button.horizon-prev {
	left:-50px !important;
	background: url(http://www.buildteam.com/images/news/arrow-prev.jpg) no-repeat center !important;
	}
.addthis_toolbox svg{
    background: #b1b1b1 !important;
}	
.addthis_toolbox img {
	height:16px;
	}
.addthis_toolbox a {
	margin-right:3px;
	}
.meet-team h2 {
    font-size: 30px !important;
    padding-bottom: 10px !important;
    margin-bottom: 20px !important;
    
    color: #003c70 !important;
}		
.meet-team h1{
	border-bottom: 2px solid #d9d9d9 !important;
	text-align:left;
	color: #003c70;
	margin-bottom:30px;
	font-size:22px;
	}
.full.meet-team {
    padding: 0px 15px;
}

/* books SV */

.ui-datepicker-prev {
	display:inline-block !important;
	left:inherit !important;
	right:25px;
	top:10px !important;
	}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	background:none !important;
	border:none !important;
	}	
span.ui-icon.ui-icon-circle-triangle-w {
    background: url(../images/date-right-arrow.png) !important;
    font-size: 0px !important;
    height: 30px !important;
    width: 30px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}	
.book-wrap a.book-now {
	position:relative;
	z-index:2;
	}					
@media (min-width:640px) {	
#dialog-request2, #dialog-request {
	padding:0px 40px;
	}
.forthedesktop {
	display:block;
	}
.forthemobile {
	display:none !important;
	}	
.popformfields:nth-child(3) {
    margin-top: 20px;
	margin-bottom:20px;
}
ul.news {
	width: 1015px;
    margin-left: -15px;
	}
.mobileheader {
	display:none;
	}
.newdesktitle {
	display:block !important;
	}
.newcolone {
	width:28%;
	margin-right:2%;
	float:left;
	}
.newcolone {
	
	}		
.newcolthree {
	width:70%;
	float:left;
	}			
}
@media (max-width:640px) {
	.lightbox_inner {
	width:100% !important;
	}
.forthemobile {
	display:block;
	padding-bottom:30px;
	}
.forthedesktop {
	display:none !important;
	}
.callbacktitle {
	margin-top:0px;
	}
.timewrap .carousel-control {
	}
.timewrap .carousel-control.left {
	left:-30px !important;
	}						
.timewrap .carousel-control.right {
    right: -30px !important;
    left: auto;
}
.full.contactus {
    padding: 0px 15px;
}
.newbottomnumber a {
	}	
.pertiday label {
	font-size:12px !important;
	}	
.pertime label {
	font-size:12px !important;
	}
.daycont .pertiday, .timecont .pertime{
    
    width: 34px !important;
    
}	
.ui-widget.ui-widget-content {
	max-height:505px;
	width:300px;
	max-width:inherit !important;
	}
#fm_book_visit	.ui-widget.ui-widget-content  {
	width:100% !important;
	}
.numbercontact h2 {
	font-size:45px !important;
	}
.enquirywrap input:checked + label:after {
	left:16px !important;
	}
.blogwraps img {
	 width:100% !important;
	 }
ul.news {
	text-align:center;
	}	 
ul.news li {
	width:90% !important;
	margin:0 auto;
	text-align:left;
	}	
.blogwraps {
	width:100% !important;
	}	 
.catfilter li {
	padding:10px 9px !important;
	}
.newblogtitle {
	margin-left:10px;
	}		
.catfilter {
	max-width:320px;
	margin:0 auto;
	}	
.newblogtitle {
	font-size:16px !important;
	margin-left:0px !important;
	max-width:80%;
	}	
.dateandtitle .dateofpost {
	margin-top:40px !important;
	}
.horizon-swiper .horizon-item {
	width:50% !important;
	}
.horizon-swiper .titleofblog {
	    font-size: 10px !important;
	}	
.horizon-swiper .horizon-inner {
	
	}	
.catfilter {
	display:none;
	}
.mobileheader .newblogtitle {
	float:left;
	}
.catfiltermobile {
	float:right;
	list-style:none;
	margin-top:8px;
	}
.catfiltermobile li a {
	font-size:20px;
	}	
.mobileheader {
	border-bottom: 2px solid #e5e5e5;
	margin:0px 13px;
	}		
.newblogtitledesk {
	display:none;
	}
.full.newfull {
    padding: 0px 15px;
}	
.newblogtitle strong {
	display:block;
	font-size: 30px;
    margin-bottom: 10px;
	}
.nweblogdesc p {
	padding-top: 10px;
    padding-bottom: 10px;
    color: #9ea2a6 !important;
    font-size: 15px !important;
    font-weight: normal !important;
    text-align: justify !important;
    width: 100% !important;
    line-height: 20px !important;
    font-family: calibri !important;
	}							
	}
.daycont .pertiday input, .timecont .pertime input {
	display:none;
	}
.pertiday label {
	color:#767a81;
	font-weight:500;
	}	
.pertime label {
	color:#75787f;
	font-weight:500;
	}		
.daycont .pertiday{
    display: inline-block;
    width: 47px;
    text-align: center;
    font-size: 18px;
}
.daycont {
    border-top: 1px solid #767a81;
    border-bottom: 1px solid #767a81;
    padding: 5px 0px;
}
.timecont {
    border-bottom: 1px solid #767a81;
    padding: 5px 0px;
	position:relative;
}
.timecont .pertime{ 
	display: inline-block;
    width: 47px;
    text-align: center;
    font-size: 18px;
}
input#popsubmitbutton {
    background: #6687a6;
    border: none;
    width: 150px;
    height: 40px;
    color: #FFF;
    font-size: 16px;
	border-radius: 10px;
}
.timewrap .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.timewrap .carousel-inner>.item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
}
.timewrap .slide {
	display:none;
	}
@media all and (transform-3d),(-webkit-transform-3d) {
  .timewrap .carousel-inner>.item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .timewrap .carousel-inner>.item.active.right,.timewrap .carousel-inner>.item.next {
    left: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }

  .timewrap .carousel-inner>.item.active.left,.timewrap .carousel-inner>.item.prev {
    left: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }

  .carousel-inner>.item.active,.timewrap .carousel-inner>.item.next.left,.timewrap .carousel-inner>.item.prev.right {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
}

.timewrap .carousel-inner>.active,.timewrap .carousel-inner>.next,.timewrap .carousel-inner>.prev {
  display: block;
}

.carousel-inner>.active {
  left: 0;
}

.timewrap .carousel-inner>.next,.timewrap .carousel-inner>.prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.timewrap .carousel-inner>.next {
  left: 100%;
}

.timewrap .carousel-inner>.prev {
  left: -100%;
}

.timewrap .carousel-inner>.next.left,.timewrap .carousel-inner>.prev.right {
  left: 0;
}

.timewrap .carousel-inner>.active.left {
  left: -100%;
}

.timewrap .carousel-inner>.active.right {
  left: 100%;
}

.timewrap .carousel-control {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  opacity:1;
  font-family: monospace;
}

.timewrap .carousel-control.left {
  left:-40px
}

.timewrap .carousel-control.right {
  right: -40px;
  left: auto;
}

.timewrap .carousel-control:focus,.timewrap .carousel-control:hover {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}

.timewrap .carousel-control .glyphicon-chevron-left,.timewrap .carousel-control .glyphicon-chevron-right,.timewrap .carousel-control .icon-next,.timewrap .carousel-control .icon-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}

.timewrap .carousel-control .glyphicon-chevron-left,.timewrap .carousel-control .icon-prev {
  left: 50%;
  margin-left: -10px;
}

.timewrap .carousel-control .glyphicon-chevron-right,.timewrap .carousel-control .icon-next {
  right: 50%;
  margin-right: -10px;
}

.timewrap .carousel-control .icon-next,.timewrap .carousel-control .icon-prev {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}

.timewrap .carousel-control .icon-prev:before {
  content: '\2039';
}

.timewrap .carousel-control .icon-next:before {
  content: '\203a';
}
@media screen and (min-width:768px) {
  .timewrap .carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next,.carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }

  .timewrap .carousel-control .glyphicon-chevron-left,.timewrap .carousel-control .icon-prev {
    margin-left: -10px;
  }

  .timewrap .carousel-control .glyphicon-chevron-right,.timewrap .carousel-control .icon-next {
    margin-right: -10px;
  }

  .timewrap .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }

  .timewrap .carousel-indicators {
    bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
 	.leftbox{ width:100%; text-align:center; padding-left:0px; border-bottom:1px solid #999;}
 	.middlebox{ width:100%; text-align:center; border-bottom:1px solid #999;}
  	.rightbox{width:95%; text-align:center; margin-top:20px;}
	.contactus h1{ text-align:left;}
	.contactus .form_title{ text-align:center; }
	.borderrt{border-right:none; height:auto; margin-right:0px;}
	.contactus form input[type="text"]{ text-align:left; width:100%;}
	.contactus form textarea{ text-align:left; }
	.contactus form input[type="submit"]{ float:none; height:35px; width:105% !important;}
	.christmas_img{ background-position:center;padding-left:0px; margin-left:5px; padding-top:9px; letter-spacing:1px;}
	.map_bl_text{width:100%;}
	.christmas_img,.contactus .form_title{ padding-bottom:0px;}
	.bml_line{ display:block; float:left; width:100%; margin:20px 0px;}
.showtraingleblk{ display:none;}
 .contactus h1{
	  line-height: 14.5px;
	  padding-left:0px;
 }
.exact_mbl{ width:300px; margin:0 auto;}
.main {
	padding: 110px 0 0 0 !important;
	}
.easteremail h6 {
	line-height: 15px;
	}
.map_bl_text {
	margin: 15px auto 0 !important;
	}
.middlebox {
	padding:20px 0px;
	}
.rightbox {
	padding-bottom:20px;
	}
.newinlinetime {
	width:100% !important;
	}	
.dayinline .contactday {
	width:65%;
	text-align:left;
	}
.numbercontact {
	margin-top:0px;
	}
.newformwrap .forminline {
	width:100%;
	text-align:left;
	}
.newformwrap .forminline:last-child {
	margin-left:0px;
	}
.newbottomnumber a {
	margin-top:20px;
	}
.formfields textarea {
	width:102%;
	}
.below_img img {
	margin-bottom:20px;
	}				
						
}
@media (max-width:640px) {
	.fordeskeaster, .fordesktype {
		display:none !important;
		}
	.formobileeaster, .formobiletype {
		display:block;
		}
	.easteremail a {
		padding-bottom:0px;
		border:none;
		color:#193e70;
		}
				
	}
@media (min-width:640px) {
	.fordeskeaster, .fordesktype {
		display:block;
		}
	.formobileeaster, .formobiletype {
		display:none !important;
		}
	* {
    -webkit-box-sizing:inherit !important;
    -moz-box-sizing:inherit !important;
    box-sizing:inherit !important;
}		
	}  