body {
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	margin:0;
	padding:0;
}

body.team {
	height:100%;
	width:100%;
	background:#fff;
	padding:0;
	margin:0;
	padding-left:10px;
	overflow:hidden;
}
h1, h2, h3 {
	padding:0;
	margin:0;
	font-size:13px;
}
h1 {
	font-size:22px;
	padding:10px;
	padding-left:0;
	text-transform:uppercase;
}
p {
	padding-top:15px;
}
ul {
	/*padding-left:40px;*/
}

ul.news {
	list-style:none;
}

/*ul.news, ul.news ol {
	padding-left:20px;
}*/
ul.news li, ul.news ol {
	border-bottom:1px solid black;
	padding:10px 0;
}

ul.press_releases {
  list-style:none;
  margin:0;
  padding:0;
}

div.thumb {
   float:left;
	/*width:150px;
	height:120px;*/
	clear:both;
	text-align:center;
	margin-right:14px;
}

div.thumb img {
   width:100%;
   max-width:320px;
}

div.release {
	float:left;
	margin-top:-4px;
}

div.release a {
	font-size:19px;
}

div.release div.download {
	margin-top:14px;	
}

div.release div.brief {
	margin-top:14px;
}

div.release div.download a {
   color:#009933;
	font-size:12px;
}

ul.press_releases li {
   display:block;
   border-bottom:1px solid #ddd;
   clear: both;
   float:left;
	margin:0;
	padding:0;
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
}

div.release div.date {
	color:grey;
	font-size:12px;
	margin-top:2px;
}

table {
	width:100%;
	border:0;
	border-spacing:0;
	border-collapse:collapse;
	padding:0;
	margin:0;
}
td, th {
	padding:0;
	text-align:left;
}
a {
	color:#263c76;
	text-decoration:none;
}
a:hover {
	color:#009933;
	text-decoration:underline;
}
#main {
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	width:932px;
	background:#fff;
}
#menu {
}
#header {
	min-height:100px;
	/*padding-top:18px;
	padding-bottom:0;*/
	padding: 10px 0;
}
#header .logo {
	/*width:600px;*/
	float:left;
}
#header .logo img {
  width:280px;
  height:85px;
}

#header .logo h2 {
	color:#808284;
	font-size:19px;
	font-weight:bold;
	padding:0;
	padding-top:4px;
	margin:0;	
}
#header .call {
	/*width:300px;*/
	vertical-align:middle;
	padding-top:10px;
	float:right;
	text-align:right;
	color:#808284;
	font-weight:bold;
	font-size:16px;
	padding:0;
	margin:0;
}
#header .call a {
	color:#808284;
	text-decoration:none;
}
#header .call a:hover {
	text-decoration:underline;
}
#header .call h2 {
	color:#293473;
	font-size:25px;
	font-weight:bold;
	padding:0;
	margin:0;
}
#content {
	min-height:300px;
}
#content .full {
	padding-top:20px;
	
}
#content .left {
	width:560px;
	float:left;
	padding:20px;
	padding-left:0;
}

#content .left h2 {
	color:#263c76;
	font-size:26px;
	font-weight:normal;
	letter-spacing:2px;
}

#home-left {
	margin-top:20px;
	width:440px;
	float:left;
}
#home-right {
	margin-top:20px;
	width:158px;
	float:left;
}
#content .left .video {
	width:440px;
}
#content .left .links {
	width:440px;
}

ul#quotes {
	height:155px;
	padding:5px 0 5px 0;
	margin:0;
	list-style:none;
	overflow:hidden;
	color:#000;
}
ul#quotes li {
	padding-top:10px;
}
ul#quotes li a{
	color: #fff;
	text-decoration: none;
}

ul#promos, ul#links {
	padding:0;
	margin:0;
	list-style:none;
}
ul#promos li {
	width:200px;
	font-weight:bold;
	display:block;
	margin:0;
	margin-top:10px;
}
ul#promos li a {
	display:block;
	font-size:13px;
	width:200px;
	height:57px;
	vertical-align:middle;
}

div#promos .promo-holder {
	margin-top:15px;
	width:200px;
	height:57px;
	vertical-align:middle;
}
div#promos .promo-sm {
	width:200px;
	height:57px;
	vertical-align:middle;
}
div#promos .inner {
	padding:5px 5px 0 55px;
	vertical-align:middle;
	font-size:10px;
}
div#promos .inner h3 {
	font-size:11px;
	font-weight:bold;
	color:#243d76;
	margin:0;
}
div#promos .inner_top h3 {
	font-size:12px;
	font-weight:bold;
	color:#243d76;
	margin:0 0 5px 0;
}
div#promos .inner_top {
	height:143px;
	padding:15px;
	vertical-align:middle;
	font-size:11px;
}
div#promos .promo-lg {
	display:none;
	width:200px;
	height:230px;
	vertical-align:middle;
	position:absolute;
	margin-top:-173px;
}
div#promos .promo-lg1 {
	display:none;
	width:200px;
	height:230px;
	vertical-align:middle;
	position:absolute;
	margin-top:-173px;
}


div#promos_hor .promo-holder {
	margin-top:10px;
	width:200px;
	height:57px;
	vertical-align:middle;
}
div#promos_hor .flt {
	float:left;
	width:200px;
}
div#promos_hor .flt-r {
	float:right;
	width:200px;
}

div#promos_hor .pad {

	margin-right:15px;

}

div#promos_hor .promo-sm {

	width:200px;

	height:57px;

	vertical-align:middle;

}

div#promos_hor .promo-sm  .inner{

	padding:5px 5px 0 55px;

	vertical-align:middle;

	font-size:10px;

}

div#promos_hor .promo-sm .inner h3 {

	font-size:11px;

	font-weight:bold;

	color:#243d76;

	margin:0;

}

div#promos_hor .promo-lg {

	display:none;

	width:200px;

	height:230px;

	vertical-align:middle;

	position:absolute;

	margin-top:-173px;

}



div#promos_hor .promo-lg1 {

	display:none;

	width:200px;

	height:230px;

	vertical-align:middle;

	position:absolute;

	margin-top:-173px;

}
#social {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}
#facebook {
    float: left;
}
#tweets {
    float: right;
    width: 450px;
}
.twtr-widget {
    float: right !important;
}
#contacttweets {
    float: left;
    margin: 35px 0 0;
}
#twtr-widget-1 .twtr-tweet-text {
    margin-bottom: 2px;
    margin-left: 0;
    margin-top: 2px;
}
#contacttweets #twtr-widget-1 .twtr-tweet-text {
    margin-bottom: 7px;
    margin-left: 0;
    margin-top: 6px;
}
.twtr-tweets {
    height: 202px;
}
ul#links li {

	width:155px;

	height:50px;

	background:url(../images/h2_bg1.gif) no-repeat;

	font-size:12px;

	display:block;

	margin:0;

	padding:0;

	margin-bottom:10px;
	
	float:left;

}



ul#links li a {

	display:block;

	height:40px;

	color:#fff;

	text-shadow:0 1px 0 #000;

	background-repeat:no-repeat;

	background-position:right;

	text-decoration:none;

	text-align:right;

	padding-right:100px;

	padding-top:10px;

	font-size:12px;

	font-weight:normal;

}

ul#links li a.tree {

	background-image:url(../images/h2_tree.jpg);

}

ul#links li a.qual {

	background-image:url(../images/h2_qual.jpg);

}

ul#links li a.van {

	background-image:url(../images/h2_van.jpg);

}

ul#links li a.scales {

	background-image:url(../images/h2_scales.jpg);

}

ul#links li a:hover {

	text-decoration:none;

	color:#999;

}

ul.check li {

	list-style:none;

	background:url('/images/thick.png') no-repeat;

	padding-left:35px;

	padding-bottom:10px;

}

.clive {

	background:url(../images/ask_clive2.gif) no-repeat;

	width:180px;

	height:80px;

	padding-top:55px;

	padding-left:10px;

	padding-right:10px;

	font-size:10px;

}

.clive p {

	margin:0;

	padding-top:5px;

}

.clive a {

	color:#fff;

}

#content .right {

	width:326px;

	min-height:460px;

	float:right;

	text-align:center;

	vertical-align:middle;

	/*overflow:hidden;*/

}

#content .right img {

	margin:auto;
	margin-top:11px;
   max-width: 326px;
}



#photos {

	width:800px;

	margin-left:auto;

	margin-right:auto;

}





#the-team {

	/*width:840px;*/
	width: 100%;

	margin:0 auto 0 auto;

}

#the-team .team-member {

	width:155px;

	padding:10px 0 30px 0;

	float:left;

	text-align:center;

}



#bc {

	font-size:11px;

	padding:0 0 5px 0;

	color:#777;

	border-bottom:1px dashed #ccc;

	text-align:right;

}

#bc a {

	color:#777;

	text-decoration:none;

	font-style:italic;

}

#bc b {

	color:#555;

	font-weight:normal;

}













#footer {
	border-top:1px solid #293473;
	margin-top:15px;
	padding-top:15px;
	color:#999999;
	font-size:11px;
	padding-bottom:50px;
}
#footer a {
	color:#999;
}
#footer .left {
	width:600px;
	float:left;
	text-align:left;
}



#footer .right {
	width:300px;
	float:right;
	text-align:right;
}

#footer .right .links {
	padding:10px;
	text-align:right;
	letter-spacing:normal;
}

#footer .right .links a {
	display:inline-block;
	padding:0 10px 0 10px;
	text-decoration:underline;
}

#footer .right em {	
	letter-spacing:2px;
	font-style:normal;
}

div.block-quote {

}

div.block-quote b {


	font-style:normal;

}





img {

	border:0;

}

img.pad {

	margin-left:20px;

	margin-bottom:20px;

}



body.team h1 {

	font-family:Georgia, "Times New Roman", Times, serif;

	display:none;

}



body.team table th {

	padding:10px;

	font-weight:normal;

	text-align:justify;

}





table.t_pricing {

	border:1px solid #ccc;

}

table.t_pricing th  {

	border:1px solid #ccc;

	padding:5px;

	background:#f4f4f4;

}

table.t_pricing td  {

	border:1px solid #ccc;

	padding:5px;

}





div.logo-sm {

	width:150px;

	float:left;

	text-align:center;

	vertical-align:middle;

}

div.clear {

	clear:both;

}

span.sm {

	font-size:20px;

}

span.gry {

	color:#999;

}





input, select, textarea {

font:normal 12px Arial, Helvetica, sans-serif;

color:#666;

vertical-align: baseline;

}

input.input, select.input {

width:400px;

display:block;

border:1px solid #e5e5e5;

background:#f5f5f5;

font-style:italic;

padding:10px;

margin-bottom:10px;

color:#777;

}

textarea.input {

width:400px;

display:block;

border:1px solid #e5e5e5;

background:#f5f5f5;

font-style:italic;

padding:10px;

margin-bottom:10px;

color:#777;

}

input.input-on, textarea.input-on, label.input-on {

font-style:normal;

color:#4b4d4a;

}



input.btn-send {

background:#263c76;

color:#fff;

border:1px solid #000;

}



.footer_h2 {		

	padding-top:5px;

	color:#263c76;

	font-size:11px;

	letter-spacing:1px;

	text-align:center;

	width:100%;

}




















/* v2 */

.top_carousel {
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
}

.box-180 {
	width:180px;
	height:180px;
	margin-right:8px;
	float:left;
	background-repeat:no-repeat;
}

.box-180-last {
	width:180px;
	height:180px;
	margin-right:0;
	float:left;
	background-repeat:no-repeat;
}
.p {
	padding:125px 5px 0 5px;
	line-height:16px;
}
.box-180 h3, .box-180-last h3  {
	/*color:#293473;
	font-size:14px;
	height:20px;*/

	color: #003979;
	font-size: 14px;
	height: 20px;
	font-family: 'Lato';
}
.box-team {
	background-image:url('../images/180-team.jpg');
}
.box-byp {
	background-image:url('../images/180-byp.jpg');
}
.box-architect {
	background-image:url('../images/180-architect.jpg');
}
.box-side-return {
	background-image:url('../images/180-side-return.jpg');
}
.box-house {
	background-image:url('../images/180-house.jpg');
}

.box-specialist {
	background-image:url('../images/180-specialist.jpg');	
}

.box-clive {
	background-image:url('../images/bg_ask_clive.jpg');
	padding-left:225px;
	padding-top:8px;
	width:245px;
	height:36px;
	color:#fff;
	font-size:11px;
}
.box-clive a {
	font-weight:bold;
	color:#fff;
}
.home-content {
	padding-top:15px;
}
.home-left {
	width:465px;
	float:left;
}
.home-right {
	width:450px;
	height:270px;
	float:right;
}
.quotes {
	width:445px;
	height:140px;
	background:#e7e7e8;
	margin-top:15px;
	margin-bottom:15px;
	padding:10px;
}
.quotes h3 a {
	color:#000;
	font-size:18px;
	font-weight:normal;
}
.logos .img {
	margin-right:5px;
}
#banner5 {
  background-image:url('../banners/banner_a5.png');
  display:block;
  float:left;
  font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
  width:465px;
	height:150px;
}

#banner5:hover {
  text-decoration:none;
}
#banner5  span {
  display:block;
  float:left;
}
#banner_fee {
  color:#263c76;
  font-size:34px;
  margin-left:180px;
  margin-top:6px;
}
#banner_date {
  color:#747474;
  clear:left;
  font-size:18px;
  margin-left:285px;
  margin-top:-8px;
}