body {
    background:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000;
    margin:0;
    padding:0;
}
.automatedbanner {
	background:rgba(255,255,255,0.7);
	padding:10px 0px;
	margin:0px;
	color:#384f7b;
	font-size:20px;
	position: absolute;
    z-index: 2;
    top: 0px;
    width: 100%;
	display:none;
	}
@media (max-width:640px) {
	.automatedbanner {
		font-size:14px !important;
		}
	}	
.SliderLayeredtop {
	top:10% !important;
	}	
.automatedbanner p {
	padding:0px !important;
	}	
#yellowline a{
    color: #fff;

}
#yellowline a:hover {
    text-decoration: none;
}
body.team {
    height:100%;
    width:100%;
    background:#fff;
    padding:0;
    margin:0;
    padding-left:10px;
    overflow:hidden;
}
h1, h2, h3 {
    padding:0;
    margin:0;
    font-size:13px;
}
h1 {
    font-size:22px;
    padding:10px;
    padding-left:0;
    text-transform:uppercase;
}
p {
    padding-top:15px;
}

ul.news {
    list-style:none;
}

ul.news li, ul.news ol {
    border-bottom:1px solid black;
    padding:10px 0;
}

ul.press_releases {
    list-style:none;
    margin:0;
    padding:0;
}

div.thumb {
    float:left;
    /*width:150px;
    height:120px;*/
    clear:both;
    text-align:center;
    margin-right:14px;
}

div.thumb img {
    width:100%;
    max-width:320px;
}

div.release {
    float:left;
    margin-top:-4px;
}

div.release a {
    font-size:19px;
}

div.release div.download {
    margin-top:14px;	
}

div.release div.brief {
    margin-top:14px;
}

div.release div.download a {
    color:#009933;
    font-size:12px;
}

ul.press_releases li {
    display:block;
    border-bottom:1px solid #ddd;
    clear: both;
    float:left;
    margin:0;
    padding:0;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
}

div.release div.date {
    color:grey;
    font-size:12px;
    margin-top:2px;
}

table {
    width:100%;
    border:0;
    border-spacing:0;
    border-collapse:collapse;
    padding:0;
    margin:0;
}
td, th {
    padding:0;
    text-align:left;
}
a {
    color:#263c76;
    text-decoration:none;
}
.cbp-hrmenu .cbp-hrsub-inner a {
	color:#263c76 !important;
	}
a:hover {
    /*color:#009933;*/
    text-decoration:none;
}
.main {
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    max-width:932px;
    background:#fff;
    width:97%;
}
#menu {
}
#header {
    min-height:100px;
    /*padding-top:18px;
    padding-bottom:0;*/
    padding: 10px 0;
}
#header .logo {
    /*width:600px;*/
    float:left;
}
#header .logo img {
    width:280px;
    height:85px;
}

#header .logo h2 {
    color:#808284;
    font-size:19px;
    font-weight:bold;
    padding:0;
    padding-top:4px;
    margin:0;	
}
#header .call {
    /*width:300px;*/
    vertical-align:middle;
    padding-top:10px;
    float:right;
    text-align:right;
    color:#808284;
    font-weight:bold;
    font-size:16px;
    padding:0;
    margin:0;
}
#header .call a {
    color:#808284;
    text-decoration:none;
}
#header .call a:hover {
    text-decoration:underline;
}
#header .call h2 {
    color:#293473;
    font-size:25px;
    font-weight:bold;
    padding:0;
    margin:0;
}
#content {
    min-height:300px;
}
#content .full {
    padding-top:20px;

}
#content .left {
    width:560px;
    float:left;
    padding:20px;
    padding-left:0;
}

#content .left h2 {
    color:#263c76;
    font-size:26px;
    font-weight:normal;
    letter-spacing:2px;
}

#home-left {
    margin-top:20px;
    width:440px;
    float:left;
}
#home-right {
    margin-top:20px;
    width:158px;
    float:left;
}
#content .left .video {
    width:440px;
}
#content .left .links {
    width:440px;
}

ul#quotes {
    height:auto;
    padding:5px 0 5px 0;
    margin:0;
    list-style:none;
    overflow:hidden;
    color:#000;
}
ul#quotes li {
    padding-top:10px;
}
ul#quotes li a{
    color: #fff;
    text-decoration: none;
}

ul#promos, ul#links {
    padding:0;
    margin:0;
    list-style:none;
}
ul#promos li {
    width:200px;
    font-weight:bold;
    display:block;
    margin:0;
    margin-top:10px;
}
ul#promos li a {
    display:block;
    font-size:13px;
    width:200px;
    height:57px;
    vertical-align:middle;
}

div#promos .promo-holder {
    margin-top:15px;
    width:200px;
    height:57px;
    vertical-align:middle;
}
div#promos .promo-sm {
    width:200px;
    height:57px;
    vertical-align:middle;
}
div#promos .inner {
    padding:5px 5px 0 55px;
    vertical-align:middle;
    font-size:10px;
}
div#promos .inner h3 {
    font-size:11px;
    font-weight:bold;
    color:#243d76;
    margin:0;
}
div#promos .inner_top h3 {
    font-size:12px;
    font-weight:bold;
    color:#243d76;
    margin:0 0 5px 0;
}
div#promos .inner_top {
    height:143px;
    padding:15px;
    vertical-align:middle;
    font-size:11px;
}
div#promos .promo-lg {
    display:none;
    width:200px;
    height:230px;
    vertical-align:middle;
    position:absolute;
    margin-top:-173px;
}
div#promos .promo-lg1 {
    display:none;
    width:200px;
    height:230px;
    vertical-align:middle;
    position:absolute;
    margin-top:-173px;
}


div#promos_hor .promo-holder {
    margin-top:10px;
    width:200px;
    height:57px;
    vertical-align:middle;
}
div#promos_hor .flt {
    float:left;
    width:200px;
}
div#promos_hor .flt-r {
    float:right;
    width:200px;
}

div#promos_hor .pad {

    margin-right:15px;

}

div#promos_hor .promo-sm {

    width:200px;

    height:57px;

    vertical-align:middle;

}

div#promos_hor .promo-sm  .inner{

    padding:5px 5px 0 55px;

    vertical-align:middle;

    font-size:10px;

}

div#promos_hor .promo-sm .inner h3 {

    font-size:11px;

    font-weight:bold;

    color:#243d76;

    margin:0;

}

div#promos_hor .promo-lg {

    display:none;

    width:200px;

    height:230px;

    vertical-align:middle;

    position:absolute;

    margin-top:-173px;

}



div#promos_hor .promo-lg1 {

    display:none;

    width:200px;

    height:230px;

    vertical-align:middle;

    position:absolute;

    margin-top:-173px;

}
#social {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}
#facebook {
    float: left;
}
#tweets {
    float: right;
    width: 450px;
}
.twtr-widget {
    float: right !important;
}
#contacttweets {
    float: left;
    margin: 35px 0 0;
}
#twtr-widget-1 .twtr-tweet-text {
    margin-bottom: 2px;
    margin-left: 0;
    margin-top: 2px;
}
#contacttweets #twtr-widget-1 .twtr-tweet-text {
    margin-bottom: 7px;
    margin-left: 0;
    margin-top: 6px;
}
.twtr-tweets {
    height: 202px;
}
ul#links li {

    width:155px;

    height:50px;

    background:url(../images/h2_bg1.gif) no-repeat;

    font-size:12px;

    display:block;

    margin:0;

    padding:0;

    margin-bottom:10px;

    float:left;

}



ul#links li a {

    display:block;

    height:40px;

    color:#fff;

    text-shadow:0 1px 0 #000;

    background-repeat:no-repeat;

    background-position:right;

    text-decoration:none;

    text-align:right;

    padding-right:100px;

    padding-top:10px;

    font-size:12px;

    font-weight:normal;

}

ul#links li a.tree {

    background-image:url(../images/h2_tree.jpg);

}

ul#links li a.qual {

    background-image:url(../images/h2_qual.jpg);

}

ul#links li a.van {

    background-image:url(../images/h2_van.jpg);

}

ul#links li a.scales {

    background-image:url(../images/h2_scales.jpg);

}

ul#links li a:hover {

    text-decoration:none;

    color:#999;

}

ul.check li {
	padding-bottom:10px;

}

.clive {

    background:url(../images/ask_clive2.gif) no-repeat;

    width:180px;

    height:80px;

    padding-top:55px;

    padding-left:10px;

    padding-right:10px;

    font-size:10px;

}

.clive p {

    margin:0;

    padding-top:5px;

}

.clive a {

    color:#fff;

}

#content .right {

    width:326px;

    min-height:460px;

    float:right;

    text-align:center;

    vertical-align:middle;

    /*overflow:hidden;*/

}

#content .right img {

    margin:auto;
    margin-top:11px;
    max-width: 326px;
}



#photos {

    width:800px;

    margin-left:auto;

    margin-right:auto;

}





#the-team {

    width: 100%;
    margin:0 auto;
    display: inline-block;
	position:relative;
	z-index:2;

}

#the-team .team-member {

    width:155px;

    padding:10px 0 30px 0;

    float:left;

    text-align:center;

}



#bc {

    font-size:11px;

    padding:0 0 5px 0;

    color:#777;

    border-bottom:1px dashed #ccc;

    text-align:right;

}

#bc a {

    color:#777;

    text-decoration:none;

    font-style:italic;

}

#bc b {

    color:#555;

    font-weight:normal;

}













#footer {
    border-top:1px solid #293473;
    margin-top:15px;
    padding-top:15px;
    color:#999999;
    font-size:11px;
    padding-bottom:50px;
}
#footer a {
    color:#999;
}
#footer .left {
    width:600px;
    float:left;
    text-align:left;
}



#footer .right {
    width:300px;
    float:right;
    text-align:right;
}

#footer .right .links {
    padding:10px;
    text-align:right;
    letter-spacing:normal;
}

#footer .right .links a {
    display:inline-block;
    padding:0 10px 0 10px;
    text-decoration:underline;
}

#footer .right em {	
    letter-spacing:2px;
    font-style:normal;
}

div.block-quote {

}

div.block-quote b {


    font-style:normal;

}





img {

    border:0;

}

img.pad {

    margin-left:20px;

    margin-bottom:20px;

}



body.team h1 {

    font-family:Georgia, "Times New Roman", Times, serif;

    display:none;

}



body.team table th {

    padding:10px;

    font-weight:normal;

    text-align:justify;

}





table.t_pricing {

    border:1px solid #ccc;

}

table.t_pricing th  {

    border:1px solid #ccc;

    padding:5px;

    background:#f4f4f4;

}

table.t_pricing td  {

    border:1px solid #ccc;

    padding:5px;

}





div.logo-sm {

    width:150px;

    float:left;

    text-align:center;

    vertical-align:middle;

}

div.clear {

    clear:both;

}

span.sm {

    font-size:20px;

}

span.gry {

    color:#999;

}





input, select, textarea {

    font:normal 12px Arial, Helvetica, sans-serif;

    color:#666;

    vertical-align: baseline;

}

input.input, select.input {

    width:400px;

    display:block;

    border:1px solid #e5e5e5;

    background:#f5f5f5;

    font-style:italic;

    padding:10px;

    margin-bottom:10px;

    color:#777;

}

textarea.input {

    width:400px;

    display:block;

    border:1px solid #e5e5e5;

    background:#f5f5f5;

    font-style:italic;

    padding:10px;

    margin-bottom:10px;

    color:#777;

}

input.input-on, textarea.input-on, label.input-on {

    font-style:normal;

    color:#4b4d4a;

}



input.btn-send {

    background:#263c76;

    color:#fff;

    border:1px solid #000;

}



.footer_h2 {		

    padding-top:5px;

    color:#263c76;

    font-size:11px;

    letter-spacing:1px;

    text-align:center;

    width:100%;

}




















/* v2 */

.top_carousel {
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
}

.box-180 {
    width:180px;
    height:180px;
    margin-right:8px;
    float:left;
    background-repeat:no-repeat;
}

.box-180-last {
    width:180px;
    height:180px;
    margin-right:0;
    float:left;
    background-repeat:no-repeat;
}
.p {
    bottom: 18px;
    line-height: 18px;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    color:#384f7b;
    /*padding:125px 5px 0 5px;
    line-height:16px;*/
}
.box-180 h3, .box-180-last h3  {
    /*color:#293473;
    font-size:14px;
    height:20px;*/

    color: #003979;
    font-size: 14px;
    height: 20px;
    font-family: 'Lato';
}
.box-team {
    /*background-image:url('../images/180-team.jpg');*/
    background-image:url('../images/4.png');
    min-height:239px;
}
.box-byp {
    background-image:url('../images/180-byp.jpg');
}
.box-architect {
    /*background-image:url('../images/180-architect.jpg');*/
    background-image:url('../images/1.png');
    min-height:239px;
}
.box-side-return {
    /*background-image:url('../images/180-side-return.jpg');*/
    background-image:url('../images/2.png');
    min-height:239px;
}
.box-house {
    /*background-image:url('../images/180-house.jpg');*/
    background-image:url('../images/side_return.jpg');
    min-height:239px;
}

.box-specialist {
    background-image:url('../images/180-specialist.jpg');		
}

.box-clive {
    background-image:url('../images/bg_ask_clive.jpg');
    padding-left:225px;
    padding-top:8px;
    width:245px;
    height:36px;
    color:#fff;
    font-size:11px;
}
.box-clive a {
    font-weight:bold;
    color:#fff;
}
.home-content {
    padding-top:15px;
}
.home-left {
    width:465px;
    float:left;
}
.home-right {
    width:450px;
    height:270px;
    float:right;
}
.quotes {
    width:445px;
    height:140px;
    background:#e7e7e8;
    margin-top:15px;
    margin-bottom:15px;
    padding:10px;
}
.quotes h3 a {
    color:#000;
    font-size:18px;
    font-weight:normal;
}
.logos .img {
    margin-right:5px;
}
#banner5 {
    background-image:url('../banners/banner_a5.png');
    display:block;
    float:left;
    font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
    width:465px;
    height:150px;
}

#banner5:hover {
    text-decoration:none;
}
#banner5  span {
    display:block;
    float:left;
}
#banner_fee {
    color:#263c76;
    font-size:34px;
    margin-left:180px;
    margin-top:6px;
}
#banner_date {
    color:#747474;
    clear:left;
    font-size:18px;
    margin-left:285px;
    margin-top:-8px;
}
/*coustom css*/
.our-team-heading {
    color: #f5641e;
    font-size: 36px;
    text-align: left;
    font-weight:normal;  
    padding-top: 20px;
}
.our-team-para {
    color: #777778;
    font-size: 15px;
    line-height: 23px;
    padding:15px 0 10px;
}
.our-team-main-content {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 0px;
}
.our-team-main-content h3 {
    font-weight: bold;
    font-size: 16px;
}
.our-team-main-content span {
    font-size: 16px;
    padding-top: 10px;
    display: inline-block;
}
.our-team-main-content p {
    font-size: 14px;
}
.ourteam-sec-gray p:first-of-type, .ourteam-sec-gray p:last-of-type {
    padding-top: 0px !important;
}
.ourteam-sec-lightgray p:first-of-type, .ourteam-sec-lightgray p:last-of-type {
    padding-top: 0px !important;
}
.ourteam-sec-gray {
    width: 49.5%;
    display: inline-block;
    background-color: #e5f0fc;
    box-sizing: border-box;
    padding: 20px 25px 27px 35px;
    float: left; 
    max-height: 259px;
}
.ourteam-sec-lightgray {
    width: 49.5%;
    display: inline-block;
    background-color: #f4f9ff;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 27px;
    padding-right: 20px;
    box-sizing: border-box;
    float: left;
    max-height: 259px;
}
.ourteam-sec-gray p:nth-child(4){
    height: 64px;
    overflow: hidden;
}
.ourteam-sec-lightgray p:nth-child(4) {
    height: 64px;
    overflow: hidden;
}
.out-team-learn-more-btn {
    background-color: #f7941d;
    color: #fff !important;
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    float: right;
    margin-top: 20px;
    border: 1px solid #ee7501;
}
.our-team-banner-top img {
    max-width: 100%;
    padding-top: 27px;
    padding-bottom: 0px;
}
.ourteam-sec-gray img {
    padding-bottom: 11px;
    width: auto !important;
}
.ourteam-sec-lightgray img {
    padding-bottom: 10px;
    width: auto !important;
}
@media screen and (max-width:960px) {
    .ourteam-sec-lightgray p:nth-child(4) {
        height: 100px;
    }
    .ourteam-sec-lightgray {
        max-height: 300px;
    }
    .ourteam-sec-gray {
        max-height: 300px;
    }
    .ourteam-sec-gray p:nth-child(4) {
        height: 100px;
    }
}
@media screen and (max-width:767px){
    .ourteam-sec-lightgray {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .ourteam-sec-gray  {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .our-team-heading {
        font-size: 26px;
    }
}

#footer1 {
    width: 100%;
    margin: 0 auto 0px !important;
    text-align: center;
    color: #233b76;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}
#footer1 > .FooterSection {
    margin: 0 auto;
    max-width: 932px;
    width: 100%;
    margin-top: 50px;
}
#footer2 {
    background: #162e50 none repeat scroll 0 0;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    width: 100%;
}
#footer2 > .FooterSection {
    margin: 0 auto;
    max-width: 932px;
    width: 100%;
}
#footer2 > .FooterSection > div {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
#footer2 > .FooterSection > div:first-child {
    margin:0 auto 20px!important;
}
#footer2 > .FooterSection > div > img
{
    float:none!important;
}
#footer2 > .FooterSection > div > a
{
    color:#fff;
}
.SliderLayered {
    left: 13%;
    position: absolute;
    top: 30%;
    width: 74%;
}
h1.extraLarge {
    color: #234477;
    font-size: 62px;
    font-weight: bold;
    text-transform: uppercase;
}
.subtitletext {
    color: #234477;
    font-size: 28px;
    line-height: 44px;
}
/*.SliderFindForm {
  background: rgba(35, 74, 125, 0.7) none repeat scroll 0 0;
  border-radius: 7px;
  display: inline-block;
  margin: 25px auto;
  width: 65%;
}*/
.SliderFindForm {
    background: rgba(35, 74, 125, 0.7) none repeat scroll 0 0;
    border-radius: 7px;
    display: inline-block;
    margin: 0 auto;
    width: 50%;
}
.SliderFindForm > h1 {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: capitalize;
}
.SliderFindForm > form {
    float: left;
    margin-bottom: 25px;
    width: 100%;
}
.SliderFindForm > form > input[type="text"] {
    border: medium none;
    border-radius:4px 0 0 4px;
    padding:10px 6px 8px;
    width: 45%;
}
.SliderFindForm > form > input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #476aac none repeat scroll 0 0;
    border: 1px solid #476aac;
    color: #fff;
    display: inline-block;
    margin-left: -4px;
    border-radius: 0px 4px 4px 0px;
    line-height: 21px;
    padding: 6px 6px 4px;
}
.Caption_text {
    background: rgba(41, 68, 116, 0.8) none repeat scroll 0 0;
    color: #fff;
    padding: 6% 0 10%;
    position: absolute;
    text-align: center;
    top: 43%;
    width: 100%;
    display:none;
}
.LatestProjects_Slider > a:hover > .Caption_text
{
    display:block;
}
.golden .bx-pager.bx-default-pager {
    display: none;
}
#yellowline {
    background-color: #b59b00;
    padding: 8px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: Myriad Pro Cond;
    top: 10px;
    z-index: 99;
    position: relative;
    line-height: 18px;
    letter-spacing: 0.5px;
}
@font-face {
    font-family: Myriad Pro Cond;
    src: url(fonts/MyriadPro-BoldCond.otf);
}
#merry_xmas_happy_ny {
    /* display: none; */
    margin-top: 3px;
    text-align: center;
    position: relative!important;
}
#imagehover { display:none; max-height: 120px; margin: 0 auto !important; width:auto !important;}
.block1{display:block !important;}
.none1{display:none !important;}
hr.minihr {
    width: 30px;
    margin: 0 auto;
    border: solid 2px #1B2740;
    border-radius: 1px;
}
h1.teampg{
    color: #252525;
    font-size: 26px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 900;
}

/* CSS STYLE FOR THE NEW TEAM */
.team-member.newteam {
    width: 21.5% !important;
    margin: 10px 15px 10px 15px !important;
    padding: 10px 0 10px 0 !important;
}
h3.team_member_title {
    font-size: 19px;
    color: #003c70;
    line-height: 30px;
}
div.img_team_mem {
   
    border-radius: 100px;
    margin-bottom: 10px;
    height:200px;
	width:200px;
	overflow:hidden;
}
.jobtitle {
    font-size: 14px;
}
div.img_team_mem:hover {
   	border: 5px solid #CAC6C6; 
	 box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}
div.img_team_mem img {
    height:100%;
	width:100%;
} 
.team-member.newteam {
    height: 300px !important;
}
.fav_building
{display:none;}

/* CSS STYLE FOR THE WHY CHOOSE US */

.slider-wrapper {
    position: relative;
    margin: -40px auto 0;
}

.slider-wrapper .sldr {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    clear: both;
    max-height: 400px;
    display: block;
}

.slider-wrapper .sldr > ul > li {
    float: left;
    display: block;
    width: 100%;
}


.slider-wrapper img {
    width: 100% !important;
    height: auto ;
    display: block;
    margin: 0 auto;
}

.slider-wrapper .selectors {
    margin: 20px auto 25px;
    text-align: center;
}
.slider-wrapper .captions p {
    font-size: 16px;
    /*padding-top: 0;*/
    line-height: 25px;
}
.slider-wrapper .captions h2 {
    font-size: 25px;
    /*margin-bottom: 15px;*/
    font-weight: normal;
}

.slider-wrapper .selectors li {
    background: #98999c none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    cursor: pointer !important;
    height: 180px;
    text-align: center;
    line-height: 32px;
    margin-left: 20px;
    padding: 0 2px;
    position: relative;
    width: 180px;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.slider-wrapper .captions {
    border: 2px solid #7d7d7d;
    padding: 10px 20px;
}
.slider-wrapper .selectors li a {
    color: #fff;
    font-size: 28px;
    left: 50%;
    position: absolute;
    text-decoration: none;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.slider-wrapper .sldr-prv.sldr-nav.prev, .slider-wrapper .sldr-nxt.sldr-nav.next {
    font-size: 55px;
    font-weight: bold;
    color: #76777b;
    position: absolute;
}
.slider-wrapper .sldr-prv.sldr-nav.prev:hover, .slider-wrapper .sldr-nxt.sldr-nav.next:hover {
    color: #76777b;
    text-decoration: none;
}
.slider-wrapper .sldr-prv.sldr-nav.prev {
    transform: translate(-60px, -245px);
}
.slider-wrapper .sldr-nxt.sldr-nav.next{
    right: -119px;
    transform: translate(-60px, -245px);
}
.slider-wrapper .captions-container {
    position: relative;
}
.slider-wrapper .selectors li.focalPoint {
    color: #ff6c00;
    background: #ff6c00;
    cursor: default;
}

.slider-wrapper .captions div {
    left: 200%;
    position: fixed;
    opacity: 0;
    min-height: 400px;
    -webkit-transition: opacity 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
    -moz-transition: opacity 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
    -o-transition: opacity 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
    transition: opacity 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); /* ease-in-out */
}

.slider-wrapper .captions div.focalPoint {
    opacity: 1;
    left: inherit;
    position: static;
}

.slider-wrapper .clear {
    display: block;
    width: 100%;
    height: 0px;
    overflow: hidden;
    clear: both;
}

@media (min-width: 200px) and (max-width: 1072px){
    .slider-wrapper .sldr-prv.sldr-nav.prev, .slider-wrapper .sldr-nxt.sldr-nav.next {
        position: static;
    }
    .slider-wrapper .sldr-prv.sldr-nav.prev, .slider-wrapper .sldr-nxt.sldr-nav.next {
        background-color: #98999C;
        color: #fff;
        display: inline-block;
        margin-top: 5px;
        font-size: 50px;
        height: 58px;
        width: 58px;
        text-align: center;
        transform: initial;
    }
    .slider-wrapper .sldr-prv.sldr-nav.prev:hover, .slider-wrapper .sldr-nxt.sldr-nav.next:hover {
        color: #fff;
    }

}
@media (min-width: 678px) and (max-width: 870px){
    .slider-wrapper .selectors li{
        height: 130px;
        width: 130px;
    }
    .slider-wrapper .selectors li a{
        font-size: 20px;
        line-height: 24px;
    }
    .slider-wrapper .sldr-prv.sldr-nav.prev, .slider-wrapper .sldr-nxt.sldr-nav.next {
        background-color: #98999C;
        color: #fff;
        font-size: 50px;
        height: 58px;
        width: 58px;
    }
}
@media (min-width: 480px) and (max-width: 677px){
    .slider-wrapper .selectors li{
        height: 100px;
        width: 100px;
    }
    .slider-wrapper .selectors li a{
        font-size: 15px;
        line-height: 17px;
    }
    .slider-wrapper .sldr-prv.sldr-nav.prev, .slider-wrapper .sldr-nxt.sldr-nav.next {
        background-color: #98999c;
        color: #fff;
        font-size: 40px;
        height: 47px;
        width: 47px;
    }
}

@media only screen and (max-width: 600px) 
	 {
 

.sketch_lg { display:none;}

.sketch_sm {
    display: block !important;
}
	
	}

@media (min-width: 200px) and (max-width: 545px){
    .slider-wrapper .selectors li {
        border-bottom: 3px solid #fff;
        border-radius: 0;
        display: inline-block;
        height: 45px;
        margin-left: 0;
        width: 45%;
    }
    .slider-wrapper .selectors li a{
        font-size: 15px;
        line-height: 17px;
    }
    .slider-wrapper .selectors {
        margin: 20px auto;
    }
}

 .sketch_sm 
{ display:none;
}

	
 