.main1{
	width: 60%;
	margin: 0 auto;
}
#header{
	padding: 10px;
}
.logo{
	padding: 12px;
}
#quote{
	
	text-align: right;
	font-family: arial;
	font-style: bold;
	font-size: 12px;
	background-color: #F8A865;
	color: white;
	padding: 6px;
	padding-right: 8px !important;
}
.txt{
	font-size: 12px;
	font-family: arial;
	line-height: 20px;
	padding: 12px;
	font-weight: bold;
}
.stg{
	background-color: gray;	
	padding: 6px;
	padding-left: 10px !important;
	padding-right: 10px !important;
	margin-top: 2px;
	color: white;
	font-family: arial;
	font-size: 12px;
	letter-spacing: 1px;
}
.total{
	font-size: 11px;
	font-family: arial;
	line-height: 20px;
	
	float: right;
	font-weight: bold;
}
