.borformpdf {
	overflow:hidden;
	}
.width_50bro {
	width:49.8%;
	float:left;
	position:relative;
	background: #cccccc;
	max-height:590px;
	transition:all 0.3s ease;
	}
.width_50bro:first-child {
	margin-right:5px;
	}	
.borformpdf:after {
	content:"";
	clear:both;
	}
.forcombinewidth {
	width:1960px;
	left:-50%;
	position:relative;
	transition:all 0.3s ease;
	}	
.brogreaybg {
    background: #cccccc;
    padding:47px 0px;
	width:50%;
	float:left;
	position:relative;
}
.hidepartleft {
	width:50%;
	float:left;
	text-align:center;
	}
.hidepartleft img {
    max-width: 350px;
    padding: 46px 0px;
}	
.brogimgreaybg {
	background: #cccccc;
   padding: 44px 40px;
    height: 100%;
    text-align: center;
	}		
.rowbro .broform50 {
	width:48.5%;
	float:left;
	}
.rowbro .broform30 {
	width:30%;
	}
.broform100 {
	width:100%;
	}	
.rowbro .broform70 {
	width:67%;
	margin-right:3%;
	}
.rowbro .broform50:first-child {
	margin-right:3%;
	}	
.rowbro {
	margin-bottom:16.8px;
	}	
.rowbro:after {
	content:"";
	clear:both;
	display:block;
	}
::-webkit-input-placeholder {
    color: #ccc !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc !important;
}	
.findbtn input {
	background:none !important;
	border:1px solid #fff !important;
	color:#FFF !important;
	box-shadow:none;
	    text-indent: 0px;
	}	
.rowbro input, input[type=text] {
	width: 100%;
    padding: 0px;
    height: 40px;
    background: #FFF;
    box-shadow: none;
    border: 1px solid #FFF;
	text-indent:5px;
	font-size:16px;
	border-radius:5px;
	color:#CCC;
	}
.rowbro select {
	width:100%;
	padding:0px;
	height:40px;
	background: #FFF;
    box-shadow: none;
    border: 1px solid #FFF;
	    text-indent: 0px;
		font-size:16px;
		border-radius:5px;
		color:#ccc;
	}
.rowbro input[type=checkbox] {
    width: auto;
    height: auto;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    padding: 5px;
}	
.rowbro input[type=text] {
	text-indent:5px;
	}
.checkboxbro span {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
	color:#FFF;
	width:90%;
}
.submitbro input {
	background:#114573;
	width:100px;
	border:none;
	color:#FFF;
	font-size:16px;
	border-radius:5px;
	
	}
.broright {
	text-align:right;
	}		
.broleft {
	float:left;
	}
.coverimage img {
	max-width:100%;
	max-height:500px;
	}
.absoluteblue {
	position:absolute;
	height:100%;
	width:100%;
	left:0px;
	top:0px;
	background:rgba(17,69,115,0.7);
	transition:all 0.3s ease;
	}
.centerabosu {
    position: absolute;
   
    /* background: #FFF; */
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.centerabosu a {
	padding:10px 20px;
	font-size:28px;
	color:#FFF;
	font-weight:bold;
	border:1px solid #FFF;
	text-transform:uppercase;
	}
.readonlinebtn.centerabosu a {
	padding:9px 20px !important;
	} 	
.iconbro img {
	max-width:50px;
	}			
.iconbro {
	display:block;
	margin-bottom:30px;
	text-align:center;
	}
.brogreaybg form{
	max-width:75%;
	margin:0 auto;
	transition:all 0.4s ease;
	}
.clickedpost .brogreaybg form{
	max-width:85% !important;
	margin:inherit !important;
	}	
/* For animations */

.clickedpost .forcombinewidth{
	left:0%;
	}
.clickedread .forcombinewidth{
	left:-152%;
	}		
.clickedpost .width_50bro {
	width:46.5%;
	}	
.clickedpost .absoluteblue {
   left:500px;	
}	
.clickedpost .outsidegrey {
	opacity:1;
	}
.outsidegrey {
    position: absolute;
    right: -70px;
    background: #ebebeb;
    height: 100%;
    z-index: 1;
    text-align: center;
    width: 80px;
	opacity:0;
	transition:all 0.3s ease;	
    /* padding-top: 50px; */
}
.outsidegreyread {
    position: absolute;
    left: -79px;
    background: #ebebeb;
    height: 100%;
    z-index: 1;
    text-align: center;
    width: 80px;
    opacity: 1;
    top: 0px;
    transition:all 0.3s ease;
}
.outsidegrey img, .outsidegreyread img {
    max-width: 50px;
    margin-top: 50px;
}	
.innerflipbook {
	position:relative;
	height:590px;
	}
.wrapbhindflip {
	position:relative;
	}
.slideflipbook {
	position:absolute;
	top:0;
	opacity:0;
	width:100%;
	visibility:collapse;
	transition:all 1s ease;
	}
.clickedread .slideflipbook {
	z-index:0;
	opacity:1;
	visibility:visible;
	}
.flipbookwrap {
    max-width: 92%;
    margin-left: 8%;
	position:relative;
}
.downloadpdf {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width:25px;
}
.downloadpdf img {
	max-width:100%;
	}
.downloadform {
	position:absolute;
	width:100%;
	height:590px;
	background:rgba(17,69,115,0.7);
	
	}
.readform {
	position:absolute;
	width:100%;
	height:590px;
	background:rgba(17,69,115,0.7);
	
	}	
.innerdownload {
	max-width: 400px;
    margin: 0 auto;
    background: #efefef;
    padding: 20px;
    top: 20%;
    position: absolute;
    /* margin: 0 auto; */
    left: 0;
    right: 0;
	}	
.innerdownload .rowbro:last-child {
	margin-bottom:0px;
	}
.titleform h3 {
    color: #114573;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.titleform p {
    color: grey;
    font-size: 16px;
    padding-top: 5px;
    /* margin-top: 5px; */
    margin-bottom: 10px;
}	
.innerdownload .checkboxbro span {
    color: grey;
}
.downloadform {
	visibility:collapse;
	opacity:0;
	transition:all 0.3s ease;
	}
.readform {
	visibility:collapse;
	opacity:0;
	transition:all 0.3s ease;
	}	
.showformdownload {
	visibility:visible !important;
	opacity:1;
	z-index:1;
	transition:all 0.3s ease;
	}
.posticonoutside p {
    font-weight: bold;
    font-size: 16px;
    color: #114573 !important;
}
.readonlinetitle, .postbrochuretitle {
	display:none;
	}
.clickedpost .requesttitle, .clickedread .requesttitle{
	display:none;
	}
.clickedpost .postbrochuretitle {
	display:block !important;
	}
.clickedread .readonlinetitle {
	display:block !important;
	}
.closeform span {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #114779;
    padding: 5px;
    cursor: pointer;
}
.closeform {
    position: absolute;
    right: 15px;
    top: 15px;
}
.flipbook-bg-light {
    background: rgb(235, 235, 235) !important;
    box-shadow: none !important;
}
.up_down {
	z-index:-1 !important;
	}
.thanksinner p {
    font-size: 16px;
    padding-top: 12px;
    color: #666;
}	
@media (min-width:640px) {
.formaxwidth { 
	max-width:25%;
	}
.slideflipbook .titlebro {
    height: 51px;
    margin-bottom: 20px;
}
.flipbook-share .social ul {
	bottom:142px;
	}
.borformpdf {
    overflow: hidden;
    max-height: 590px;
}
.flipbook-arrow-wrapper span {
    background: none !important;
    text-shadow: none !important;
    font-weight: 100!important;
    font-size: 80px !important;
    width: 130px !important;
    margin-top: -40px !important;
}	
.centerabosu {
	height:130px;
	}
.centerabosu.readonlinebtn {
    position: relative;
    /* top: 5px; */
    margin-top: 10px;
}		
}
@media (max-width:640px) {
	.hidepartleft {
		display:none;
		}
	.brogreaybg {
		width:100%;
		float:none;
		padding:20px 0px !important;
		}	
	.forcombinewidth {
		width:100%;
		left:0px;
		}
	.width_50bro {
		width:100%;
		float:none;
		}
	
	.clickedpost .width_50bro {
		width:100%;
		}
	.flipbookwrap {
		 margin-left: 0px;
    	 width: 100%;
    	 max-width: 100%;
		}
	.outsidegreyread {
		display:none;
		}
	.slideflipbook {
		opacity:1;
		visibility:visible;
		position:relative;
		margin-top:30px;
		}
	.formaxwidth {
		display:none;
		}
	.absoluteblue {
		display:none;
		}
	.findbtn input {
		font-size:10px !important;
		}
	.brogreaybg form {
		max-width:90%;
		}	
	.slideflipbook .readonlinetitle {
		display:block !important;
		}	
	.downloadpdf {
		display:none;
		}
	.innerflipbook {
		height:550px !important; 
		}
	.checkboxbro span {
		font-size:9px;
		}														
	}	