@font-face{font-family:'CalistoMT';src:url('../fonts/CalistoMT.eot?#iefix') format('embedded-opentype'), url('../fonts/CalistoMT.woff') format('woff'), url('../fonts/CalistoMT.ttf') format('truetype'), url('../fonts/CalistoMT.svg#CalistoMT') format('svg');font-weight:normal;font-style:normal;}
.freeservice span{font-size:14px !important;color:#454f7d !important;}
.freeservice{display:block;font-size:14px !important;text-align:center !important;}
.sitevisitarrow{position:absolute;top:150px;right:181px;display:none;}
.sitevisittab{transition:ease-in-out 0.5s;}
.sitevisitarrow img{max-width:200px;}
.first .txt, .seccond .txt, .third .txt, .forth .txt{font-weight:600;}
.first p, .seccond p, .third p, .forth p{font-size:18px;padding:0px;margin-top:10px;margin:0px;font-family:calibri;}
.mobileimage{display:none;}
.explore .noborder{border:none !important;padding:0px 0px !important;}
.explore .first, .explore .seccond, .explore .third, .explore .forth{width:33% !important;}
.explore img{width:98% !important;}
.explore .seccond img{border:none !important;padding:0px !important;margin:0px !important;}
.saleimagewrap{position:absolute;bottom:10px;z-index:10;right:50px;}
.saleinner img{max-width:150px;width:100%;}
.closesale{right:-25px;position:absolute;background:#db0000;border-radius:50px;text-align:center;padding:10px 15px;font-size:18px;color:#FFF;cursor:pointer;}
.downbro{position:absolute;bottom:15px;right:40px;max-width:180px;}
.downbroimg span{right:0px;text-align:right;width:20px;position:absolute;height:20px;background:rgba(31, 83, 128,0.5);text-align:center;line-height:20px;color:#FFF;top:10px;cursor:pointer;}
.downbro img{max-width:100%;border:5px solid #FFF;}
.fallingSnow img{width:100%;max-width:100%;position:absolute;left:0;right:0;top:-60px;}
.fallingSnow{position:absolute;z-index:2;height:100%;width:100%;left:0px;right:0px;overflow:hidden;text-align:center;}
#afterlogo{position:absolute;z-index:2;height:100%;width:100%;left:0px;right:0px;overflow:hidden;text-align:center;display:table;display:none;}
.afterinside{height:100%;vertical-align:middle;display:table-cell;}
#afterlogo .afterinside span{font-family:'CalistoMT';font-size:42px;text-transform:uppercase;display:block;color:#FFF;text-shadow:1px 0px 2px #969696;}
ul.bxslider{}
@media (max-width:640px){.fallingSnow{display:none;}
#afterlogo{display:none !important;}
}
@media (min-width:2000px){.fallingSnow img{top:0px !important;}
}
@media (max-width:640px){.explore .first p, .explore .seccond p, .explore .third p, .forth p{font-size:14px !important;}
.explore .first span, .explore .seccond span, .explore .third span, .explore .forth span{font-size:16px !important;}
.explore .third img{max-height:150px !important;width:100% !important;}
.mobileimage{display:inherit !important;}
.explore .seccond{width:49% !important;display:inline-block !important;padding:0px !important;float:left !important;margin:0px !important;}
.explore .first{width:49% !important;padding:0px !important;display:inline-block !important;float:left !important;margin:0px !important;}
.explore .third{max-height:210px;margin-top:0px !important;overflow:hidden !important;margin-bottom:20px !important;width:100% !important;}
.explore .first img{padding:0px 0px !important;border:none !important;}
.downbro{display:none;}
}