@font-face {
  font-family: 'CalistoMT';
  src: url('../fonts/CalistoMT.eot?#iefix') format('embedded-opentype'),  url('../fonts/CalistoMT.woff') format('woff'), url('../fonts/CalistoMT.ttf')  format('truetype'), url('../fonts/CalistoMT.svg#CalistoMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

.freeservice span {
    font-size: 14px !important;
    color: #454f7d !important;
}
.freeservice {
    display: block;
    font-size: 14px !important;
    text-align: center !important;
}
.sitevisitarrow {
    position: absolute;
    top: 150px;
    right: 181px;
	display:none;
	
}
.sitevisittab {
	transition:ease-in-out 0.5s;
	}
.sitevisitarrow img {
    max-width: 200px;
}
.first .txt, .seccond .txt, .third .txt, .forth .txt {
	font-weight:600;
	}
	
.first p, .seccond p, .third p, .forth p {
	font-size:18px;
	padding:0px;
	margin-top:10px;
	margin:0px;
	font-family:calibri;
	}
.mobileimage {
	display:none;
	}	
.explore .noborder {
	border:none !important;
	padding:0px 0px !important; 
	}
.explore .first, .explore .seccond, .explore .third, .explore .forth {
	width:33% !important;
	}	
.explore img {
	width:98% !important;
	}	
.explore .seccond img {
	border:none !important;
	padding:0px !important;
	margin:0px !important;
	}
.saleimagewrap {
    position: absolute;
    bottom: 10px;
    z-index: 10;
    right: 50px;
    /* max-width: 150px; */
}
.saleinner img {
    max-width: 150px;
	width:100%;
}
.closesale {
    right: -25px;
    position: absolute;
    background: #db0000;
    border-radius: 50px;
    text-align: center;
    padding: 10px 15px;
    font-size: 18px;
    color: #FFF;
	cursor:pointer;
}
.downbro {
    position: absolute;
    bottom: 15px;
    right: 40px;
    max-width: 180px;
}
.downbroimg span {
    right: 0px;
    text-align: right;
    width: 20px;
    position: absolute;
    height: 20px;
    background: rgba(31, 83, 128,0.5);
    text-align: center;
    line-height: 20px;
    color: #FFF;
    top: 10px;
	cursor:pointer;
}
.downbro img {
    max-width: 100%;
    border: 5px solid #FFF;
}
.fallingSnow img {
    width: 100%;
	max-width:100%;
    position: absolute;
    left: 0;
    right: 0;
	    top: -60px;
}
.fallingSnow {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    overflow: hidden;
    text-align: center;
}
#afterlogo {
	position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    overflow: hidden;
    text-align: center;
	display: table;
	display:none;
	}
.afterinside {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}	
#afterlogo .afterinside span {
    font-family: 'CalistoMT';
    font-size: 42px;
    text-transform: uppercase;
    display: block;
    color: #FFF;
	text-shadow: 1px 0px 2px #969696;
}	
ul.bxslider {
    /* width: 100% !important; */
    
}
@media (max-width:640px) {
	.fallingSnow {
		display:none;
		}
	#afterlogo {
		display:none !important;
		}	
	}
@media (min-width:2000px) {
	.fallingSnow img {
		top:0px !important;
		}
	}
/*.fallingSnow {
    text-align: center;
	position:absolute;
	z-index:9;
}
.fallingSnow span {
    display: inline-block;
    width: 20px;
    height: 21px;
	margin: -280px 60px 54px  -34px;
	background:url("/img/snowflake.png");
    
    -webkit-animation: fallingSnow 12s infinite  cubic-bezier(0.35,0.45,0.39,0.29);
    -moz-animation: fallingSnow 12s infinite  cubic-bezier(0.35,0.45,0.39,0.29);
}
.fallingSnow span:nth-child(5n+5) {

    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}
.fallingSnow span:nth-child(3n+2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
.fallingSnow span:nth-child(2n+5) {

    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.fallingSnow span:nth-child(3n+10) {

    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}
.fallingSnow span:nth-child(7n+2) {

    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}
.fallingSnow span:nth-child(4n+5) {

    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}
.fallingSnow span:nth-child(3n+7) {

    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}
@-webkit-keyframes fallingSnow {
  0% {
    opacity: 1;

	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: 1;

	-webkit-transform: translate(100px, 600px) rotateZ(270deg); 
  }
  100% {
    opacity: 0;

	-webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
@-moz-keyframes fallingSnow {
  0% {
    opacity: 1;
    
	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: 1;
   
	-webkit-transform: translate(100px, 600px) rotateZ(270deg); 
  }
  100% {
    opacity: 0;
    
	-webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}*/

@media (max-width:640px) {
	.explore .first p, .explore .seccond p, .explore .third p, .forth p {
	font-size:14px !important;
	}				
.explore .first span, .explore .seccond span, .explore .third span, .explore .forth span {
	font-size:16px !important;
	}	
.explore .third img {
    /* position: relative; */
    max-height: 150px !important;
    width: 100% !important;
}
.mobileimage {
	display:inherit !important;
	}
.explore .seccond {
    width: 49% !important;
    display: inline-block !important;
    padding: 0px !important;
	float:left !important;
	margin:0px !important;
}
.explore .first {
    width: 49% !important;
    padding: 0px !important;
    display: inline-block !important;
	float:left !important;
	margin:0px !important;
}
.explore .third {
    max-height: 210px;
    margin-top: 0px !important;
    overflow: hidden !important;
    margin-bottom: 20px !important;
	width:100%  !important;
	}
.explore .first img {
	padding:0px 0px !important;
	border:none !important;
	}		
.downbro {
	display:none;
	}		
	}	