.ui-widget {
    font-family: 'Roboto', sans-serif !important;
}
.ui-widget-overlay {
    background: rgba(35, 74, 125, 0.8) !important;
	opacity:0.8 !important;
	z-index: 99999 !important;
    height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
}
.ui-widget.ui-widget-content {
    background: #FFFFFF;
    left: 0;
    position: absolute;
    top: 0;
    width: auto;
    z-index: 100002 !important;
}
.lightbox_content label {
    display: block;
    float: none !important;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 5px !important;
}

.lightbox_content input[type=button] {
	background: none !important;
    color: #083979 !important;
    border-top: dotted !important;
    border-width: 5px 0 0 0 !important;
    border-image-slice: 33% 33% !important;
    border-image-repeat: round !important;
    border-image-source: url(../images/greydots.svg) !important;
    padding: 5px 10px !important;
    box-shadow: none !important;
    font-size: 16px;
	margin-left:0px !important;
	}
.lightbox_content input[type=text], .lightbox_content input[type=password] {
	border:1px solid #ee7123 !important;
	height: 35px;
    width: 60px;
    margin-bottom: 7px;
    display: block;
	padding: 10px;
    font-size: 16px;
	font-family: 'Roboto', sans-serif !important;
	}	

.byp-btn-tn, #btn_main_action {
	background:none !important;	
	display: inline-block;
    /* background: #808385; */
    font-weight: bold;
    text-align: center;
    padding: 2px;
    /* border-top: dotted !important; */
    border: dotted !important;
    border-width: 5px 5px 5px 5px !important;
    border-image-slice: 33% 33% !important;
    border-image-repeat: round !important;
    border-image-source: url(../images/greaydots.svg) !important;
	}
.lightbox_content input[type=button] {
    background: none !important;
    color: #083979 !important;
    border-top: dotted !important;
    border-width: 5px 0 0 0 !important;
    border-image-slice: 33% 33% !important;
    border-image-repeat: round !important;
    border-image-source: url(../images/greydots.svg) !important;
    padding: 10px 10px !important;
    box-shadow: none !important;
    font-size: 16px;
}	
.ui-widget-header {
	border:none !important;
	background:none !important; 
	}
h3.login_title {
    border-bottom: dotted !important;
    border-width: 0 0 5px 0 !important;
    border-image-slice: 33% 33% !important;
    border-image-repeat: round !important;
    border-image-source: url(../images/dots.svg) !important;
    color: #083979 !important;
    font-size: 20px !important;
	padding-bottom: 10px;
    margin-top: 10px;
}
button.ui-dialog-titlebar-close {
    color: #f5641e;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.1em;
    background: url(/images/close.jpg) no-repeat right top;
    height: 11px;
    position: absolute;
    left: 12px;
    top: 22px !important;
    padding: 2px 22px 4px 5px;
	background-size: contain;
    border: none;
    /* width: 40px; */
}	

.ui-dialog .ui-dialog-buttonpane {
	display:none;
	}

.loginbutton {
	text-align:center;
	}
.loginbutton button {
	margin-left:0px !important;
	}	
.homegifpopup img {
	margin-bottom:0px !important;
	}	
.homegifpopup p {
    font-size: 16px;
    text-align: justify;
    max-width: 90%;
    margin: 0 auto;
    border-top: 1px solid #000;
	color: #2e386c;
    font-family: "calibri";
    font-weight: 500;
}	