/********* NEW DESIGN STYLES ************/
/*p {
    line-height: 1.5;
}
.main {
    max-width: 1920px !important;
    width: 100% !important;
}
section {
    max-width: 1140px;
    margin: 0 auto;
    display: flow-root !important;
}
.header .header-line {
    border-bottom: 1px solid #959595;
    max-width: 1140px;
    height: 94px;
    position: relative;
    margin: 0 auto;
    z-index: 999999;
}*/
.cbp-hrmenu {
    margin: 56px 0 0 !important;
}
.mainouterwrapper {
    background: #e6e6e7 !important;
    padding-bottom: 140px;
    margin-top: -60px;
}
#mc_embed_signup {
    width: 100% !important;
    float: left !important;
    background: #183e70 !important;
    padding: 20px 0;
    border-radius: 0px !important;
}
#mc_embed_signup_scroll h4 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}
.mc-field-group input[type="email"] {
    background-color: transparent !important;
    color: #fff !important;
    font-family: 'Mulish', sans-serif !important;
    width: 87%;
    text-align: left !important;
    line-height: 32px;
    font-weight: normal;
    padding: 5px !important;
}
.mc-field-group input[type="email"]::placeholder {
    color: #fff !important;
}
.mc-field-group {
    display: block !important;
width: 35%;
margin: 0 auto;
border: 2px solid #fff;
border-radius: 35px;
}
#mc_embed_signup_scroll .button {
    background: url('../images_new_design/desktop_white_arrow.png') no-repeat;
    background-size: cover;
    width: 14px;
    height: 30px;
    position: relative;
    right: 8px !important;
    top: 5px;
    padding: 1px 9px !important;
    font-size: 0px !important;
}
.top_footer {
    padding: 0px !important;
}
#footer1 {
    color:#fff !important;
}
#footer1 .response a {
    color:#fff !important;
}
#mce-responses {
    position: relative !important;
width: 100% !important;
margin: 20px auto !important;
}
footer .copyright ul li {
    font-size: 12px !important;
}
footer .bott_menu ul.left {
    display: contents !important;
    text-align: right !important;
}
footer .bott_menu ul.right {
    display: contents !important;
    text-align: left !important;
}
footer .bott_menu ul li {
    padding: 0 !important;
}
footer .bott_menu {
    padding: 0 !important;
}
footer .bott_menu ul li a {
    color: #000 !important;
    font-size: 15px !important;
    font-weight: lighter !important;
}
.footer-title-left {
    color: #000 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    text-align: right;
    text-transform: uppercase;
}
.footer-title-right {
    color: #000 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    text-align: left;
    text-transform: uppercase;
}
.footer-line-left {
    border-top:3px solid #000;
    width: 60px;
    float: right;
    margin-top: 10px;
}
.footer-line-right {
    border-top:3px solid #000;
    width: 60px;
    float: left;
    margin-top: 10px;
}
.social {
    width: 50% !important;
    float: left;
    display: block !important;
    margin-top: 25px !important;
}
.social .insta {
    margin: 0 !important;
    background-color: transparent !important;
    float: left;
}
.social .fb {
    margin: 0 !important;
    background-color: transparent !important;
    background-image: url(../images_new_design/facebook.png) !important;
    float: left;
}
.social .twi {
    margin: 0 !important;
    background-color: transparent !important;
    background-image: url(../images_new_design/twitter.png) !important;
    float: left;
}
.social .pinterest {
    margin: 0 !important;
    background-color: transparent !important;
    background-image: url(../images_new_design/pinterest.png) !important;
    float: left;
}
