.form_row, .form_row_submit {
  display: table;
  margin: 2% auto;
  text-align: center;
  width: 96%;
}
form > fieldset.step1 {
  margin: 0;
}
form > fieldset {
  padding:0;
  margin-left: -2px;
  border:none;
}

.form_row > label {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
.form_input[name="postcode_start"] {
  border: 1px solid #558ed5;
  border-radius: 4px;
  padding: 7px;
  width: 30%;
  text-align: center;
}
.form_input {
  border: 1px solid #558ed5;
  border-radius: 4px;
  padding: 7px;
  width: 40%;
}
.house_type {
  float: left;
  margin-top: 20px;
  width: 32%;
}
.house_type > label, .extension_type > label {
  color: #333;
  float: left;
  margin: 10px auto;
  width: 100%;
}
#step_one.start_progress {
  background: #f79646 none repeat scroll 0 0;
  border: 2px solid #b66d31;
  border-radius: 4px;
  color: #000;
  padding: 8px 20px;
  text-transform: uppercase;
}
.flex-viewport {
  min-height: 520px !important;
}
.step2 .form_row > label {
  text-align: left;
}
.extension_type {
  float: left;
  margin-right: 2%;
  width: 23%;
}
.half_area {
  float: left;
  width: 48%;
}
.half_area:first-child {
  margin-right: 3%;
}
.Dimessions_area input {
  border: 1px solid #000;
    border-radius: 4px;
    padding: 6px;
}
.Dimessions_area > span {
  float: left;
  margin: 10px 0;
  width: 100%;
}
.start_progress { background: rgb(79, 129, 189) none repeat scroll 0 0;
    border: 2px solid rgb(57, 95, 141);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    padding: 8px 20px;
	float:right;
	cursor:pointer;
}
.form_input.error_msg[name="postcode_start"] {
  border: 2px solid #f00;
}
#Required_postcode {
  color: #f00;
  margin-top: -23px;
  text-align: right;
  width: 92%;
}

.step3 .form_row {
    text-align: left;
}

.step3 .skylight:first-child, .step3 .roof_type:first-child {
  float: left;
  margin-bottom: 20px;
  width: 20%;
  text-align: center;
}
.step3 .skylight:last-child, .step3 .roof_type:last-child {
  float: left;
  text-align: center;
  width: 20%;
}
.roof_type_ce {
  float: left;
  text-align: center;
  width: 10%;
}

.step3 .door_type {
    width: 20% !important;
    float: left;
    margin-bottom: 20px;
	text-align: center;
}
.half_area:first-child {
    margin-right: 3%;
    margin-top: 23px;
}

.roof_type span {
    margin-left: 30%;
}

.skylight span {
    margin-left: 30%;
}

  .door_type  span {
    margin-left: 6%;
}
.remove_chimney {
    text-align: left !important;
	    margin-bottom: 12px;
}

.underfloor_heating{
    text-align: left !important;
	    margin-bottom: 12px;
}
.ad_wc 
{
    text-align: left !important;
	    margin-bottom: 12px;
}

.options.area {
    width: 72%;
    margin: auto;
}

input#remove_chimney {
    margin-left: 10%;
}
input#underfloor_heating {
    margin-left: 16%;
}
input#ad_wc  {
    margin-left: 27%;
}

.half_area.last {
    margin-top: 23px !important;
}

 .step5 .half_area {
    text-align: left;
}
.step5 input[type="text"], .step5 select  {
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #666;
    vertical-align: baseline;
    height: 28px;
    border-radius: 4px;
    margin-top: 6px;
	 width: 100%;
	     border: 1px solid #ddd;
		 padding-left: 8px;
}
.step5  form_row {
    text-align: left !important;
}
.step5 textarea {
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #666;
    vertical-align: baseline;
    height: 100px;
    width: 100%;
	 border-radius: 4px;
	 padding-left: 8px;
}

.step5 label {
    color: #2052b5;
    text-align: left;
}
.step5 p {
  color: #2052b5;
  font-size: 12px;
  padding-top: 8px;
  text-transform: uppercase;
}
.step5 p::before {
  content: "--";
  padding-right: 4%;
}
.half_area2 {
  float: left;
  width: 48%;
      text-align: left !important;
}
.half_area2:first-child {
  margin-right: 3%;
}

.button1 input {
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #FFF;
    vertical-align: baseline;
    height: 36px;
    border-radius: 7px;
    margin-top: 6px;
    width: 100%;
    background: #47ca45 !important;
}
.button2 input {
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #FFF;
    vertical-align: baseline;
    height: 36px;
    border-radius: 7px;
    margin-top: 6px;
    width: 100%;
    background: #1b5697 !important;
	padding:0 12px;
	cursor:pointer;
}

.back_process {
  background: #f79646 none repeat scroll 0 0;
  border: 2px solid #b66d31;
  border-radius: 4px;
  color: #000;
  padding: 8px 20px;
  float:left;
  cursor:pointer;
}
.half_area_one {
  float: left;
  width: 70%;
}
.half_area_two {
  float: left;
  width: 30%;
}
.roof_data_main {
  float: left;
  margin: 10px 0;
  width: 100%;
}


.button1 input {
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #FFF;
    vertical-align: baseline;
    height: 36px;
    border-radius: 7px;
    margin-top: 6px;
    width: 100%;
    background: #47ca45 none repeat scroll 0 0;
    border: 2px solid #089606;
    border-radius: 4px;
}

.button2 input {
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #FFF;
    vertical-align: baseline;
    height: 36px;
    border-radius: 7px;
    margin-top: 6px;
    width: 100%;
    background: rgb(79, 129, 189) none repeat scroll 0 0;
    border: 2px solid rgb(57, 95, 141);
    border-radius: 4px;
}

.step4 .live_in {
    margin-left: -24px;
    position: relative;
    width: 25px;
    margin: 0;
    padding: 0;
    margin-left: 0px !important;
    left: 25px;
    top: 6px;
}

.options.area img {
    float: right;
    clear: both;
}
.options.area input {
    float: right !important;
    margin-left: auto;
}
.half_area2.last select {
    margin-top: 22px;
}
.post_code_blue {
  background: rgba(35, 74, 125, 0.7) none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  margin: 0 auto;
  padding: 25px 15px;
  width: 38%;
}
.post_code_blue > label {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
.post_code_blue #postcode_start.form_input {
  width: 78%;
}
input#door_type {
    margin-top: 6px;
}
.full_width {
    width: 100%;
    float: left;
    height: auto;
}
.full_width input.live_in {
    margin-left: -58px;
}
.green {
  color: #2052b5;
  float: left;
  margin-right: 5%;
}
.blue{
	color:#2052B5 !important;
}
.data_record {
  float: left;
  margin: 10px 0;
  width: 100%;
}
#final_specifications {
  border: 2px solid #2052b5;
  border-radius: 3px;
  clear: both;
  float: left;
  margin-top: 10px;
  padding: 0 15px 15px;
  width: 70%;
}
#final_size, #final_extension_type {
  color: #2052b5 !important;
  float: left;
  text-transform:uppercase;
  font-size:12px;
}
.success_message {
  border: 2px solid green;
  padding: 7px 15px;
  width: 70%;
  display: inline-block;
  margin-top: 15px;
}
.sun_heading {
  color: #5592cb;
  float: left;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  width: 100%;
  text-align:left;
}


15/01/2016


.sun_heading {
    color: #5592cb;
    float: left;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px !important;
    width: 100%;
    text-align: left;
}

.extension_type > label {
    color: #333;
    float: left;
    margin: 0px auto;
    width: 100%;
}
.half_area.last {
    margin-top: 10px !important;
}.half_area:first-child {
    margin-right: 3%;
    margin-top: 10px !important;
}

 .step3 .roof_type:first-child {
    float: left;
    margin-bottom: 28px !important;
    width: 20%;
    text-align: center;
}

.form_row, .form_row_submit {
    display: table;
    margin: 0% auto !important;
    text-align: center;
    width: 96%;
}

.roof_data_main {
    float: left;
    margin: 30px 0 !important;
    width: 100%;
}

.options.area {
    width: 72%;
    margin: auto;
    margin-top: 31px !important;
    margin-bottom: 44px !important;
}

.remove_chimney {
    text-align: left !important;
    margin-bottom: 15px !important;
}

.underfloor_heating {
    text-align: left !important;
    margin-bottom: 15px !important;
}

.ad_wc {
    text-align: left !important;
    margin-bottom: 100px !important;
}

.step3 .door_type {
    width: 20% !important;
    float: left;
    margin-bottom: 50px!important;
    text-align: center;
}

.half_area.last {
    margin-top: 0px !important;
}
.data_record {
    float: left;
    margin: 5px 0 !important;
    width: 100%;
}

.sun_heading {
    color: #5592cb;
    float: left;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px !important;
    width: 100%;
    text-align: left;
}