/********* NEW DESIGN STYLES ************/
p {
    line-height: 1.5;
}
.main {
    max-width: 1920px !important;
    width: 100% !important;
}
section {
    max-width: 1140px;
    margin: 0 auto;
    display: flow-root !important;
}
.header .header-line {
    border-bottom: 1px solid #959595;
    max-width: 1140px;
    height: 94px;
    position: relative;
    margin: 0 auto;
    z-index: 999999;
}
.cbp-hrmenu {
    margin: 56px 0 0 !important;
}
.mainouterwrapper {
    background: #e6e6e7 !important;
    padding-bottom: 140px;
    margin-top: -60px;
}
#mc_embed_signup {
    width: 100% !important;
    float: left !important;
    background: #183e70 !important;
    padding: 20px 0;
    border-radius: 0px !important;
}
#mc_embed_signup_scroll h4 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}
.mc-field-group input[type="email"] {
    background-color: transparent !important;
    color: #fff !important;
    font-family: 'Mulish', sans-serif !important;
    width: 87%;
    text-align: left !important;
    line-height: 32px;
    font-weight: normal;
    padding: 5px !important;
}
.mc-field-group input[type="email"]::placeholder {
    color: #fff !important;
}
.mc-field-group {
    display: block !important;
width: 35%;
margin: 0 auto;
border: 2px solid #fff;
border-radius: 35px;
}
#mc_embed_signup_scroll .button {
    background: url('../images_new_design/desktop_white_arrow.png') no-repeat;
    background-size: cover;
    width: 14px;
    height: 30px;
    position: relative;
    right: 8px !important;
    top: 5px;
    padding: 1px 9px !important;
    font-size: 0px !important;
}
.top_footer {
    padding: 0px !important;
}
#footer1 {
    color:#fff !important;
}
#footer1 .response a {
    color:#fff !important;
}
#mce-responses {
    position: relative !important;
width: 100% !important;
margin: 20px auto !important;
}
footer .copyright ul li {
    font-size: 12px !important;
}
footer .bott_menu ul.left {
    display: contents !important;
    text-align: right !important;
}
footer .bott_menu ul.right {
    display: contents !important;
    text-align: left !important;
}
footer .bott_menu ul li {
    padding: 0 !important;
}
footer .bott_menu {
    padding: 0 !important;
}
footer .bott_menu ul li a {
    color: #000 !important;
    font-size: 15px !important;
    font-weight: lighter !important;
}
.footer-title-left {
    color: #000 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    text-align: right;
    text-transform: uppercase;
}
.footer-title-right {
    color: #000 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    text-align: left;
    text-transform: uppercase;
}
.footer-line-left {
    border-top:3px solid #000;
    width: 60px;
    float: right;
    margin-top: 10px;
}
.footer-line-right {
    border-top:3px solid #000;
    width: 60px;
    float: left;
    margin-top: 10px;
}
.social {
    width: 50% !important;
    float: left;
    display: block !important;
    margin-top: 25px !important;
}
.social .insta {
    margin: 0 !important;
    background-color: transparent !important;
    float: left;
}
.social .fb {
    margin: 0 !important;
    background-color: transparent !important;
    background-image: url(../images_new_design/facebook.png) !important;
    float: left;
}
.social .twi {
    margin: 0 !important;
    background-color: transparent !important;
    background-image: url(../images_new_design/twitter.png) !important;
    float: left;
}
.social .pinterest {
    margin: 0 !important;
    background-color: transparent !important;
    background-image: url(../images_new_design/pinterest.png) !important;
    float: left;
}
.home-banner-h2 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #183e70;
    margin-top: 200px;
    position: relative;
    width: 46%;
    margin-left: auto;
    margin-right: auto;
}
.home-banner-p {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: #183e70;
    margin-top: 30px;
}
.home-banner-h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #183e70;
    margin-top: 120px;
    position: relative;
    margin-bottom: 120px;
}
.home-banner-h5 {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: #183e70;
    margin-top: 40px;
    position: relative;
}
.scrolldown {
    bottom: 120px !important;
}
.home-banner-btns {
    width: 100%;
    max-width: 820px;
    margin: 40px auto 0;
    height: 40px !important;
}
.home-banner-button {
    width: 30%;
    float: left;
    text-align: left;
    max-width: 238px;
    margin-right: 50px;
    height: 40px !important;
    border: 1px solid #183e70;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #183e70;
    line-height: 40px;
    background-color: #ffffffa3;
}
.home-banner-button:last-child {
    margin-right: 0px;
}
.home-banner-button:hover {
    background-color: #183e70;
    color: #fff !important;
}
.home-banner-button:hover a {
    color: #fff !important;
}
.home-banner-button a {
    padding-left: 12px;
}
.home-banner-button-arrow {
    float: right;
    height: 27px !important;
    top: 6px;
    position: relative;
    right: 6px;
    background: url('../images_new_design/desktop_blue_arrow.png') no-repeat;
    width: 27px;
    background-size: cover;
}
.home-banner-button:hover .home-banner-button-arrow {
    background: url('../images_new_design/desktop_white_arrow.png') no-repeat;
    background-size: cover;
}
.howcanwehelp {
    background-color: #fff;
    width: 100%;
    max-width: 1140px;
    border-radius: 35px;
    margin-top: -30px;
    z-index: 999999;
    padding: 50px 0px 0px 0px !important;
    box-shadow: 5px 5px 10px #183e702e;
}
.mainpadding {
    width: 1140px !important;
    margin: 0 auto !important;
    position: relative;
    top: -10px;
    z-index: 999;
}
.howcaninner {
    padding: 0 130px 0 130px;
}
.sectiontitle .mainnewtitle {
    color: #183e70;
    margin-bottom: 0px !important;
    font-size: 50px !important;
    text-align: center;
    font-weight: bold;
}
.sectiontitle .mainnewtitle-border {
    color: #183e70;
    margin-bottom: 50px;
    font-size: 50px !important;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #183e70;
    padding-bottom: 20px;
}
.sectiondesc {
    margin-bottom: 50px !important;
    width: 98%;
    margin: 0 auto;
}
.howcanwehelp .sectiondesc p {
    text-align: center !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #183e70 !important;
}
.home-gallery {
    width: 100%;
    max-width: 1140px;
    margin: 20px auto;
    display: flow-root;
}
.services-p {
    width: 42%;
    float: left;
    height: 130px;
    margin-left: 7%;
    margin-top: 28px;
}
.services-p p {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #183e70;
    margin-top: 35px;
}
.col-lg-6 {
    width: 48% !important;
}
.gf-ext-p {
    width: 46%;
    float: right;
    height: 130px;
    margin-left: 11%;
    margin-top: 25px;
}
.gf-price {
    font-size: 16px;
    font-weight: 900;
    color: #183e70;
    vertical-align: bottom;
    top: 50px;
    position: relative;
}
}
.home-gallery-text {
    width: 100%;
    display: flow-root;
    height: 182px;
}
.int-land-h2 {
    width: 35%;
    float: left;
    height: 150px;
    margin-left: 50px;
}
.home-gallery-h2 {
    width: 34%;
    float: left;
    height: 150px;
    /*margin-left: 50px;*/
}
.home-gallery-h2 h2, .int-land-h2 h2 {
    color: #183e70;
    font-size: 50px !important;
    text-align: left;
    font-weight: bold;
    margin-left: 68px;
}
.ext-gal-h2 {
    width: 36%;
    float: left;
    height: 150px;
    margin-left: 0px;
    
}
.ext-gal-h2 h2 {
    color: #183e70;
    font-size: 50px !important;
    text-align: left;
    font-weight: bold;
    margin-top: -10px;
}
.int-design-p a {
    font-weight: bold;
    text-decoration: underline; 
}
.int-design-p a:hover {
    font-weight: bold;
    text-decoration: none; 
}
.home-gallery-p {
    width: 46%;
    float: left;
    height: 150px;
}
.book-home {
    width: 37%;
    float: left;
    height: 150px;
    margin-left: 14%;
}
.home-gallery-p p {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #183e70;
    margin-top: 35px;
}
.title-border {
    border-bottom: 1px solid #183e70;
    width: 100%;
    display: flow-root;
}
.process-text {
    width: 91%;
    margin: 50px auto 70px auto;
}
.process-text h5 {
    font-size: 16px;
    font-weight: 900;
    color: #183e70;
    text-transform: uppercase;
}
.process-text p {
    font-size: 16px;
    font-weight: 400;
    color: #183e70;
    margin-bottom: 20px;
}
.process-text .col-md-5, .process-text .col-lg-5 {
    border:2px solid #183e70;
    padding:20px;
    margin-right:84px;
}
.process-text .last, .process-text .last {
    margin-right:0px !important;
}
.dot {
    height: 5px;
    width: 5px;
    background-color: #183e70;
    border-radius: 50%;
    display: inline-block;
    float: left;
  }
.int-design-p {
    width: 60%;
    float: left;
    height: 150px;
}
.int-design-p p {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #183e70;
    margin-top: 60px;
}
.home-gallery-pics {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
.home-gallery-pics .col_one_third {
    width: 31% !important;
    margin-right: 3% !important; 
    border: 1px solid #183e70;
}
.home-gallery-pics .col_one_third:last-child {
    margin-right: 0% !important; 
}
.home-gallery-pics .gallery-box-title {
    text-align: left;
    margin-top: 10px;
}
.home-gallery-pics p {
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    color: #183e70;
}
.home-gallery-pics .project-text {
    padding: 5px 15px;
}
.project-button {
    width: 100%;
    float: left;
    text-align: left;
    max-width: 243px;
    margin-right: 210px;
    height: 40px !important;
    border: 1px solid #183e70;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #183e70;
    line-height: 40px;
    margin: 25px auto 20px;
}

.project-button:hover {
    background-color: #183e70;
    color: #fff !important;
}
.project-button:hover a {
    color: #fff !important;
}
.project-button a {
    padding-left: 12px;
}
.project-button-arrow {
    float: right;
    height: 27px !important;
    top: 6px;
    position: relative;
    right: 6px;
    background: url('../images_new_design/desktop_blue_arrow.png') no-repeat;
    width: 27px;
    background-size: cover;
}
.project-button:hover .project-button-arrow {
    background: url('../images_new_design/desktop_white_arrow.png') no-repeat;
    background-size: cover;
}
.slick-prev {
    display: none !important;
    
}
.slick-next {
    display: none !important;
}
.testimonialscontainer {
    background: #e6e6e7;
    padding: 80px 0px 50px 0px;
  }
.threetestimonials {
    width: 100%;
display: contents;
text-align: center;
position: relative;
}
.threetestimonials p {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color:#183e70;
    font-style: italic;
    width: 50%;
    margin:5px auto 0px auto;
  }
  .threetestimonials .nameclient {
    font-size: 16px;
    font-weight: bold;
    color: #183e70;
    text-align:center;
    line-height: 1.5;
  }

  .bottomtestimonials p {
    text-align: center;
    font-size: 22px;
    color: #969696;
    line-height: 26px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .testimonialscontainer .sectiondesc {
    padding-bottom: 30px;
    margin: 0px !important;
  }
  .innertestimonials {
    display: table;
    width: 100%;
  }
  .bottomtestimonials p a {
    text-align: center;
    font-size: 22px;
    color: #0f4776;
    font-weight: normal;
    line-height: 26px;
  }
.slick-list {
    margin: 50px 0;
}
.slick-dots {
    display: flex !important;
    width: 13%;
    margin: 50px auto;
}
.slick-dots li {
    list-style: none !important;
    margin-right: 40px;
}
.slick-dots li button {
    width: 4px;
    height: 20px;
    border: 1px solid #183e70;
    background-color: transparent;
    border-radius: 20px;
    color: transparent;
}
.slick-dots li.slick-active button {
    background-color: #183e70;
    color: #183e70;
}
.open-hrs-header {
    width: 100%;
    margin-top: -38px;
    height: 600px;
}
.open-hrs-header-bg {
    width: 1905px;
    background:url('../images_new_design/housetours_banner.jpg') no-repeat;
    height: 600px;
    position: absolute;
    left: 0;
    z-index: 1;
}
.services-header-bg {
    width: 1905px;
    background:url('../images_new_design/services_banner.jpg') no-repeat;
    height: 600px;
    position: absolute;
    left: 0;
    z-index: 1;
}
.book-header-bg {
    width: 1905px;
    background:url('../images_new_design/bt_booking_consultation_banner_desktop.jpg') no-repeat;
    height: 600px;
    position: absolute;
    left: 0;
    z-index: 1;
}
.meet-header-bg {
    width: 1905px;
    background:url('../images_new_design/meet_team_banner.jpg') no-repeat;
    height: 600px;
    position: absolute;
    left: 0;
    z-index: 1;
}
.interior-header-bg {
    width: 1905px;
    background:url('../images_new_design/bt_landscape-banner_desktop_replacement.jpg') no-repeat;
    height: 600px;
    position: absolute;
    left: 0;
    z-index: 1;
}
.int-design-text {
    font-size: 30px;
    color: #183e70;
    width: 73%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}
.design-descr {
    font-size: 24px !important;
    width: 90%;
    margin: 0 auto 70px auto;
    text-align: center;
}
.services-descr {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color: #183e70;
}
.why-services-ul {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color: #183e70;
}
.why-services-ul li {
    margin: 15px 0 35px 0;
}
.services-descr-first {
    margin-right: 30px;
}
.verticletext {
    height: 130px;
}
.contact-header-bg {
    width: 1905px;
    background:url('../images_new_design/bt_contact_banner-desktop_replacement.jpg') no-repeat;
    height: 600px;
    position: absolute;
    left: 0;
    z-index: 1;
}
.rightbox {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.formfields input {
    width: 100% !important;
    height: 44px !important;
    padding: 0px !important;
    border-radius: 0 !important;
    box-shadow: none;
    border: 1px solid #7d7e84 !important;
    max-width: 510px !important;
}
.formfields label {
    display: block;
    margin-bottom: 15px !important;
    text-align: left;
    color: #183e70 !important;
    font-weight: normal;
    font-size: 18px;
    margin-top: 15px;
}
.formfields textarea {
    height: 172px !important; 
    max-width:510px;
    width: 100%;
    border-radius: 0 !important;
    box-shadow: none;
    border: 1px solid #7d7e84;
}
.contactus form input[type="submit"] {
    color: #fff;
    padding: 2px;
    background: #183e70;
    font-size: 24px;
    margin-bottom: 20px;
    max-width: 223px !important;
    font-weight: 500;
    height: 44px !important;
}
.ui-widget.ui-widget-content {
    border: none !important;
}

.date-choice {
    font-size: 20px;
    color:#183e70;
}
.newcontact {
    width: 100%;
    max-width: 1140px;
    margin: 50px auto !important;
    border-bottom: none !important;
    padding: 0px !important;
}
.newcontact h2 {
    font-size: 50px !important;
    font-weight: bold;
    text-align: left;
    color: #183e70 !important;
    margin-bottom: 70px;
}
.dayinline p {
    color: #183e70 !important;

}
.daytimewrap {
    max-width: 500px;
}
.dayinline {
    padding-bottom: 32px !important;
    border-top: 1px solid #183e70;
    padding-top: 10px;
}
.dayinline:last-child {
    border-bottom: 1px solid #183e70;
}
.newinlinetime h4 {
    font-size: 20px;
    font-weight: bold;
    color: #183e70;
}
.newinlinetime p {
    font-size: 20px;
    font-weight: normal;
    color: #183e70;
    padding-top: 0px !important;
}
.borderbtm {
    height: 140px;
    background-color: #E6E6E7;
    border-bottom: none !important;
}
.page_house_tours_new {
    padding-top: 220px;
    font-size: 50px !important;
    font-weight: bold;
    text-align: center !important;
    color: #fff !important;
    position: relative;
    z-index: 999;
}
.open-hrs-p {
    font-size: 24px !important;
    font-weight: 400;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 999;
    width: 80%;
margin: 0 auto;
}
#housetourbg {
    padding: 0px 0 0px 0;
}
#intdesbg {
    padding: 55px 0 55px 0;
}
.forbiggerfonts p {
    font-size: 16px;
    line-height: 25px;
}
#new_page_house_tours {
    padding-top: 30px;
}
#new_page_house_tours {
    height: 380px;
}
.upcoming-dates-bg {
    background-color: #e6e6e7;
    width: 100%;
    max-width: 1920px;
    padding: 140px 0;
}
.upcoming-dates {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.upcoming-dates .col_full h2 {
    font-size: 50px !important;
    font-weight: bold;
    text-align: center;
    color: #183e70 !important;
    margin-bottom: 50px;
}
.upcoming-dates .col_full h5 {
    font-size: 24px !important;
    font-weight: bold;
    color: #183e70;
    margin-top: 30px;
}
.upcoming-dates .col_full p {
    font-size: 16px;
    font-weight: normal;
    color: #183e70;
    padding-top: 0px;
}
.upcoming-dates .col_full p a {
    font-weight: bold;
    text-decoration: underline; 
}
.tour_dates_con {
    /*margin-top: 50px;*/
}
.event-title {
    font-size: 32px !important;
    font-weight: regular;
    text-align: left;
    color: #183e70 !important;
    margin-top: 25px;
}
.event-date {
    font-size: 16px !important;
    font-weight: 800;
    text-align: left;
    color: #183e70 !important;
    margin-top: 20px;
    margin-bottom: 45px;
}
.event-button {
    width: 100%;
    float: left;
    text-align: left;
    max-width: 212px;
    height: 40px !important;
    border: 1px solid #183e70;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #183e70;
    line-height: 40px;
}
.event-button:last-child {
    margin-right: 0px;
}
.event-button:hover {
    background-color: #183e70;
    color: #fff !important;
}
.event-button:hover a {
    color: #fff !important;
}
.event-button a {
    padding-left: 12px;
}
.event-button-arrow {
    float: right;
    height: 27px !important;
    top: 6px;
    position: relative;
    right: 6px;
    background: url('../images_new_design/desktop_blue_arrow.png') no-repeat;
    width: 27px;
    background-size: cover;
}
.event-button:hover .event-button-arrow {
    background: url('../images_new_design/desktop_white_arrow.png') no-repeat;
    background-size: cover;
}
.book-button {
    width: 100%;
    float: left;
    text-align: left;
    max-width: 212px;
    height: 40px !important;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 40px;
}
.book-button:hover {
    background-color: #fff;
    color: #fff !important;
}
.book-button:hover a {
    color: #183e70 !important;
}
.book-button a {
    padding-left: 12px;
    color: #fff;
}
.book-button-arrow {
    float: right;
    height: 27px !important;
    top: 6px;
    position: relative;
    right: 6px;
    background: url('../images_new_design/desktop_white_arrow.png') no-repeat;
    width: 27px;
    background-size: cover;
}
.book-button:hover .book-button-arrow {
    background: url('../images_new_design/desktop_blue_arrow.png') no-repeat;
    background-size: cover;
}
.home-booking {
    width:100%;max-width: 1140px;margin: 0px auto;display: flow-root;padding:50px 0;
}
.home-booking-p {color:#fff;font-size:24px;font-style:italic;text-align:center;}
.home-booking-title {margin-top: 40px;}
.home-booking-h3 {font-size:40px;color:#fff;text-align:center;font-weight:bold;margin-top: 10px;}
.home-booking-button {width:100%;max-width: 220px;margin: 0px auto;display: flow-root;padding:32px 0 0 0;}
.events-book .col_full h2 {
    font-size: 30px !important;
    font-weight: bold;
    text-align: left;
    color: #183e70 !important;
    margin-top: 50px;
}
.our-site-title {
    font-size: 35px !important;
    font-weight: regular;
    text-align: left;
    color: #183e70 !important;
    line-height: 55px;
    margin-bottom: 50px;
}
.consult-title {
    font-size: 36px !important;
    font-weight: regular;
    text-align: center;
    color: #183e70;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.consult-subtitle {
    font-size: 36px !important;
    font-weight: 900;
    text-align: center;
    color: #183e70;
    line-height: 40px;
    margin-bottom: 10px;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
.active-date {
    background-color: #183e70;
}
.active-date .consult-title {
    color: #fff !important;
}
.active-date .consult-subtitle {
    color: #fff !important;
}
.active-date .event-button {
    background-color: #fff;
}
.active-date .event-button a:hover {
    color: #183e70 !important;
}
.space-site {
    width:12% !important;
}
..meet-team {
    background-color: #E6E6E7;
}
.content-block {
    max-width: 1140px;
    margin: 0 auto 140px auto;
    height: auto;
    display: flow-root;
}
#the-team {
    width: 100%;
    margin: 0 auto;
    display: block !important;
    position: relative;
    z-index: 2;
    max-width: 900px;
}
.team-member-new.newteam {
    width: 44% !important;
    margin: 10px 20px 70px 20px !important;
    padding: 0px 0 10px 0 !important;
    display: inline-grid !important;
    position: relative;
    vertical-align: top;
}
h3.team_member_title {
    font-size: 16px !important;
    color: #183e70 !important;
    line-height: 30px;
    font-weight: normal;
    text-align: left;
    margin-top: 15px;
}
.jobtitle {
    font-size: 16px !important;
    color: #183e70 !important;
    line-height: 0px;
    font-weight: bold;
    text-align: left;
}
.list-last .why-services-ul {
    float: right;
}
.list-last {
    margin-left: 6%;
    padding-right: 0 !important;
}
.openplus {
    font-size: 16px !important;
    color: #183e70 !important;
    line-height: 30px;
    font-weight: normal;
    text-align: left;
    float: left;
    margin-top: 22px;
}
.teampg {
    font-size: 50px !important;
    font-weight: bold !important;
    text-align: left;
    color: #183e70 !important;
    margin-bottom: 50px;
}
.meet-subtitle {
    font-size: 40px !important;
    font-weight: 500;
    text-align: center;
    color: #183e70 !important;
    padding: 50px 0;
    line-height: 1.3;
}
.home-house-tour-p {
    width: 75%;
    margin: 20px auto 30px auto;
    text-align: center;
}
.contact-form-title {
    font-weight: bold; 
    font-size: 30px;
    color:#183e70;
    text-transform: initial;
}
.howcangrid.activehelp .inlinegrid .verticletext {
    -webkit-transition: .4s ease-out;
     -webkit-transition-delay: 0.5s;
     -o-transition: .4s ease-out;
     -o-transition-delay: 0.5s;
     -moz-transition: .4s ease-out;
     -moz-transition-delay: 0.5s;
     transition: .4s ease-out;
     transition-delay: 0.5s;
}
/***** MOBILE VERSION *****/

@media only screen and (max-width:640px) {
	  
    .aad_custom_banner
    {
        margin:95px 0 0 0;
        background-size:contain !important;
        background-repeat:no-repeat !important;
    }
    section.lazy .slick-arrow {
    display: none !important;
    }
    .threetestimonials.testbottom {
    height: auto;
    padding-top: 50px;
    padding-bottom: 90px;
    min-height: 120px;
    }
    section.lazy.slider.slick-initialized.slick-slider {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 0px;
        margin-top: 25px;
    }
    .home-booking-p {
        font-size: 20px;
    }
    .home-booking-h3 {
        font-size: 20px;
    }
    .home-booking-button {
        max-width: 215px;
    }
    .threetestimonials p {
        font-size: 15px;
        width: 85%;
        margin: 0px auto 0px auto;
    }
    .threetestimonials .nameclient {
        font-size: 15px;
    }
    .slick-dots {
        display: flex !important;
        width: 38%;
        margin: 30px auto 0px;
    }
    .slick-dots li button {
        width: 20px;
        height: 20px;
    }
    .hometextabimation h1,
    .hometextabimation h2 {
    font-size: 20px !important;
    margin-bottom: 5px !important;
    }

    .hometextabimation .mainpadding {
    height: 60px;
    }

    .hometextabimation {
    padding: 20px 0px;
    }
    .smallheight {
    padding-top: 20px !important;
    }
    .small {
    background-image: url("https://www.buildteam.com/images/homeslider/house_tour_banner_phone.jpg");
    }
    .aad_fixed_right_phone_icon {
        display: block !important;
        height: 50px !important;
        width: 240px;
        position: fixed;
        top: 400px;
        background: #0F4778;
        z-index: 9999 !important;
        transition: 0.5s ease-in-out;
        text-align: right;
        font-size: 1.7em !important;
        right: -190px;
        padding-right: 20px;
        cursor: pointer !important;
      }
  
      .aad_fixed_right_phone_icon img {
        width: 30px;
        float: left;
        padding: 0 10px;
        margin: 10px 0 0 0;
      }
  
      .aad_fixed_right_phone_icon a {
        margin: -29px -8px 0 0;
        float: right;
        width: 200px;
      }
        .search {
      top: 17% !important;
      height: 65% !important;
      }

      .header .header-line {
        border-bottom: 2px solid #959595;
        max-width: 640px;
        height: 94px;
        position: relative;
        margin: 0 auto;
        z-index: 9;
        }
        button.nav-trigger {
            top: 48px;    
        }
        .navigation--main {
            width: 84% !important;
            padding: 94px 30px 60px 30px !important;
        }
        .navBox a {
            font-size: 15px !important;
            color: #183e70 !important;
            padding: 15px 0px !important;
        }
        .dropNav li {
            padding: 0 10px !important;
        }
        .dropNav li a {
            padding: 5px 0px !important;
        }
        .formobileonly .sitevisittab {
            position: relative !important;
            height: 230px !important;
            width: 230px !important;
            top: 60px !important;
            border-radius: 0px !important;
            background-color: #183e70;
            }
        .ui-widget.ui-widget-content {
            z-index:10000;
            max-width:85%;
            margin:0 auto;
            }
        .dateholder {
            width:100% !important;
            }
        .mobilewrap a {
            font-size: 20px !important;
            padding-top: 20px !important;
            color: #fff !important;
            font-weight: 500;
            }
        .sitevisittab .linktab a {
            padding:5px 5px !important;
            background: #fff !important;
            border-radius: 20px !important;
            }
        .sitevisittab p img {
            max-width:15px !important;
            }
        .sitevisittab p {
            position: relative;
            text-align: center !important;
            font-size: 18px !important;
            font-weight: 500 !important;
        }
        .fromdate .date, .todate .date {
            font-size: 18px !important;
        }
        .fromdate p, .todate p {
            font-size: 18px !important;
        }
        .ordiv.dateinline {
            left: 5px !important;
        }
        .ordiv.dateinline:before {
            content: "";
            position: absolute;
            height: 25px !important;
            width: 1px !important;
            background: #fff;
            top: -20px !important;
            left: 22px;
        }
        .ordiv.dateinline:after {
            content: "";
            position: absolute;
            height: 25px !important;
            width: 1px !important;
            background: #fff !important;
            bottom: -8px !important;
            left: 22px;
        }
        .sitevisittab span {
            font-size: 18px !important;
            color: #fff !important;
            font-weight: 500;
        }
        .dateholder p {
            left:inherit !important;
            }
        .small {
            background-image: url(/images_new_design/bt_homepage_banner-mobile_replacement.jpg) !important; 
        }
        .aad_fixed_right_house_tour {
            top: 48px !important;
        }
        .home-banner-h2 {
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            color: #183e70;
            margin-top: 60px;
            position: relative;
            margin-bottom: 20px;
            line-height: 35px;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
        .home-banner-p {
            font-size: 20px;
            text-align: center;
            font-weight: 400;
            color: #183e70;
            margin-top: 25px;
            width: 79%;
            margin: 0 auto;
        }
        .home-banner-h3 {
            font-size: 25px;
            text-align: center;
            font-weight: bold;
            color: #183e70;
            margin-top: 60px;
            position: relative;
            margin-bottom: 60px !important;
        }
        .home-banner-h5 {
            font-size: 20px;
            text-align: center;
            font-weight: 400;
            color: #183e70;
            margin-top: 25px;
            width: 60%;
            margin: 0 auto;
            position: relative;
        }
        .home-banner-btns {
            width: 100%;
            max-width: 240px;
            margin: 48px auto 0;
            height: 42px !important;
            position: relative;
            display: block;
            
        }
        .home-banner-button {
            margin-bottom: 15px;
            display: inline-table;
            width: 238px;
            float: none;
            zoom: 1;
        }
        .home-booking {
            padding: 40px 0;
            max-width: 640px;
        }
        .home-booking-p p {
            font-size: 15px !important;
            width: 87%;
        }
        .howcanwehelp {
            width: 100%;
            max-width: 480px;
            margin: 0 auto;
            border-radius: 0px !important;
        }
        .mainouterwrapper {
            padding-bottom: 30px !important;
            margin-top: 0px !important;
        }
        .howcaninner {
            padding: 0;
        }
        .mainpadding {
            width: 100% !important;
        }
        .sectiontitle .mainnewtitle {
            font-size: 20px !important;
        }
        .sectiondesc {
            margin-bottom: 60px !important;
        }
        .design-descr {
            margin: 0 30px 20px 30px !important;
        }
        .howcanwehelp .sectiondesc p {
            text-align: center !important;
            font-size: 15px !important;
            font-weight: 500 !important;
            color: #183e70 !important;
            display: flex !important;
            width: 85%;
            margin: 0 auto;
        }
        .gridimage {
            float: none !important;
        }
        .howcangrid {
            text-align: center;
            display: table;
            width: 90%;
            margin: 0 auto;
        }
        .innerinlinegrid {
            border-right: none !important;
            height: 20px !important;
        }
        .howcangrid.activehelp .inlinegrid .verticletext {
            top: 120px !important;
        }
        .verticletext {
            display: block !important;
        }
        .gridimage img {
            max-width: 175px !important;
            height: 100px !important;
        }
        .gridtitle {
            float: none !important;
            width: 100% !important;
            text-align: center !important;
        }
        .gridtitle h2 {
            font-size: 20px !important;
            padding-top: 20px;
        }
        .howcangrid .inlinegrid {
            border-bottom: 1px solid #183e70;
            width: 100% !important;
            display: table !important;
            margin: 0 auto !important;
            padding: 0 !important;
        }
        .howcangrid :last-child {
            border-bottom: none;
        }
        .innerinlinegrid {
            padding: 30px 0 20px 0 !important;
        }
        div#expandit {
            position: absolute;
            right: 180px !important;
            bottom: -20px;
            cursor: pointer;
        }
        .home-gallery {
            width: 100%;
            max-width: 480px;
            margin: 50px auto 10px; 
            display: flow-root;
        }
        .mob-button .col_one_third:first-child {
            display: none;
        }
        .mob-button .col_one_third:last-child {
            display: none;
        }
        .mob-button .col_one_third {
            margin-bottom: 0px !important;
        }
        .home-gallery-h2 {
            width: 100%;
            float: left;
            height: 35px;
            margin-left: 40px;
        }
        .home-gallery-h2 h2, .int-land-h2 h2 {
            color: #183e70;
            font-size: 22px !important;
            text-align: left;
            font-weight: bold;
            margin-left: 0px;
        }
        
        .home-gallery-p p {
            font-size: 15px;
        }
        .home-gallery-pics {
            width: 100%;
            max-width: 480px;
            margin: 0 auto;
        }
        .home-gallery-pics .col_one_third {
            width: 100% !important;
            margin-right: auto !important;
            border: 1px solid #183e70;
            margin: 0 auto;
            display: flow-root;
        }
        .project-button {
            margin: 25px 6% !important;
        }
        .testimonialscontainer {
            background: #e6e6e7;
            padding: 60px 0px 60px 0px;
        }
        .sectiontitle .mainnewtitle-border {
            font-size: 20px !important;
            padding-bottom: 10px;
            width: 85%;
            margin: 0 auto;
        }
        .home-gallery-p {
            width: 100% !important;
            float: left;
            padding: 0 30px 30px 40px;
            margin: 0 auto;
            max-width: 315px;
        }
        .home-gallery-p p {
            margin-top: 35px !important;
        }
        .col-xs-8 {
            margin: 0px 10% 30px;
        }
        .col-xs-6 {
            margin: 0px 10% 30px;
        }
        #backtoTop {
            display: none !important;
        }
        .slick-dots li button {
            color: transparent;
        }
        .upcoming-dates-bg {
            background-color: #e6e6e7;
            width: 100%;
            max-width: 480px;
            padding: 60px 0 10px !important;
        }
        #mc_embed_signup {
            margin-top: 60px !important; 
        }
        .upcoming-dates .col_full h2 {
            font-size: 20px !important;
            padding-bottom: 10px !important;
            width: 85%;
            margin: 0 auto;
        }
        .home-house-tour-p {
            width: 85%;
            margin: 20px auto 50px auto !important;
        }
        .upcoming-dates .col_full p {
            font-size: 15px;
        }
        .video {
            /*margin-left: -15px;*/
        }
        p {
            max-width: 315px;
            width: 100%;
            margin: 0 auto;
        }
        .event-button {
            max-width: 190px !important;
            margin: 30px 23% 0px 23% !important; 
        }
        .col-xs-8 .event-button {
            max-width: 221px !important;
            margin: 30px 5% 0px 10% !important; 
        }
        #mc_embed_signup {
            padding: 10px 0 30px;
        }
        .tour_dates .event-button {
            max-width: 275px !important;
            margin: 30px 0% 0px 0% !important;
        }
        .tour_dates img {
            width: 20px !important;
            height: 30px !important;
        }
        .form_row > label {
            font-size: 15px !important;
            line-height: 20px !important;
        }
        .home-gallery-pics {
            width: 70%;
            max-width: 480px;
            margin: 0 auto;
            display: flow-root;
        }
        #mc_embed_signup_scroll h4 {
            text-align: left;
            margin: 20px 30px;
            width: 85%;
            max-width: 300px;
        }
        .mc-field-group input[type="email"] {
            width: 80% !important;
        }
        #mc_embed_signup_scroll .button {
            height: 33px !important;
            width: 33px !important;
        }
        #mc_embed_signup_scroll .mc-field-group {
            width: 85% !important;
        }
        footer {
            padding: 0 !important;
        }
        .bott_menu .col_full {
            max-width: 480px !important;
            width: 100%;
            margin: 50px auto;
            height: auto !important;
        }
        .bott_menu .col_half {
            width: 100% !important;
            margin-right: 40px;
            padding-right: 40px;
            border-right: 4px solid #DFDFE1;
            height: 450px !important;
        }
        .footer-title-left {
            text-align: center;
        }
        .footer-line-left {
            margin: 0 42%;
        }
        footer .bott_menu ul li {
            text-align: center;
        }
        .footer-title-right {
            text-align: center;
        }
        .footer-line-right {
            margin: 0 42%;
        }
        footer .social {
            margin: 0 25% !important;
            width: 60% !important;
            padding:20px 0px !important;
        }
        footer .copyright ul {
            width: 90% !important;
            margin: 0 auto !important;
        }
        .open-hrs-header {
            margin-top: -13px;
        }
        .open-hrs-header-bg {
            background: url(../images_new_design/housetour_bkg_mobile.jpg) no-repeat;
            background-size: contain;
            height: 700px;
        }
        .page_house_tours_new {
            font-size: 30px !important;
            padding-top: 217px !important;
            margin-left: auto;
            width: 85%;
            margin-right: auto;
            max-width: 295px;
        }
        .open-hrs-p {
            font-size: 20px !important;
            width: 85%;
            margin: 0 auto;
            max-width: 320px;
        }
        #housetourbg {
            max-width: 480px;
            padding: 30px 0 30px 0;
        }
        #housetourbg video {
            max-width: 480px !important;
            margin: 0px !important;
        }
        .playpause {
            width: 102% !important;
            height: 221px !important;
            top: 10px !important;       
        }
        #new_page_house_tours {
            height: auto;
        }
        #carousel-example-generic {
            display: block !important;
        }
        #new_page_house_tours .col_half {
            width: 100% !important;
        }
        #new_page_house_tours .col_last {
            width: 100% !important;
            margin: 0 auto 0 auto !important;
            text-align: center;
            max-width: 315px;
        }
        .tour_dates {
            width: 75% !important;
            margin: 0 auto 15px !important;
            float: none !important;
            height: 300px;
        }
        section {
            max-width: 414px;
            margin: 0 auto;
            display: flow-root !important;
            width: 100%;
        }
        .events-book .col_full h2 {
            font-size: 20px !important;
            font-weight: bold;
            text-align: left;
            color: #183e70 !important;
            margin-bottom: 20px;
            margin-top: 60px;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
        .mobile_version_form {
            width: 85%;
            margin: 0 auto;
        }
        .mob-space {
            display: none;
        }
        .checkboxbro span {
            font-size: 10px !important;
        }
        .register_details {
            width: 190px !important;
        }
        .upcoming-dates .col_full h5 {
            font-size: 15px !important;
            margin-top: 30px;
            margin-left: 15px;
        }
        .upcoming-dates .col_full p {
            font-size: 15px !important;
            width: 85%;
            margin-bottom: 20px;
            margin-left: 15px;
        }
        .contact-header-bg {
            background: url(../images_new_design/bt_contact_banner-mobile_replacement1.jpg) no-repeat;
            background-size: contain;
            height: 700px;
        }
        .full.contactus {
            padding: 0px 0px !important;
        }
        .rightbox {
            width: 85% !important;
            text-align: left !important;
        }
        .contact-form-title {
            font-weight: bold;
            font-size: 20px;
            color: #183e70;
            text-transform: initial;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .formfields label {
            font-size: 15px !important;
            font-weight: bold !important;
            color: #183e70 !important;
        }
        .contact-form-mob {
            display: none !important;
        }
        .formfields input {
            background-color: #e6e6e7;
        }
        .formfields textarea {
            width: 100%;
            background-color: #e6e6e7;
        }
        .newcontact {
            width: 85%;
        }
        .newcontact h2 {
            font-size: 20px !important;
            margin-bottom: 30px;
        }
        .tempchristmas .dayinline p {
            font-size: 15px;
        }
        .dayinline {
            padding-bottom: 30px !important;
            border-top: 1px solid #183e70;
            padding-top: 10px;
        }
        .contact-address {
            margin-top: 60px;
        }
        .contact-address-loc {
            font-size: 15px;
        }
        .newinlinetime p {
            font-size: 15px;
        }
        .newinlinetime h4 {
            margin-top: 30px !important;
            margin-bottom: 20px !important;
        }
        .tempchristmas {
            border-bottom: none !important;
        }
        .dayinline:last-child {
            border-bottom: none !important;
        }
        .borderbtm {
            height: 60px;
        }
        .meet-header-bg {
            background: url(../images_new_design/meet_team_bkg_image_mobile.jpg) no-repeat;
            background-size: contain;
            height: 700px;
        }
        .meet-team {
            padding: 30px 0 60px 0 !important;
        }
        .col-xs-10 {
            margin: 0 9%;
        }
        div.img_team_mem-new img {
            width: 320px !important;
            margin: 0;
        }
        h3.team_member_title {
            font-size: 15px !important;
            margin-top: 10px;
        }
        .jobtitle {
            font-size: 15px !important;
        }
        .openplus {
            font-size: 15px !important;
            margin-top: 20px;
        }
        .content-block {
            margin: 0 auto 60px auto;
        }
        .meet-subtitle {
            font-size: 15px !important;
            padding: 30px 0;
            line-height: 1.8;
            width: 85%;
            margin: 0 auto;
        }
        .teampg {
            font-size: 20px !important;
            margin-bottom: 30px;
            width: 85%;
            margin: 60px auto 30px;
        }
        #the-team {
            width: 94% !important;
        }
        .team-member-new.newteam {
            width: 85% !important;
            margin: 0px 6% 60px 6% !important;
        }
        .popupdetails {
            position: fixed;
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,0.3);
            top: 0px;
            left: 0px;
            z-index: 2;
            display:none;
        }
        .popupdetails .popuphtml {
            top: 30%;
            max-width: 80%;
            background: #e6e6e7;
            margin: 0 auto;
            position:relative;
            padding:20px 20px;
        }	
        .popuphtml p {
            top:0px !important;
            }
        .popupdetails .cosepopup:after{
            content:"x";
            position:absolute;
            
            font-size: 30px;
            line-height: normal;
            color:white;
        
            }
        .cosepopup {
            position: absolute;
            top: 24%;
            right: 30px;
            font-size: 20px;
            line-height: normal;
        }	
        .openinfo {
            display:none;
            }
        .ceotitlemob {
            display:block;
            }
        .ceotitledesk {
            display:none;
            }	
        .ceotitlemob img {
            float:left;
            width:46%;
            padding-right:10px;
            padding-bottom:10px;
            }	
        .ceotitlemob p {
            font-size:14px;
        }			
        .interior-header-bg {
            background: url(../images_new_design/bt_landscape-banner_mobile_replacement1.jpg) no-repeat;
            background-size: contain;
            height: 700px;
        }
        .services-header-bg {
            background: url(../images_new_design/092820_services_bkg_mobile.jpg) no-repeat;
            background-size: contain;
            height: 700px;
        }
        .book-header-bg {
            background: url(../images_new_design/bt_booking-page_banner_mobile1.jpg) no-repeat;
            background-size: contain;
            height: 700px;
        }
        .open-hrs-header {
            height: 700px;
        }
        .int-design-text {
            font-size: 20px;
            width: 85%;
            font-weight: bold;
        }
        #intdesbg {
            padding: 30px 0 60px 0;
        }
        .our-site-title {
            font-size: 30px !important;
        }
        .upcoming-dates img {
            width: 102%;
            margin-left: -5%;
        }
        .int-land-h2 {
            width: 85% !important;
            float: none !important;
            height: 42px !important;
            margin: 0 auto !important;
        }
        .int-design-p {
            width: 85% !important;
            float: none !important;
            /*height: 100px !important;*/
            margin: 10px auto -10px !important;
        }
        .int-design-p p {
            text-align: left;
            font-size: 15px !important;
            font-weight: 500;
            color: #183e70;
            margin-top: 10px !important;
        }
        .title-border {
            border-bottom: 2px solid #183e70;
            width: 85%;
            display: flow-root;
            margin: 20px auto !important;
        }
        .process-text {
            width: 85%;
            margin: 30px auto 60px auto;
        }
        .process-text h5 {
            font-size: 15px;
        }
        .process-text p {
            font-size: 15px;
        }
        .process-text .col-xs-10, .process-text .col-sm-10 {
            margin-left: 0 !important;
            margin-bottom: 30px;
        }
        .process-text .last {
            margin-bottom: 0px;
        }
        .our-site-title {
            line-height: 45px;
        }
        .home-gallery .project-button {
            margin: 25px 8% !important;
        }
        .ild-button .project-button {
            margin: 0px 15% 60px !important;
        }
        .project-text .project-button {
            margin: 25px 3% !important;
        }
        .home-gallery-text {
            display: grid;
        }
        .verticletext p {
            margin: 0 auto !important;
        }
        .services-p {
            width: 85% !important;
            float: none !important;
            height: 100px !important;
            margin: 0px auto !important;
        }
        .services-p p {
            font-size: 15px;
        }
        .upcoming-dates .col_full {
            display: flex;
            flex-direction: column;
        }
        .upcoming-dates .col_full .services-descr-first {
            order: 2;
        }
        .upcoming-dates .col_full .services-descr-last {
            order: 1;
        }
        .why-services-ul {
            font-size: 15px;
            font-weight: normal;
            text-align: left;
            color: #183e70;
            width: 85%;
            margin: 0 auto;
            float: none !important;
        }
        .why-services-ul li {
            margin: 15px 0 30px 0;
            line-height: 20px;
        }
        .upcoming-dates .col_full .services-descr-first .project-button {
            margin: 25px 3% !important;
        }
        .ext-gal-h2 {
            width: 85%;
            float: none;
            height: 50px;
            margin: 0 auto;
        }
        .ext-gal-h2 h2 {
            color: #183e70;
            font-size: 20px !important;
            text-align: left;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 20px;
        }
        .flex-grid {
            display: flex;
            flex-direction: column;
        }
        .flex-grid .ext-gal-h2 {
            order: 1;
        }
        .flex-grid .gf-ext-p{
            order: 5;
        }

        .flex-grid .order-img{
            order: 4;
        }

        .flex-grid .list-first {
            order: 2;
            padding-left: 4px !important;
        }

        .flex-grid .list-last {
            order: 3;
            padding-left: 4px !important;
        }
        .gf-ext-p {
            width: 85%;
            float: none;
            height: 130px;
            margin: 0 auto !important;
        }
        .gf-price {
            font-size: 15px;
            font-weight: 900;
            color: #183e70;
            vertical-align: bottom;
            top: 0px;
            position: relative;
            float: left;
            width: 85%;
        }
        .flex-grid .project-button {
            margin: 25px 0% !important;
            float: left !important;
        }
        .flex-grid .col-xs-10 {
            margin: 0 4%;
            width: 83.33333333% !important;
        }

}

@media screen and (max-width:480px) {
    .aad_fixed_right_house_tour {
    width: 100%;
    position: absolute;
    top:30px;
    opacity:0.7;
    z-index: 1 !important;
    transition: 0.5s ease-in-out;
    text-align: left;
    font-size: 1.7em !important;
    right: 0px;
    }
    .aad_fixed_right_house_tour  h1 {
    margin: 0;
    float: left;
    padding: 2px 0px;
    color:#fff;
    font-size: 35px !important;
    text-transform:uppercase !important;
    background: #1a3f6e;
    width: 100%;
    position: absolute;
    top: 220px;
    text-align: center;
    }
    .aad_fixed_right_house_tour  p {    
    margin: 0;
    float: left;
    padding: 5px 0px;
    color:#fff !important;
    text-align:center;
    background: #1a3f6e;
    width: 100%;
    top: 195px;
    position: absolute;
    font-size: 16px;
    }
    .aad_fixed_right_house_tour  p.covid {    
    margin: 0;
    float: left;
    padding: 12px 0px;
    color:#fff !important;
    text-align:center;
    background: #2d6d16;
    width: 100%;
    height: 15px;
    position: absolute;
    top:100px;
    font-size: 12px;
    font-weight: 500;
    }
    .aad_fixed_right_house_tour_a {
    margin: 0px 0px 0 0;
    background: #fff;
    width: 100%;
    height: 35px !important;
    padding: 0px;
    position: absolute;
    top: 280px;
    font-size: 13px;
    }
    .aad_fixed_right_house_tour  a.gallery {
    margin: 0px 0px 0 0;
    text-transform: capitalize !important;
        text-decoration: underline;
    background: #fff;
    width: 42%;
    padding: 10px 0px;
    font-weight: bold;
    float: left;
    text-align: right;
    }
    .aad_fixed_right_house_tour  a.tour {
    margin: 0px 0px 0 0;
    text-transform: capitalize !important;
        text-decoration: underline;
    background: #fff;
    width: 45%;
    padding: 10px 0px;
    font-weight: bold;
    float: right;
    text-align: left;
    }
    .search {
    top: 15% !important;
    height: 65% !important;
    }
    .ui-widget.ui-widget-content {
        display: contents;
    }
}
@media screen and (min-width:1240px) and (max-width:1430px) {
    .design-database-tab {
        bottom: 200px;
    }
    .brochure-tab {
        bottom: 270px;
    }
    .online-quote-tab {
        bottom: 360px;
    }
    .book-viisit-tab {
        bottom: 440px;
    }
    .home-banner-h3 {
        margin-top: 80px;
    }
    .home-banner-h2 {
        margin-top: 110px;
    }
    .home-banner-h5 {
        margin-top: 25px;
    }
    .home-banner-p {
        margin-top: 20px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .cbp-hrmenu > ul > li {
        display: inline-block;
        margin: 0 30px 0 0 !important;
    }
    .header .logo {
        margin-left: 20px !important;
    }
    .home-banner-h2 {
        width: 80%;
        margin-top: 125px;
    }
    .newlesttabs {
        display: none;
    }
    .home-banner-h3 {
        margin-top: 120px;
    }
    .home-banner-button {
        margin-right: 35px;
    }
    .howcaninner {
        padding: 0 30px 0 30px;
    }
    .howcanwehelp {
        padding: 50px 0px 0px 0px !important;
    }
    .mainpadding {
        width: 98%;
    margin: 0 auto;
    max-width: 750px;
    }
    div#expandit {
        right: 360px !important;
    }
    .howcangrid.activehelp .inlinegrid {
        height: 380px;
    }
    .cbp-hrmenu {
        width: 580px !important;
        float: left !important;
    }
    .home-gallery-h2 h2, .int-land-h2 h2 {
        font-size: 36px !important;
        text-align: left;
        font-weight: bold;
        margin-left: 30px;
    }
    .home-gallery-p p {
        margin-top: 10px !important;
    }
    .home-gallery-pics {
        width: 100%;
        max-width: 730px;
        margin: 0 auto;
    }
    .home-gallery-pics .col_one_third div a img {
        height: 160px !important;
    }
    .project-button {
        margin: 25px 0px !important;
    }
    .home-gallery-p .vt {
        left: 10px !important;
    }
    .home-gallery-p {
        width: 62% !important;
    }
    #mc_embed_signup_scroll .mc-field-group {
        width: 70% !important;
    }
    .social {
        width: 100% !important;
    }
}

#dialog-request2, #dialog-request {
    display: none !important;
}
@media screen and (min-width:1275px) and (max-width:1440px) {
    .cbp-hrmenu > ul > li {
        margin: 0 60px 0 0 !important;
    }
}