@media (min-width:768px) {
	.newhidden-xs {
		display:inherit !important;
		}
	.newvisible-xs {
		display:none !important;
		}
		.newlabel input[type=radio]{
  position: absolute;
  opacity: 0;
  z-index:10;
  left:0;
  top:10px;
}	
.newlabel label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 0px 0px 0px 10px;
  margin: 10px auto;
  height: 10px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
}	
.newlabel .check{
  display: block;
  position: absolute;
  border: 2px solid #f5641e;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 10px;
  left: 0px;
	z-index: 5;
	transition: border .1s linear;
	-webkit-transition: border .1s linear;
}
.newlabel {
	position:relative;
	display:block;
	float:left;
	width:100%;
	}	
.newlabel .check::before {
  display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 0px;
    left: 0px;
    margin: auto;
	transition: background 0.1s linear;
	-webkit-transition: background 0.1s linear;
}	
.newlabel input[type=radio]:checked .check {
  border: 2px solid #f5641e;
}
.newlabel input[type=radio]:checked ~ .check::before{
  background: #f5641e;
}
.limitedwidth {
	max-width: 125px;
    margin: 0 auto;
	}	
.limitedwidth .newlabel {
	margin-bottom: 28px;
	}
.limitedwidth .newlabel label {
	font-size:16px !important;
	}	
	
		
	}
	

@media (max-width:768px) {
	.newhidden-xs {
		display:none !important;
		}
	.newvisible-xs#byp_landing_top {
		display:inherit !important;
		float:none !important;
		margin:0 auto !important;
		height:430px !important;
		margin-bottom:20px;
		}
	.newvisible-xs ul.check li	{
		background:none !important;
		}
	.newvisible-xs ul.byp_landing_list {
		margin-left:0px !important;
		}		
	.newvisible-xs ul.byp_landing_list li {
		width:100%;
		padding-left:0px !important;
		text-align:center;
		}
	ul.byp_landing_list li .turnorange {
		color: #f78a55 !important;
		}	
	.newvisible-xs .byp-title {
		border-bottom: dotted;
		border-width: 0 0 5px 0;
		border-image-slice: 33% 33%;
		border-image-repeat: round;
		border-image-source: url(../images/dots.svg);
		}
	.newvisible-xs .topandbottom {
		border-bottom: dotted;
    border-top: dotted;
    border-width: 6px 0 6px 0;
    border-image-slice: 33% 33%;
    border-image-repeat: round;
    border-image-source: url(../images/greydots.svg);
    padding: 10px 25px 4px 25px;
    font-size: 27px;
    vertical-align: middle;
	width: 65%;
    display: block;
    margin: 0 auto;
		}	
	#byp_sub_col2 select {
		border-radius:0px !important;
		}	
	.newvisible-xs #mob_byp_start_title	{
		width:100%;
		text-transform:uppercase;
		font-size:26px !important;
		margin-left:0px !important; 
		font-weight: lighter;
		padding:5px 0px !important;
		}	
	.newvisible-xs .byp-logo {
		max-width:85px;
		width:auto !important;
		margin:0 auto !important;
		float:none !important;
		padding-top:30px;
		}
	.newvisible-xs .mobilelogo {
		text-align:center;
		}
	.newvisible-xs .byp_top_wrap {
		margin-left:0px !important;
		}
	.newvisible-xs .byp-btn {
		background:none !important; 
		}
	.newvisible-xs .byp-btn {
    	width: auto !important;
		margin-top:20px;
		}					
	.newvisible-xs .byp-btn img{
		max-width:150px;
		}
	.newvisible-xs .darkgrey-txt {
		color:#808385;
		}
	.newvisible-xs div.orange {
		margin-left:0px !important; 
		}
	.newvisible-xs #byp_landing_middle_left, .newvisible-xs #byp_landing_middle_right {
		width:100% !important;
		margin-left:0px !important;
		float:none !important;
		text-align:center;
		}	
	.newvisible-xs #byp_landing_middle_left img {
		width:auto !important;
		margin:0 auto !important;
		}
	.newvisible-xs #byp_landing_middle_right .lightblue-bg {
		width:100% !important;
		background:none !important;
		text-align:center !important; 
		}
	.newvisible-xs #byp_landing_middle_right .lightblue-bg {
		padding:10px 0px !important;
				
		}
	.newvisible-xs .paddedwidth {
		background:#d2d9e5;
		margin:0 auto;
		float:none !important;
		}
	.newvisible-xs .paddedwidth ul {
		list-style:none;
		margin:0px;
		padding:0px;
		}	
	.newvisible-xs #latest-quotes-wrap {
		margin:0 auto;
		}
	.newvisible-xs .darkblue-txt, .newvisible-xs .byp-title {
    	color: #083979 !important;
		}		
	.newvisible-xs #latest-quotes-slide {
		height:250px !important;
		}	
	.newvisible-xs #latest-quotes-wrap {
		height:320px;
		}
	#mob_screen_back{
    width: 20%;
    font-size: 20px !important;
    color: #f78a55 !important;
	text-align:right !important;
}	
#mob_screen_back a{
    color: #f78a55 !important;
	padding-right:10px !important;
}	
		
/* Starting App CSS */

#byp_slide_box li {
	height:auto !important;
	}
#byp_slide_box, #byp_get_costing, #byp_slide_box ul, #byp_slide_box li, .byp_col, #byp_step4_col2, .byp-final-page {
	height:auto !important;
	}
#byp_slide_box {
	
	}
#mob_screen_title {
	font-size:24px;
	text-align:left !important;
	}
.byp_col {
	max-width:230px;
	margin:0 auto;
	float:none !important;
	text-align:left !important;
	}				
#byp_col1 {
	text-align:left !important;
	}
#byp_response_nav {
	border:none !important;
	}						
#mob_screen_title {
	border-bottom: dotted;
    border-width: 0 0 5px 0;
    border-image-slice: 33% 33%;
    border-image-repeat: round;
    border-image-source: url(../images/dots.svg);
	color: #415480 !important;
	}
input#byp_postcode {
	background:none !important;
	border:2px solid #f5641e !important;
	}
.newlabel input[type=radio]{
  position: absolute;
  opacity: 0;
  z-index:10;
  left:0;
  top:12px;
}	
.newlabel label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 16px;
  padding: 0px 0px 0px 10px;
  margin: 10px auto;
  /*height: 10px;*/
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
}	
.newlabel .check{
  display: block;
  position: absolute;
  border: 2px solid #f5641e;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 12px;
  left: 0px;
	z-index: 5;
	transition: border .1s linear;
	-webkit-transition: border .1s linear;
}
.newlabel {
	position:relative;
	display:block;
	float:left;
	width:100%;
	}	
.newlabel .check::before {
  display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 0px;
    left: 0px;
    margin: auto;
	transition: background 0.1s linear;
	-webkit-transition: background 0.1s linear;
}	
.newlabel input[type=radio]:checked .check {
  border: 2px solid #f5641e;
}
.newlabel input[type=radio]:checked ~ .check::before{
  background: #f5641e;
}

.newlabel input[type=radio]:checked ~ label{
  color: #0DFF92;
}
.byp_col p, #byp_step4_subcol1 p {
	font-weight:bold;
	}
#mob_screen_back {
	width:18% !important;
	}
#byp_img_loading {
   		text-align:center !important;
		margin-top:0px !important;
		margin-right:0px !important;
		width:100% !important;
	}		
.commonnextbtn {
	position:relative;
	float:left !important;
	font-size:20px !important;
	background:none !important;
	color: #083979 !important;
    border-top: dotted !important;
    border-width: 5px 0 0 0 !important;
    border-image-slice: 33% 33% !important;
    border-image-repeat: round !important;
    border-image-source: url(../images/greydots.svg) !important;
	padding:5px 10px !important; 
	box-shadow: none !important;
	}
#property_type_wrap {
	width:100% !important;
	}
#byp_sub_col2 select {
	border:2px solid #f5641e !important;
	}
#byp_col2 p {
	padding-left:0px !important; 
	line-height:18px !important;
	}
.byp_step_col p {	
	padding: 0px !important;
    margin-bottom: 10px !important;	
	margin-top:10px !important;
	}
.nobgquestion {
	background: none !important;
    font-size: 40px !important;
    color: #f5641e !important;
    text-shadow: none !important;
    border: none !important;
    top: 5px !important;
    position: relative !important;
    box-shadow: none !important;
    line-height: 40px !important;
	}
#byp_mob_sq {
	color: #f5641e !important;
	}	
a#byp_dim_unknown {
	color:#888 !important;
	}
.byp_step_col p {
	line-height:normal !important;
	}
.limitedwidth {
	margin-bottom: 40px;
    
	}
.limitedwidth .newlabel label {
	padding:0 0 0 25px !important;
	}
#byp_step4_col2 input, #byp_step4_col2 textarea, #byp_showmyquote_link, #byp_step4_col2 select {
	width:100% !important;
	font-size:16px;
	}	
#byp_step4_col2 input {
	max-width:94% !important;
	}
#byp_step4_subcol1 p {
	text-align:left !important;
	}		
#byp_step4_col2 label {
	width:100% !important;
	}
#byp_step4_col2 textarea {
	width:100% !important; 
	}	
#byp_step4_col2 input, #byp_step4_col2 select {
	background:none;
	border:2px solid #f5641e;
	}		
.byp_col p {
	font-size:16px !important;
	letter-spacing: 1px !important;
	display:inline-block;
	}
#byp_construction_total, #byp_design_total {
    font-size: 16px !important;
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 12px;
    color: #e76e27 !important;
}
.icircle i {
    display: inline-block;
    margin-top: 2px;
    color: #f5641e !important;
    margin-left: 0 ;
    font-size: 21px !important;
    /* font-style: italic; */
    left: 10px !important;
    position: relative !important;
}
.icircle {
	background-color:none !important;
	height:0px !important;
	
	}
.close {
	font-size:0px !important;
	padding:2px 12px 4px 5px !important;
	}		
.overlay {
	background: rgba(35, 74, 125, 0.8) none repeat scroll 0 0 !important;
	}
.lightbox {
	box-shadow:none !important;
	}	
.lightbox_content h3 {
	border-bottom: dotted !important;
    border-width: 0 0 5px 0 !important;
    border-image-slice: 33% 33% !important;
    border-image-repeat: round !important;
    border-image-source: url(../images/dots.svg) !important;
	color:#083979 !important;
	font-size: 16px !important;
	}
.lightbox_popup, .lightbox_inner {
	background:none !important;
	}
.byp-final-page .inner {
    height: 775px !important;
}	
#byp_construction_features p, #byp_design_features p {
	margin-top: 0px !important;
    padding-top: 0px;
    margin-bottom: 5px;
}		
.byp-final-page .inner label {
	margin-bottom:10px;
	display:block;
	}	
#byp_duration_label {
	float:none !important;
	margin-top:16px !important;
	}
#byp_duration_term {
    float: none !important;
    font-weight: bold;
    text-align: left !important;
    color: #ee7123 !important;
    margin-top: 0px !important;
    display: block !important;
    width: 100% !important; 
}

.lightbox_content label {
    display: block;
    float: none !important;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 5px !important;
}

.lightbox_content input[type=button] {
	background: none !important;
    color: #083979 !important;
    border-top: dotted !important;
    border-width: 5px 0 0 0 !important;
    border-image-slice: 33% 33% !important;
    border-image-repeat: round !important;
    border-image-source: url(../images/greydots.svg) !important;
    padding: 5px 10px !important;
    box-shadow: none !important;
    font-size: 16px;
	margin-left:100px !important;
	}
.lightbox_content input[type=text], .lightbox_content input[type=password] {
	border:1px solid #ee7123 !important;
	}	

.byp-btn-tn, #btn_main_action {
	background:none !important;	
	display: inline-block;
    /* background: #808385; */
    font-weight: bold;
    text-align: center;
    padding: 2px;
    /* border-top: dotted !important; */
    border: dotted !important;
    border-width: 5px 5px 5px 5px !important;
    border-image-slice: 33% 33% !important;
    border-image-repeat: round !important;
    border-image-source: url(../images/greaydots.svg) !important;
	}
div#popup1-content td img:first-child {
    display: none;
}	
.soflow {
	-webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none !important;
    background-image: url(../image/dropdown-img.png);
    background-position: 136% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin:5px 0px;
    overflow: hidden;
    padding: 2px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
	background-color:#FFF !important;
    /* width: 300px !important; */
	}
#byp_cover {
	width:100% !important;
	height:auto !important;
	}
#byp_cover p {
	padding:0px !important;
	}
#byp_mob_cgi_tip{
	text-align:left !important;
	
	}
#byp_cover {
	background:none !important;
		}
#byp_cover p{
	color:#ee7123 !important;
	font-size:14px !important;
	text-align:left !important;
	letter-spacing:normal !important;
	margin-top: 30px !important;
    font-weight: 500 !important;
	
	}	
#byp_cover p a {
	color:#ee7123 !important;
	}	
.byp-final-page .byp_quote_title.titlefontfamily {
    font-size: 20px !important;
    color: #415480 !important;
    letter-spacing: 0px !important;
}
.quote_phase p {
    font-size: 14px !important;
}
.byp-thick {
	height:10px !important
	}	
.byp_quote_label {
	margin-bottom:15px;
	}				
.new_byp-btn-tn .finishbtn {
	margin-bottom: 30px;
    display: inline-block;
	}
input#byp_upload_btn {
    margin-left: 0px !important;
    border: none !important;
    width: auto !important; 
}						
#byp_attach_files {
	border:2px solid #ee7123 !important;
	}
input#byp_close_attach {
    margin-left: 0px !important;
    float: left !important;
    border: none !important;
    margin-bottom: 20px !important;
	width:auto !important;
}					
	}