.wizard>.content {
    background: #f2f5f8;
    display: block;
    /* margin: .5em; */
    min-height: 35em;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: auto;
    /* -webkit-border-radius: 5px; */
    -moz-border-radius: 5px;
    /* border-radius: 5px; */
}
.quizwrap {
    position: fixed;
    width: 95%;
    left: -100%;
    top: 0;
    height: 100%;
    z-index: 11111;
}
.quizinner {
    height: 100%;
}
.quizesection {
    height: 100%;
}
.wizard>.content>.body {
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}
.wizard>.content>.title, .tabcontrol>.content>.title {
    position: absolute;
    left: -999em;
}
.wizard>.steps .current a, .wizard>.steps .current a:hover, .wizard>.steps .current a:active {
    background:none;
    color: #fff;
    cursor: default;
}
.wizard>.steps .current a {
	
	}
.wizard>.actions>ul>li {
    float: left;
}
.wizard>.steps>ul {
	text-align:center;
	padding-left:90px;
	}
.wizard>.steps>ul>li {
	display:inline-block;
	vertical-align:top;
	}
.wizard>.steps>ul>li.current {
    background: #0f4778 !important;
    z-index: 1;
    position: relative;
}
.wizard>.steps>ul>li {
    background: #fff;
    width: 15px;
    height: 15px;
    border: 1px solid #0f4778;
    border-radius: 30px;
    margin: 0px 61px;
}
.wizard ul, .tabcontrol ul {
    list-style: none!important;
    padding: 0;
    margin: 0;
}
.wizard>.steps {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 1;
    /* display: none; */
    bottom:75px;
}
.wizard, .tabcontrol {
    display: block;
    width: 100%;
	height:100%;
    overflow: hidden;
}
.wizard>.actions>ul {
    display: inline-block;
    text-align: right;
    width: 100%;
    border-top: 2px solid #0f4778;
}
.wizard>.actions>ul>li {
    margin:0px;
	padding-top: 10px;
}
.wizard>.actions a, .wizard>.actions a:hover, .wizard>.actions a:active {
    background: none;
    color: #0f4778;
    font-size: 16px;
    display: block;
    padding: .5em 0em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.wizard>.actions .disabled a, .wizard>.actions .disabled a:hover, .wizard>.actions .disabled a:active {
    background:none;
    color: #0f4778;
	opacity:0;
}
span.current-info.audible {
    display: none;
}
.fieldtablecell > label > input {
    visibility: hidden;
}
.fieldtablecell > label {
    display: block;
    /* border: 2px solid grey; */
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
	height:55px;
}
.fieldtablecell > label > span {
    display: inline-block;
    vertical-align: top;
    line-height: 2em;
}
.fieldtablecell > label > input + i {
    visibility: hidden;
    color: green;
    margin-left: -0.5em;
    margin-right: 0.2em;
}
.fieldtablecell > label > span {
    display: inline-block;
    vertical-align: top;
	font-size:18px;
    line-height: 55px;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0px;
    color: #0f4778;
    text-align: left;
	text-indent:10px;
	font-weight:bold;
}

.fieldtablecell > label > input:checked + span {
    display: inline-block;
    vertical-align: top;
    line-height: 55px;
    font-size: 18px;
    position: absolute;
    background: #0f4778;
    width: 100%;
    left: 0px;
    color: #FFF;
    text-align: left;
	
}
.fieldtablecell {
    display: table-cell;
    vertical-align: top;
	position: relative;
    top: 150px;
}
.innerfeild {
    display: table;
    height: 100%;
    width: 980px;
	margin:0 auto;
    text-align: left;
	padding-left:90px;
}
.fieldtablecell legend {
    font-size: 36px;
    color: #0f4778;
    font-weight: bold;
    margin-bottom: 15px;
}
.fieldtablecell p {
    color: #969696;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
    padding-top: 0px;
}
.actions.clearfix {
    position: absolute;
    bottom: 40px;
    width: 980px;
    margin: 0 auto;
    left: 0;
    text-align: center;
    right: 0px;
    padding-left: 90px;
}
.wizard>.actions>ul>li:nth-child(1){
	float:left;
	}
.wizard>.actions>ul>li:nth-child(2), .wizard>.actions>ul>li:nth-child(3) {
	float:right;
	}
.closebuttonquiz {
	
	}	
.closebuttonquiz span {
    background: #0f4778;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
    text-align: center;
    border-radius: 50px;
    color: #FFF;
    font-weight: bold;
    font-size: 16PX;
	margin-left:10px;
}
.closebuttonquiz {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #0f4778;
    font-weight: bold;
	cursor:pointer;
	
}
.backtostepone {
    position: absolute;
    top: 50px;
    left: 50px;
    color: #0f4778;
    font-weight: bold;
    cursor: pointer;
	display:none;
}
.leftreco p {
    border-bottom: 2px solid #0f4778;
    padding-bottom: 10px;
    color: #0f4778;
    font-weight: bold;
    font-size: 22px;
}
.ourrecomendationdiv.selectedreco .leftreco {
    margin-bottom: 30px;
}
.detailereco p {
    text-indent: 10px;
    margin-top: 5px;
}
.detailereco h2 {
    font-weight: bold;
    color: #0f4778;
    font-size: 15px;
}
.rightreco a {
    color: #0f4778;
    display: inline-flex;
    padding: 8px 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    border: 2px solid #0f4778;
}
.rightreco a span {
	font-weight:bold;
	margin-left:3px;
	}
.selectedreco {
	margin-bottom:90px;
	}
.recoprefer a {
    background: #0f4778;
    padding: 10px 20px;
    color: #FFF;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 0px;
    display: inline-block;
}
.recoprefer p {
    margin-top: 49px;
    color: #0f4778;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
}
.otherbundles {
    /* padding-bottom: 10px; */
    border-bottom: 1px solid #0f4778;
    margin-bottom: 0px;
}
.ourrecomendationdiv.otherbudles .leftreco p {
    padding: 20px 0px;
    margin-bottom: 0px !important; 
    border-bottom: 1px solid #0f4778 !important;
}
.otherbundles p {
    color: #0f4778;
    font-size: 18px;
    font-weight: bold;
}
.fieldtablecell .error {
    position: absolute;
    top: -100px;
}
.backtostepone img {
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
}
.linkright {
    position: absolute;
    right: 0px;
    top: 12px;
}
.linkright a {
    color: #0f4778;
    display: inline-flex;
    padding: 8px 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    border: 2px solid #0f4778;
}
.linkright a span {
    font-weight: bold;
    margin-left: 3px;
}
.inlineone {
    position: relative;
}
span.number {
    color: #FFF;
    text-indent: 52px;
    overflow: hidden;
    opacity: 0;
}
@media (max-width:768px) {
	.quizwrap {
		width:100%;
		}
	.innerfeild {
		padding-left:0px;
		}	
	.helpmechoose {
		display:inherit;
		top: 350px;
		}
	.innerfeild {
		width:100%;
		}
	.fieldtablecell legend {
			font-size: 18px;
			line-height: 20px;
			color: #0f4778;
			font-weight: bold;
			margin-bottom: 15px;
		}
	.wizard>.steps>ul  {
		padding-left:0px;
		}				
	.wizard>.steps>ul>li {
		background: #fff;
		width: 15px;
		height: 15px;
		border: 1px solid #0f4778;
		border-radius: 30px;
		margin: 0px 10px;
	}	
	.actions.clearfix {
    position: absolute;
    bottom: 37px;
    width: 80%;
    margin: 0 auto;
    left: 0;
    text-align: center;
    right: 0px;
    padding-left:0px;
}
.fieldtablecell > label {
    display: block;
    /* border: 2px solid grey; */
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    height:inherit;
}
.fieldtablecell > label > input {
    visibility: hidden;
    display: none;
}
.fieldtablecell > label > span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    background: #fff;
    width: 90%;
    left: 0px;
    color: #0f4778;
    text-align: left;
    text-indent: 0px;
    font-weight: bold;
    padding-left: 10px;
    padding: 10px;
}
.fieldtablecell > label > input:checked + span {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    font-size: 14px;
    position: relative;
    background: #0f4778;
    width: 90%;
    left: 0px;
    color: #FFF;
    text-align: left;
}
.selectedreco {
    margin-bottom: 30px;
}
.fieldtablecell {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top:inherit;
}
.recoprefer p {
    margin-top: 20px;
    color: #0f4778;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.recoprefer a {
    background: #0f4778;
    padding: 10px 20px;
    color: #FFF;
    font-size: 13px;
    border-radius: 10px;
    margin-top: 0px;
    display: inline-block;
}
.leftreco p {
    border-bottom: 2px solid #0f4778;
    padding-bottom: 10px;
    color: #0f4778;
    font-weight: bold;
    font-size: 18px;
}
.linkright a {
   
    font-size: 14px;
}
.closebuttonquiz {
    
    top: 20px;
   
}
.helpmechoose {
	    position: relative !important;
    text-align: center;
    top: inherit;
    left:inherit !important; 
    transform: rotate(0deg) !important;
	}
.closebuttonquiz i {
    display: none;
    right: 0px;
}
.backtostepone {
    position: absolute;
    top: 10px;
    left: inherit;
    right: 50px;
    color: #0f4778;
    font-weight: bold;
    cursor: pointer;
    display: none;
}
.closebuttonquiz {
    top: 10px;
	right:10px;
}	
.backtostepone i {
    display: none;
}
.backtostepone img {
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}
	}	
@media (max-width:1024px) {
	.quizwrap, .helpmechoose {
		
		}
	
		
	}