/* Common part */

.col_full { width: 100%; }
.col_half { width: 48%; }
.col_one_third { width: 30.63%; }
.col_two_third { width: 65.33%; }
.col_one_fourth { width: 22%; }
.col_three_fourth { width: 74%; }
.col_one_fifth { width: 16.8%; }
.col_two_fifth { width: 37.6%; }
.col_three_fifth { width: 58.4%; }
.col_four_fifth { width: 79.2%; }
.col_one_sixth { width: 13.33%; }
.col_five_sixth { width: 82.67%; }


.col_full,
.col_half,
.col_one_third,
.col_two_third,
.col_three_fourth,
.col_one_fourth,
.col_one_fifth,
.col_two_fifth,
.col_three_fifth,
.col_four_fifth,
.col_one_sixth,
.col_five_sixth {
	display: block;
	position: relative;
	margin-right: 4%;
	margin-bottom: 30px;
	float: left;
}

.col_full {
   clear: both;
	float: none;
	margin-right: 0;
}

.col_last { float: right; }

.col_last {
	margin-right: 0 !important;
	clear: right;
}

.gv_galleryWrap {
	overflow-y:hidden; 
}

#the-team .team-member {
	width:13.33%;
   margin-right:0;
   min-width:150px;
   height:170px;
	display: block;
	position: relative;
}

#content {
	clear:both;
}

/*
#header.col_full, 
#header .col_half {
	margin-bottom:0 !important;
}
*/

#carousel_top_wrap {
	display:none;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
}

#gallery_carousel_top {
   width:930px;
	height:275px;
	overflow: hidden;
	list-style: none;
	margin:0;
	padding:0;
}

#smenu, #mobmenu { /* smenu for tablet, mobmenu for phones */
	display:none;
}

#smenu select {
   color:white;
   background-color: #233b76;
	border:none;
	display: block;
	font-size:13px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 10px;
}

#smenu select option.smparent {
  font-style:italic;
}

#mobmenu {
   clear:both;
	width:100%;
	float:left;
   color:white;
   background-color: #233b76;
   margin-bottom:21px;
}

#mobmenu a {
	color:white;
}

#mobmenu a:hover {
	text-decoration: none;
}

#mobmenu ul {
	list-style: none;
	margin:0;
}

#mobmenu ul li {
  background-image: url(/images/bg_menu_down.gif);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border-bottom:1px solid white;
}

#mobmenu ul li.open {
   background-image: url(/images/bg_menu_up.gif);
   background-repeat: no-repeat;
   background-position: 95% 14px;
	border-bottom:none;
}

#mobmenu ul li.parent-on {
	background-color:white;
   background-image: url(/images/bg_menu_down_on.gif);
   background-repeat: no-repeat;
   background-position: 95% 14px;	
}

#mobmenu ul li.open_on {
   background-image: url(/images/bg_menu_up_on.gif);
   background-repeat: no-repeat;
   background-position: 95% 14px;
	border-bottom:none;
}

#mobmenu ul li a.qmparent-on {
   background:none;
	color:#233b76;
}

#mobmenu ul li a {
  display:block;
  padding-top:0.7em;
  padding-bottom:0.7em;
  padding-left:0.7em;
  text-transform: lowercase;
}

#mobmenu ul li ul {
  display:none;
  background-color: #c9cedc;
}

#mobmenu ul li ul li {
  border-bottom:1px solid #233b76;
  background-image: url(/images/bg_menu_right.gif);
  background-repeat: no-repeat;
  background-position: 95% 14px;
}

#mobmenu ul li ul li a {
	color:#233b76;
}

#mobmenu ul li.back_home a {
	text-align:center;
}

#mobmenu ul li.back_home {
  background-image: url(/images/bg_menu_left.gif);
  background-repeat: no-repeat;
  background-position: 5% 16px;
}

.quote_wrap {
   margin-top:14px;
	width: 445px; 
	height: 225px;
	background-color: #f5641e;
	background-image: url('/images/orange-quote.png');
}

#byp_banner img {
   border:none;
	width:465px;
	height:239px;
}

ul#quotes {
	color: white;
	font-size: 21px;
	padding: 15px 15px 20px 70px;
}

div.block-quote span {
	line-height: 25px;
}

#latest_project img {
	width:465px;
	height:281px;
}

#design_quarantees {
  margin-bottom:0;	
}

#guarantees_insurance {
	overflow-x: hidden; 
}

#design_fees img, #guarantees_insurance img {
	height:281px;
}

#design_fees img {
  width:212px;	
}

#guarantees_insurance img {
  width:221px;
}

#b3d_visual {
	background-color: #808284;
	display: block;
	float:left;
	padding:16px;
	padding-top:15px;
	padding-bottom:11px;
	width:904px;
}

.b3d_one_third {
	margin-left:1%;
}

.b3d_one_third, .b3d_one_sixth {
	float:left;
	display: block;
	position: relative;
	margin-right: 3%;
}

.b3d_4 {
	margin-right:0;
}

#img_3d_text2 {
	display:none;
}

#youtube_wrap iframe {
	width:465px;
	height:270px;
}

.tv_video iframe {
	width:447px;
	height:251px;
}

#twitter_wrap iframe {
	width:448px;
	height:271px;
}

.box-180, .box-180-last {
	margin-bottom: 14px;
}

#header .call h2 a {
	color:#293473;
}

#header .call h2 a:hover {
  text-decoration:none;
}

#img_book_visit {
	width:932px;
	height:257px;
}

#img_book_visit480 {
	display:none;
}

#img_book_visit320 {
	display:none;
}

.col_one_third ol {
	width: 80%;
	padding-left: 18px;
}

.col_one_third ol li {
	padding-bottom: 10px;
	font-size: 12px;
}

#byp_landing_top {
  clear:both;
  width: 100%;
  height: 200px;	
}

.byp-btn {
   cursor: pointer;
	/*
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;*/
}

#byp_landing_top .byp-btn {
	width:61%;
}

.byp_top_wrap {
  float: left;
  margin-left: 20px;
}

ul.byp_landing_list li {
  padding-bottom: 7px;
  font-size: 18px;
}

#byp_landing_middle_left {
	float: left;
	margin-right: 15px;
	width: 655px;
}

#byp_landing_middle_left img {
	width:100%;
	height:420px;
}

#byp_landing_middle_right {
	float: left;
	width: 262px;
}

#byp_landing_middle_right .lightblue-bg {
  color: #fff; 
  padding: 20px; 
  font-size: 38px; 
  margin-bottom: 20px;
}

#latest-quotes-wrap {
  float:left;
  padding: 20px;
  height: 230px;
}

#latest_quotes_container {
	float:left;
	width:100%;
}

#latest-quotes-slide {
  height: 170px;	
}

.byp_logo_wrap {
  float: left;
  width: 100px;
  height: 100px;
  padding: 10px;
  text-align: center;
}

.byp_logo_wrap img {
	width: 80px;
}

#byp_logo_wrap_head {
	display:none;
}

.contact-div form input.input, .contact-div form textarea {
	width:95%;
} 

.contact-div form select.input {
	width:100%;
}

#id_message_new {
  width:95%;
  min-height:100px;
  font-style: normal;	
}

.contact-div {
  float: left;
  background: #d2d9e5; 
  padding: 15px 20px;
  margin-bottom:21px;
}

.contact-div form {
   float:left;
	width:100%;
}

.contact-div form input, .contact-div select {
  font-style: normal;
}

.contact-div select {
  box-sizing: content-box;
}

#fr_map {
	height:470px;
}

#merry_xmas_happy_ny {
	/*display: none;*/
	margin-top:4px;
	text-align:center;
}
.top_carousel {
	display: none;
}


#td_process_design, #td_process_build {
  height: 470px;
}

#td_quote span {
	margin-top:60px;
}
   
#td_handover span {
   margin-top:77px;
}

#byp_response_nav {
	display:none;
}

#mob_byp_start_title {
	display:none;
}

#byp_start_title {
	display:block;
}

#mob_screen_back, #mob_screen_next {
	width:20%;
}
	
#mob_screen_title {
	font-weight:bold;
	text-align: center;
	width:60%;	
}

.tentity td .col1, .tentity td .col2, .tentity td .col3 {
	display:none;
}

/* Responsive part */

/* Tablet Portrait size to Tablet Landscape (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 979px) {

	#content.byp_content .full {
		padding-top:0;
	}

	#main, #smenu {
		/*width:95%;*/
		width: 740px !important;
	}
	
	#gallery_carousel, #gallery_carousel_top {
	  width:740px;
	  height:227px;
	}
   
	#menu {
	  display:none;
	}
	
   /*#smenu {
	  display:block;
	}*/
	
	#mobmenu {
	  display:block;
	}
	
	#carousel_top_wrap, #merry_xmas_happy_ny {
	  display: block;
   }
   
	.top_carousel {
		display:none;
	}
	
  .lead {
     font-size:20px;
   }
   
	#byp_banner img {
   	border:none;
		width:367px;
		height:189px;
		/*width:465px;
		height:239px;*/
	}
	
	
	#latest_project img {
		width:367px;
		height:222px;   
		/*width:465px;
		height:281px;*/
	}
	
   #design_fees {
   	/*background-color: #c7cfde;*/
   	text-align: center;
	   margin-right:-2% !important;
		overflow-x: hidden;
		width:170px;
   }
	
	#guarantees_insurance {
	   margin-right:-2% !important;
		overflow-x: hidden;
		width:170px;
		float:left;
		margin-left:6%;
	}
	
	#design_fees img, #guarantees_insurance img {
		height:222px;
	}

	#design_fees img {
  		width:176px;	
	}

	#guarantees_insurance img {
  		width:175px;
	}
	
	.quote_wrap {
	   background-size: 355px 179px;
   	margin-top:12px;
   	width:355px;
   	height:179px;
		/*width: 445px; 
		height: 225px;*/
	}
	
	div.block-quote span {
		line-height: 21px;
	}
	
	ul#quotes {
		font-size:17px;
		padding: 5px 10px 15px 60px;
	}
	
	#b3d_visual {
		width:707px;
	}
	
	.b3d_one_sixth {
		margin-left:4%;
		margin-right:3%;
	}
   
   .b3d_1 {
      margin-left:5%;
      clear: both;
   }
   
   .b3d_4 {
      margin-right:0;
   }
   
	#img_3d_text1 {
		display:none;
	}
   
	#img_3d_text2 {
		display:inline;
		margin-bottom:7px;
		margin-left:14px;
	}
	
	#youtube_wrap iframe {
	   width:367px;
	   height:213px;
		/*width:465px;
		height:270px;*/
	}
	
	.tv_video iframe {
		width:345px;
		height:201px;
	}
	

	#twitter_wrap iframe {
	   width:361px;
	   height:218px;
	}
	
	.box-180 {
		margin-right:5px;
	}
	
   .box-architect {
   	margin-right:0;
   	margin-left:3px;
   }
	
   h1 {
     font-size:32px;
   }
   
	#img_book_visit {
		width:740px;
		height:204px;
	}
   
	/*.col_last { float: none; } ?*/
	
	.process-table tr {
		width: 470px;
		height: 200px;
		float: left;
		margin-bottom: 10px;
	}

	.process-table tr.row_kitchen {
		height: 220px;
	}
   
   .process-table tr.row_handover {
		height: 200px;
	}
	
	.process-third {
		width: 355px;
		color: #233b76;
		font-size: 13px;
	}
	
	.byp-btn {
     padding-left:14px;	
	  padding-right:14px;
	}
	
	.byp-title {
		font-size:21px;
	}
	
	.byp-logo {
	  width:162px;	
	}
	
	.byp_top_wrap {
  		float: left;
  		margin-left: 0px;
  		width:300px;
	}
	
	ul.byp_landing_list li {
  		padding-bottom: 7px;
  		font-size: 15px;
	}
	
	#byp_landing_middle_left {
		float: left;
		margin-right: 15px;
		width: 537px;
		overflow: hidden;
	}

	#byp_landing_middle_left img {
		width:670px;
		height:415px;
		margin-left:-30px;
	}

	#byp_landing_middle_right {
		float: left;
		width: 187px;
	}
	
	#byp_landing_middle_right .lightblue-bg {
		padding: 20px; 
  		font-size: 28px; 
  		margin-bottom: 20px;
	}
	
	#latest-quotes-wrap {
  		float:left;
  		padding: 20px; 
  		height: 250px;
   }

	#latest-quotes-slide {
  		height: 155px;	
	}
	
	/* -------------- BYP ------------- */
	
	.header_byp {
		height:120px;
	}
	
	#byp_logo_wrap_head {
		display:block;
		margin-top:-10px;
		margin-right:14px;
	}
	
	#byp_logo_wrap_in {
		display:none;
	}
	
	.byp-right {
     margin-left:0;
   }
   
   /* BYP responsive */
   
   #byp_thank_you {
     margin-top: 1.4em;
   }
   
   #byp_attach_box {
      margin-top: -541px;
      margin-left: 214px;
      width: 292px;
   }
   
   #byp_attach_files {
     width: 277px;
   }
   
	#byp_cover {
		font-size:1em;
		width:589px;
		height:55px;
		margin-top:-55px;
		margin-left:75px;
	}
   
   #byp_poa {
     width: 292px;
     margin-left: 210px;
     margin-top: -405px;
   }
   
   #byp_design_total, #byp_construction_total {
   	font-size:1.2em;
   }
   
   #byp_navigation {
   	display:none;
   }

   .byp-btn-tn {
   	width:170px;
   	padding:0;
   }
   
   #byp-final-btns {
      margin-top:1em;
   	margin-bottom:1em;
   	height:81px;
   	width:50%;
   	margin-left:25%;
   }
   
	#byp_slide_box {
		margin-top:0px;
		height:800px;/*645*/
	}
   
   #byp_get_costing, #byp_slide_box ul, #byp_slide_box li, .byp_col, #byp_step4_col2, .byp-final-page {
	   height:800px;/*545*/
   }
   
	#byp_slide_box, #byp_slide_box ul, #byp_slide_box li, .byp-right, #byp_step4_col2, #byp_get_costing, #byp_cgi_wrap,
   #content .byp_col.left, #content .byp_col.right, #byp_sub_col2, #byp_sub_col3, .byp-final-page,
   .byp-final-page .inner {
	  width:740px;
	}
   
	#byp_col1, #byp_col2, #byp_col3, #byp_step2_col2, #byp_step2_col3, #byp_step2_col4, 
	#byp_step3_col2, #byp_step3_col3, #byp_step3_col4, #byp_step4_subcol1, #byp_step4_subcol2 {
	   /*border-left:1px dotted red;
	   border-right:1px dotted red;
	   border-bottom:1px dotted red;*/
		width:740px;
		/*height:290px;*/
		text-align: center;
	}
	
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
   body {
   	font-size:1em;
   }
   
	#content.byp_content .full {
		padding-top:0;
	}
   
   #content .full {
     clear:both;
   }
   
	#main {
    	width: 480px !important;	
	}

	#gallery_carousel, #gallery_carousel_top {
	  width:480px;
	  height:142px;
	}
	
	#menu {
	  display:none;
	}
	
   /*#smenu {
	  display:block;
	}*/
	
   #mobmenu {
	  display:block;
	}
	
	#carousel_top_wrap, #merry_xmas_happy_ny {
	  display: block;
   }
	.top_carousel {
		display:none;
	}
	
	.col_full,
	.col_half,
	.col_one_third,
	.col_two_third,
	.col_one_fourth,
	.col_three_fourth,
	.col_one_fifth,
	.col_two_fifth,
	.col_three_fifth,
	.col_four_fifth,
	.col_one_sixth,
	.col_five_sixth { 
 	width: 100%; 
	}

   
	#project-gallery .col_one_third {
		float:left;
		margin-left:1.5%;
		width:48%;
		
	}
	
	
	.col_full,
	.col_half,
	.col_one_third,
	.col_two_third,
	.col_three_fourth,
	.col_one_fourth,
	.col_one_fifth,
	.col_two_fifth,
	.col_three_fifth,
	.col_four_fifth,
	.col_one_sixth,
	.col_five_sixth {
		margin-right: 0;
		float: none;
	}

	.col_full,
	.col_half,
	.col_one_third,
	.col_two_third,
	.col_three_fourth,
	.col_one_fourth,
	.col_one_fifth,
	.col_two_fifth,
	.col_three_fifth,
	.col_four_fifth,
	.col_one_sixth,
	.col_five_sixth { margin-bottom: 30px !important; }
	
	#col_map.col_last {
		clear: both;
	}
	
	#header {
		min-height:50px;
	}
	
	#header .logo img {
  		width:200px;
  		height:61px;
	}
	
	#header .call h2 {
    	font-size: 18px;
    	margin-bottom:7px;
	}
	
	#header .call {
		font-size:12px;
	}
	
  .lead {
     font-size:16px;
     text-align: justify;
   }
   
   #byp_banner, .banner_wrap, #latest_project {
   	text-align: center;
   }
   
   .banner_wrap {
   }
   
   .quote_wrap {
      background-repeat: no-repeat;
      width:465px;
   	margin-left:auto;
   	margin-right:auto;
   	text-align: left;
   }
   
	#design_fees, #guarantees_insurance {
		width:48%;
		margin-left:7px;
		float:left;
	}

   #guarantees_insurance {
   	float:right;
   }
   
   #b3d_visual {
   	width:445px;
   }
   
   .b3d_one_sixth {
   	margin-left:2.5%;
   }
   
   .b3d_1 {
      margin-left:3.2%;
      margin-right:0;
   	margin-bottom:7px;
   }
   
   .b3d_2 {
      clear: both;
   }
   
   
	#youtube_wrap iframe, .tv_video iframe {
	   width:478px;
	   height:277px;
		/*width:465px;
		height:270px;*/
	}

	#twitter_wrap iframe {
	   width:478px;
	   height:289px;
		/*width:448px;
		height:271px;*/
	}
	
   .box-180 {
      margin-left:41px;
		margin-right:2px;
	}
	
	.box-180-last {
	   margin-left:153px;
	}

   h1 {
     font-size:32px;
     margin-top:0;
     padding-top:0;
   }
   
   #footer {
   	clear:both;
   	/*float:left;*/
   }
   
   #img_book_visit {
   	display:none;
   }
   
	#img_book_visit480 {
		display:inline;
		width:405px;
		height:642px;
	}
	
	.process-table tr {
		width: 486px;
		height: 200px;
		float: left;
		margin-bottom: 10px;
	}

	.process-table tr.row_kitchen {
		height: 220px;
	}
   
   .process-table tr.row_handover {
		height: 200px;
	}
	
	.process-third {
		width: 386px;
		color: #233b76;
		font-size: 13px;
	}
	
	.newspaper {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
   }

	.col_one_third ol li {
		font-size: 1em;
	}
	
	#byp_landing_top {
     height: 410px;
     float:left;
     width:480px;
     margin-bottom:21px;
   }
	
   #byp_landing_top .col_last {
   	clear:both;
   	text-align: center;
   }
   
   #byp_landing_top .col_last .byp-btn {
     margin-left:auto;
     margin-right:auto;
   }
   
	.byp-title {
		font-size:19px;
	}
	
	.byp_top_wrap {
  		float: left;
  		margin-left: 0px;
	}
	
	ul.byp_landing_list li {
  		padding-bottom: 7px;
  		font-size: 16px;
  		width:170px;
	}
	
	.byp-logo {
		width:150px;
	}
	
	#byp_landing_middle_left {
		width:480px;
	}
	
	#byp_landing_middle_left img {
		width:480px;
		height:297px;
	}
	
	#byp_landing_middle_right {
		clear:both;
		margin-top:17px;
	}
	
	#byp_landing_middle_right .lightblue-bg {
		width:440px;
	}
	
	#latest-quotes-wrap {
  		width:440px;
	}
	
   /* -------------- BYP ------------- */
   
	.tentity td, .tentity th {
  	  font-size:0.81em;
	}
   
   #header.header_byp .call {
     float:right;
   }
   
   .byp_logo_wrap img {
      width: 59px;
   }
   
   .byp_logo_wrap {
     width:70px;
     height:70px;
   }
   
 	#header .byp_call span {
		/*display:none;*/
	}
   

	#header .byp_logo {
		margin-bottom: 14px !important;
		width:27%;
	}
	
	#header .byp_logo img {
		width:140px;
		height:43px;
	}
	
	#header .byp_call {
	   width: 47%;
	   text-align:right;
	}

	
	.header_byp {
		height:81px;
	}
	
	#byp_logo_wrap_head {
		display:block;
		margin-top:-10px;
		margin-right:14px;
	}
   
	#byp_logo_wrap_in {
		display:none;
	}
	
	.byp-right {
     margin-left:0;
   }
   
   #byp_construction_total {
   	font-size:1.3em;
   }
   
   /* BYP responsive */
   
   #byp_attach_box {
      margin-top: -561px;
      margin-left: 86px;
      width: 292px;
   }
   
   #byp_attach_files {
     width: 277px;
   }
   
	#byp_cover {
		font-size:0.81em;
		width:480px;
		height:55px;
		margin-top:-55px;
		margin-left:0px;
	}
   
   #byp_poa {
     width: 292px;
     margin-left: 80px;
     margin-top: -430px;
   }
   
   .byp-btn-tn, #btn_main_action {
   	width:170px;
   	padding:0;
   }
   
   #byp-final-btns {
      margin-top:1em;
   	margin-bottom:1em;
   	height:81px;
   	width:80%;
   	margin-left:10%;
   }
   
   #byp_slide_box, #byp_get_costing, #byp_slide_box ul, #byp_slide_box li, .byp_col, #byp_step4_col2, .byp-final-page {
	   height:800px;/*545*/
   }
   
   #byp_navigation {
   	display:none;
   }
   
	#byp_slide_box, #byp_slide_box ul, #byp_slide_box li, .byp-right, #byp_step4_col2, #byp_get_costing, #byp_cgi_wrap,
   #content .byp_col.left, #content .byp_col.right, #byp_sub_col2, #byp_sub_col3, .byp-final-page,
   .byp-final-page .inner {
	  width:480px;
	}
   
	#byp_col1, #byp_col2, #byp_col3, #byp_step2_col2, #byp_step2_col3, #byp_step2_col4, 
	#byp_step3_col2, #byp_step3_col3, #byp_step3_col4, #byp_step4_subcol1, #byp_step4_subcol2 {
	   /*border-left:1px dotted red;
	   border-right:1px dotted red;
	   border-bottom:1px dotted red;*/
		width:480px;
		/*height:290px;*/
		text-align: center;
	}
	
	#byp_mob_quote_tip, #byp_mob_cgi_tip {
   	font-size:0.81em;
   }
  
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
   body {
   	font-size:1em;
   }
   
   #content .full {
     clear:both;
   }
   
	#content.byp_content .full {
		padding-top:0;
	}
   
	#main {
    	width: 292px !important;
	}

	#gallery_carousel, #gallery_carousel_top {
	  width:292px;
	  height:87px;
	}
	
	#menu {
	  display:none;
	}
	
   /*#smenu {
	  display:block;
	}*/
	
   #mobmenu {
	  display:block;
	}
	
	#header .logo img {
  		width:200px;
  		height:61px;
	}
	
	#header .call h2 {
    	font-size: 18px;
    	margin-bottom:7px;
	}
	
	#header .call {
		font-size:12px;
	}

	#carousel_top_wrap, #merry_xmas_happy_ny {
	  display: block;
   }
	.top_carousel {
		display:none;
	}
	
	.col_full,
	.col_half,
	.col_one_third,
	.col_two_third,
	.col_one_fourth,
	.col_three_fourth,
	.col_one_fifth,
	.col_two_fifth,
	.col_three_fifth,
	.col_four_fifth,
	.col_one_sixth,
	.col_five_sixth { 
 	width: 100%; 
	}


	.col_full,
	.col_half,
	.col_one_third,
	.col_two_third,
	.col_three_fourth,
	.col_one_fourth,
	.col_one_fifth,
	.col_two_fifth,
	.col_three_fifth,
	.col_four_fifth,
	.col_one_sixth,
	.col_five_sixth {
		margin-right: 0;
		float: none;
	}

	.col_full,
	.col_half,
	.col_one_third,
	.col_two_third,
	.col_three_fourth,
	.col_one_fourth,
	.col_one_fifth,
	.col_two_fifth,
	.col_three_fifth,
	.col_four_fifth,
	.col_one_sixth,
	.col_five_sixth { margin-bottom: 30px !important; }

	#col_map.col_last {
		clear: both;
	}
	
	#header {
		min-height:45px;
	}
	
	.fblike {
		display:none;
	}
	
	#header .logo {
		margin-bottom: 14px !important;
		width:50%;
	}
	
	#header .logo img {
		width:140px;
		height:43px;
	}
	
	#header .call {
	   width: 50%;
	}
	
	#header .call h2 {
		font-size:17px;
	}
	
	#header .call span {
		display:none;
	}
	
	/*#respond .col_one_third,
	#respond .col_full { margin-bottom: 15px !important; }*/

  .lead {
     font-size:14px;
     text-align: justify;
   }
	
	/*.col_last { margin-bottom: 0 !important; }*/
	
	#byp_banner img {
   	border:none;
		width:292px;
		height:150px;
		/*width:465px;
		height:239px;*/
	}
	
	.quote_wrap {
	   background-size: 292px 148px;
   	margin-top:0px;
   	width:292px;
   	height:148px;
		/*width: 445px; 
		height: 225px;*/
	}
	
	div.block-quote span {
		line-height: 18px;
	}
	
	ul#quotes {
		font-size:14px;
		padding: 3px 15px 10px 50px;
	}
	
	#latest_project img {
		width:292px;
		height:176px;   
		/*width:465px;
		height:281px;*/
	}
	
	#guarantees_insurance {
	  overflow-x: visible;
	}
	
	#design_fees, #guarantees_insurance {
		margin-left:0px;
		margin-right:0px;
		float:left;
	}
   
	#design_fees img, #guarantees_insurance img {
		/*height:230px;*/
		height:170px;
	}
	
	#design_fees {
		margin-left:0px;
		margin-right:29px;
	}

	#guarantees_insurance img {
		height:172px;
		margin-top:-1px;	
	}
	
	#design_fees, #design_fees img {
  		/*width:153px;*/
  		width:128px;
	}

	#guarantees_insurance, #guarantees_insurance img {
  		/*width:160px;*/
  		width:134px;
	}
	
	#b3d_visual {
   	width:284px;
   	padding-left:8px;
   	padding-right:0px;
   }
   
	.b3d_one_third {
     margin-left:0;
	}
   
   .b3d_one_sixth {
   	margin-left:2%;
   	margin-right:2%;
   	margin-bottom:4%;
   } 
   
   .b3d_2, .b3d_4 {
   	margin-right:0;
   }
   
   #youtube_wrap.col_half {
   	clear:both;
   }
   
	#youtube_wrap iframe, .tv_video iframe {
	   width:292px;
	   height:170px;
		/*width:465px;
		height:270px;*/
	}

	#twitter_wrap iframe {
	   width:292px;
	   height:230px;
		/*width:448px;
		height:271px;*/
	}
	
	.box-180 {
      margin-left:70px;
	}
	
	h1 {
     font-size:27px;
     margin-top:0;
     padding-top:0;
   }
   
   #footer {
      clear:both;
   	/*float:left;*/
   }
   
   #img_book_visit {
   	display:none;
   }
   
	#img_book_visit320 {
		display:inline;
		width:292px;
		height:512px;
	}
	
	.process-table tr {
		width: 292px;
		height: 310px;
		float: left;
		margin-bottom: 10px;
	}

	.process-table tr.row_party_wall {
		height: 310px;
	}
	
	.process-table tr.row_kitchen {
		height: 360px;
	}
   
   .process-table tr.row_handover {
		height:310px;
	}
	
	.process-third {
		width: 202px;
		color: #233b76;
		font-size: 13px;
	}
	
	.process-table tr.row_struct_engineer {
		height:310px;
	}
	
	.process-table tr.row_flat_out {
		height:310px;
	}
	
	#td_process_design, #td_process_build {
	  padding-top:110px;
   }
   
   #td_quote span {
   	margin-top:90px;
   }
   
   #td_handover span {
   	margin-top:135px;
   }
	
   #td_step_1 span {
      display: inline-block;
   	margin-top:30px;
   }

   #td_step_2 span {
      display: inline-block;
   	margin-top:30px;
   }
   
   #td_step_3 span {
      display: inline-block;
   	margin-top:40px;
   }
   
   #td_step_4 span {
      display: inline-block;
   	margin-top:30px;
   }
   
   #td_step_5 span {
      display: inline-block;
   	margin-top:30px;
   }
   
   #td_step_6 span {
      display: inline-block;
   	margin-top:40px;
   }
   
   #td_step_7 span {
      display: inline-block;
   	margin-top:70px;
   }
   
   #td_step_8 span {
      display: inline-block;
   	margin-top:55px;
   }
	.newspaper {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
   }
   
   .col_one_third ol li {
		font-size: 1em;
	}
	
	.byp-title {
		font-size:21px;
	}
	
	.byp_top_wrap {
  		float: left;
  		margin-left: 0px;
	}
	
	#byp_landing_top {
     height: 510px;
     float:left;
     width:292px;
     margin-bottom:14px;
   }
	
   #byp_landing_top .col_last {
   	clear:both;
   	text-align: center;
   }
   
   #byp_landing_top .col_last .byp-btn {
     margin-left:auto;
     margin-right:auto;
   }
   
	.byp-title {
		font-size:17px;
	}
	
	.byp_top_wrap {
  		float: left;
  		margin-left: 29px;
  		margin-top:1em;
	}
	
	#mob_byp_start_title {
		display:block;
		float:left;
		width:150px;
		font-size: 21px;
		padding-top:14px;
		margin-left:14px;
	}
	
   #byp_start_title {
		display:none;
	}
	
	ul.byp_landing_list {
		margin-left:17px;
	}
	
	ul.byp_landing_list li {
  		padding-bottom: 7px;
  		font-size: 1em;
  		width:170px;
	}
	
	div.orange {
		margin-left:51px;
	}
	
	.byp-logo {
		width:100px;
		margin-left:14px;
		margin-top:-7px;
		margin-right:10px;
	}
	
	#byp_landing_middle_left {
		width:292px;
	}
	
	#byp_landing_middle_left img {
		width:292px;
		height:181px;
	}
	
	#byp_landing_middle_right {
		clear:both;
		margin-top:17px;
	}
	
	#byp_landing_middle_right .lightblue-bg {
		width:253px;
	}
	
	#latest-quotes-wrap {
  		width:253px;
   }
	
	#the-team .team-member {
     min-width: 140px;
   }
	
	/* -------------- BYP ------------- */
   
	.tentity .col5, .tentity .col6, .tentity .col7 {
     display:none;
	}
	
	.tentity td, .tentity th {
  	  font-size:0.74em;
	}
	
	.tentity td .col1, .tentity td .col2, .tentity td .col3 {
		display:block;
	} 
	
	#header.header_byp .call {
     margin-left:11px;
     text-align: center;
   }
   
   .byp_logo_wrap img {
      width: 59px;
   }
   
   .byp_logo_wrap {
     width:70px;
     height:70px;
   }
   
 	#header .byp_call span {
		/*display:none;*/
	}
   
   #header .byp_call h2 {
     margin-top: 2px;
     margin-bottom: 4px;
   }
	
	#header .byp_logo {
	   float:left;
	   
	   margin-top:-9px;
	   margin-left:11px;
		margin-bottom: 0 !important;
		width:57%;
	}
	
	#header .byp_logo img {
		width:140px;
		height:43px;
	}
	
	#header .byp_call {
	   width: 47%;
	   text-align:left;
	   float:left;
	}

	
	.header_byp {
		height:81px;
	}
	
/*
	
   #header.header_byp .logo {
   	margin-top:11px;
   }
*/
	
	#byp_logo_wrap_head {
	   /*float:none;
		display:inline-block;*/
		display:block;
		margin-top:-10px;
		margin-right:auto;
		margin-left:auto;
	}
	
	#byp_logo_wrap_in {
		display:none;
	}
	
	.byp-right {
     margin-left:0;
   }
   
   .lightbox_inner {
     background: url('/images/lightbox-bg-top-mob.png') no-repeat scroll left top transparent;
     width: 292px;
   }
   
   .lightbox_popup {
     background: url('/images/lightbox-bg-bot-mob.png') no-repeat scroll left bottom transparent;
   }
   
   /* BYP responsive */
   
   #byp_attach_box {
      margin-top: -614px;
      margin-left:0px;
      width: 274px;
   }
   
   #byp_attach_files {
     width: 259px;
   }
   
	#byp_cover {
		font-size:0.81em;
		width:292px;
		height:81px;
		margin-top:-21px;
		margin-left:0px;
	}
   
   #byp_poa {
     width: 241px;
     margin-left: 11px;
     margin-top: -540px;
   }
   
   #btn_action2_wrap, #btn_action1_wrap, #btn_action3_wrap, #byp_main_action_wrap {
   	clear:both;
   	float:left;
   	width:100%;
   }
   
   #btn_action2_wrap {
   	margin-top:1em;
   }
   
   .byp-btn-tn, #btn_main_action {
   	width:90%;
   	margin-left:5%;
   	padding:0;
   }
   
   #byp-final-btns {
      margin-top:1em;
   	margin-bottom:1em;
   	height:140px;
   	width:100%;
   	margin-left:0;
   }
   
	#mob_screen_back, #mob_screen_next {
		width:20%;
		font-size:0.9em;
	}
	
	#mob_screen_title {
		width:60%;	
	}
   
   #byp_navigation {
   	display:none;
   }
	
	#byp_slide_box, #byp_get_costing, #byp_slide_box ul, #byp_slide_box li, .byp_col, #byp_step4_col2, .byp-final-page {
		height:910px;
	}
	
	.byp-final-page .inner {
		height:581px;
	}
	
	#byp_slide_box, #byp_slide_box ul, #byp_slide_box li, .byp-right, #byp_get_costing, #byp_cgi_wrap, 
   #content .byp_col.left, #content .byp_col.right, #byp_sub_col2, #byp_sub_col3, .byp-final-page,
   .byp-final-page .inner {
	  width:292px;
	}
   
	#byp_col1, #byp_col2, #byp_col3, #byp_step2_col2, #byp_step2_col3, #byp_step2_col4, 
	#byp_step3_col2, #byp_step3_col3, #byp_step3_col4, #byp_step4_subcol1, #byp_step4_subcol2 {
	   /*border-left:1px dotted red;
	   border-right:1px dotted red;
	   border-bottom:1px dotted red;*/
		width:292px;
		/*height:290px;*/
		text-align: center;
	}
	
	#byp_mob_quote_tip, #byp_mob_cgi_tip {
   	font-size:0.81em;
   }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
.row_map .col_half p {
  font-size:1.1em;
}
.row_map .col_half p span {
  color:#F5641E;
}

.row_map .col_half iframe {
  height:400px;
  width:100%;
}

@media only screen and (min-width: 767px) {
  .row_map .col_half p {
    font-size:1.05em;
  }

  .row_map .col_half iframe {
    max-width:200px;
  }
  
  .row_map .col_half iframe {
    height:200px;
  }
  
  .row_map .col_half {
    width:45%;
  }
  .row_map .col_last {
    width:50%;
  }
}