body {
	font-size: 14px;
	color: #808385;
	font-family: 'Arimo', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

@font-face {
	font-family: 'basictitlefont';
	src: url('../fonts/basic-title/basictitlefont.eot');
	src: local('../fonts/basic-title/basictitlefont'), url('../fonts/basic-title/basictitlefont.woff') format('woff'), url('../fonts/basic-title/basictitlefont.ttf') format('truetype');
}

.titlefontfamily {
	font-family: 'basictitlefont' !important;
	}
/* MENU */

#qm0 .qmactive, #qm0 div {
	border-left: 1px solid !important;
	border-right: 1px solid !important;
}

#qm0 .qmactive {
	border-top: 1px solid !important;
}

#qm0 div {
	border-bottom: 1px solid;
}

#qm0 .qmactive, #qm0 div {
	border-color: #263c76 !important;
}

h1 {
	font-size: 30px !important;
    color:#183e70;
    font-weight: bold;
	font-family: 'Arimo', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding-bottom: 10px !important;
    margin-bottom: 20px !important;
}

.lead_wrap {
  clear:both;
  float:left;
  margin-bottom:16px;
  width:100%;
}


.lead {
	font-size: 18px;
	color: #808385;
	padding: 0;
    padding-bottom:16px;
	font-weight:lighter;
    text-align: justify;
}

.lead strong {
  font-weight:bold;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.linknohover:hover {
	text-decoration: none;
}

.bottom-bar {
	width: 100%;
	background-color: #c8cedc;
	height: 40px;
	line-height: 40px;
	clear: both;
	font-size: 14px;
}

.left-half {
	float: left;
	width: 50%;
}

.right-half {
	float: right;
	width: 50%;
}

/* dark-blue colour */
ul.check b, .tips-page u {
	color: #233b76;
}

ul.check b {
	padding-bottom: 10px;
	font-size: 16px;
	display: inline-block;
	font-weight: bold;
}

ul.check li {
	padding-right: 5px;
}

ul.question li {
	background: url('/images/question.png') no-repeat !important;
	padding-left: 25px;
}

.lightblue-box, .darkblue-box {
	float: left;
	color: #fff;
	width: 125px;
	padding: 10px;
	font-size: 21px;
	margin-bottom: 10px;
	min-height: 55px;
}
.boxes .lightblue-box, .darkblue-box {
	height:auto;
	}

.lightblue-box {
	cursor:pointer;
}

.darkblue-box, .process-first {
	background: #233b76;
}

.lightblue-box a {
	color: #fff;
	text-decoration: none;
}

.lightblue-box, .process-third {
	background: #d3d7e3;
}

.process-table tr {
	width: 550px;
	height: 180px;
	float: left;
	margin-bottom: 10px;
}

.process-first, .process-second, .process-third {
	float: left;
	height: 100%;
	vertical-align: middle;
}

.process-first {
	width: 50px;
	font-size: 18px;
	font-weight: bold;
}

.process-first span {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	width: 100%;
	text-transform: uppercase;
	white-space:nowrap;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

.process-first, .process-second {
	color: #fff;
}

.process-second {
	background: #f5641e;
	font-size: 32px;
	width: 30px;
	margin-left: 10px;
	line-height: 180px;
	vertical-align: middle;
	text-align: center;
}
.process-third {
	width: 450px;
	color: #233b76;
	font-size: 13px;
}

.process-third div {
	padding: 15px;
}

.process-third ul {
	padding-left: 15px;
}

.process-third h3 {
	text-transform: uppercase;
	font-size: 18px;
	padding-bottom: 5px;
}

.process-third li {
	list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGElEQVQYV2NUti77z0AEYBxViC+UqB88AOFBEkm5ViXhAAAAAElFTkSuQmCC');
	padding-bottom: 5px;
}


.orange, .process-third h3, .fee-orange {
	color: #f5641e;
}

.orange-bg {
	background-color: #f5641e !important;
}

.fee-orange {
	font-size: 18px;
}

.links a {
	display: inline-block;
	margin-right: 10px;
	margin-bottom:5px;
	font-weight: bold;
	background: #808385;
	color: #fff;
	padding: 3px 5px;
	font-size: 18px;
}

.links .compare-link {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	font-size: 16px;
}

.one-third, .two-third {
	float: left;
}

.one-third p, .two-third p {
	padding-right: 10px;
}

.one-third {
	width: 33%;
}

.two-third {
	width: 67%;
}

.tips-page u {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.design-phase-list {
	font-weight: bold;
	margin-top: 20px;
}

.design-phase-list li {
	margin: 20px 0;
}

.newspaper {
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
}

.two-column {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
}

.list-space li {
  	color: #808385;
  	font-weight: bold;
  	margin-bottom: 23px;
}

.check-sign {
	background: url('/images/checkw.png') center no-repeat;
}

.cross-sign {
	background: url('/images/crossw.png') center no-repeat;
}

.compare-table {
	background: #f3f3f3;
	width:100%;/*570px;*/
}

.compare-table td, .compare-table th {
	border: 1px solid #fff;
	padding: 10px;
	font-size:14px;
}

.compare-table th, .byp-btn {
	background: #f5641e;
	color: #fff;
}

.compare-table .odd td {
	background-color: #fcddcf;
}

.compare-table .even td {
	background-color: #fdefe9;
}

.compare-first {
   font-size:14px;
	text-align: left;
	width: 45%; /*355px;*/
}

.bsv-totals {
	font-weight: bold;
	font-size:12px
}

.bsv-totals td {
  white-space: nowrap;
}

.compare-second, .compare-third {
   font-size:14px;
	text-align: center;
	width: 15%;/*107px;*/
}

.byp-logo {
	width: 170px;
	margin-top: -10px;
	margin-left: 20px;
	margin-right: 30px;
	float: left;
}

.darkblue-txt, .byp-title {
	color: #083979;
}

.byp-title {
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 25px;
}

.byp-btn {
	font-size: 24px;
	font-weight: bold;
	padding: 5px 30px;
	text-align: center;
}

.byp-btn a {
	color: #fff;
}

.lightblue-bg {
}

.video3dvisual {
	width:544px;
	height:306px;
}

.autopopup {
	position:fixed;
	z-index:1000000;
	background:rgba(0,0,0,0.5);
	height:100%;
	width:100%;
	left:0;
	top:0;
	display:none;
	text-align:center;
	opacity:0;
	transition:ease-in-out 0.3s;
	}
.popupcontent {
	width: 600px;
    height: 433px;
    background: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;

    margin-top: -216.5px;
	}
.pupupwrap {
	display:table-cell;
	vertical-align:middle;
	}
.autopopup img {
	max-width:100%;
	}
.popupleft, popupright {
	float:left;
	width:50%;
	}
.popuptext {
    height: 420px;
    display: table-cell;
    vertical-align: middle;
}
.bottomlogo {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.bottomlogo img {
	width:100px;
	}
.popuptext h2 {
	color:#a9a8ad;
	margin-bottom:30px;
	font-size:22px !important;
	}
.popuptext p {
	color:#f57e22;
	line-height:20px;
	font-size:16px;
	padding:0px 10px;
	}
.popuptext a {
	margin-top:40px;
	background:#f57e22;
	color:#FFF;
	width:150px;
	display:inline-block;
	padding:10px 0px;
	border-radius:20px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	}
.popupclose {
    position: absolute;
    right: 00px;
    top: 0px;
    display: block;
   	cursor:pointer;
}
.popupclose img {
	height:30px;
	}
@media (max-width:640px) {
	.popupcontent {
	width: 300px;
    height: 215px;
    background: #FFF;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -107.5px;
	}
.popuptext {
    height: 200px;
    display: table-cell;
    vertical-align: middle;
}
.popuptext h2 {
	font-size:14px;
	margin-bottom:10px;
	}
.popuptext p {
	font-size:12px;
	line-height:15px;
	}
.popuptext a {
    margin-top: 4px;
    width: 100px;
    font-size: 10px;
    padding: 5px 0px;
}
.popupclose img {
	height:20px;
	width:20px;
	}
.bottomlogo img {
	width:50px;
	}
	}

/* Responsive part */

/* Tablet Portrait size to Tablet Landscape (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 979px) {
	.video3dvisual {
		width:432px;
		height:243px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.video3dvisual {
		width:480px;
		height:270px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.video3dvisual {
		width:292px;
		height:164px;
	}

	.compare-table td, .compare-table th {
    	padding: 2px;
    	font-size: 12px;
	}

}

/*********** Christmas opening Hours ******************/

.christmas_opening {
  border: 2px solid #f81d07;
  float: left;
  margin-bottom: 15px;
  padding: 2%;
  width: 95%;
}
.christmas_opening h1 {
  color: #f81d07;
  font-size: 20px;
  padding-top: 0;
  text-transform: capitalize;
}
.main_outer {
  float: left;
  margin-top: 24px;
  width: 100%;
}
.left_box {
  float: left;
  width: 50%;
}
.heading {
  float: left;
  width: 50%;
}
.timings {
  float: left;
  width: 50%;
}
.christmas_opening .row_span {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
.read_blog img {
    width: 145px;
}
a.read_blog {
    display: block;
}
