* {
	margin: 0;
	padding: 0;
}

body { 
    font: 11px Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 800px;
    margin: 25px auto;
}

#intro {
    padding-bottom: 10px;
}

#slider {
	width: 800px;
	margin: 0 auto;
	position: relative;
	border: 1px solid #ccc;
	border-left:0px solid #ccc;
	border-right:0px solid #ccc;
}

.scroll {
	overflow: hidden;
	width: 800px;
	margin: 0 auto;
	position: relative;
}

.scrollContainer {
	position: relative;
}

.scrollContainer div.panel {
	padding: 10px;
	width: 120px;
	text-align:center;
}

#left-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	bottom: 0;
	background: url(../images/leftshadow.png) repeat-y;
}

#right-shadow {
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	bottom: 0;
	background: url(../images/rightshadow.png) repeat-y;
}

.inside {
	padding: 10px;
	border: 1px solid #f5f5f5;
}

.inside img {
	display: block;
	border: 1px solid #666;
	margin: 0 auto 10px auto;
	width: 100px;
}

.inside h2 {
	font-weight: normal;
	color: #111;
	font-size: 12px;
	margin: 0 0 8px 0;
}

.inside p {
	font-size: 11px;
	color: #555;
}

.inside p a {
	color: #999;
	text-decoration: none;
	/*border-bottom: 1px dotted #ccc;*/
}

.inside p a:hover {
	text-decoration:underline;
}

.scrollButtons {
    position: absolute;
    top: 127px;
    cursor: pointer;
}

.scrollButtons.left_pad {
    left: -45px;
}

.scrollButtons.right_pad {
    right: -45px;
}

.hide {
    display: none;
}
div#dynamic_extension {
    min-height: 213px;
	max-height:213px;
}
.SliderLayered {
    left: 47 !important%;
    position: absolute;
    top: 0% !important;
    width: 74%;
}
.SliderText.tt {
    width: 100px !important;
    background: #234477;
    color: white !important;
    border-radius: 50% !important;
    height: 100px !important;
    padding: 25px !important;
    float: right;
}
.tt h1 {
    color: white !important;
    text-transform: uppercase;
    font-size: 27px !important;
	padding-right:0 !important;
	    padding-top: 2px !important;
}
.SliderLayered {
    left: 23% !important;
    top: 1% !important;
}
.tt p {
    padding-top: 0 !important;
	text-transform: capitalize;
}
@media screen and (max-width: 480px) {
.tt h1 {
    font-size: 13px !important;
}
.tt p {
    font-size: 9px !important;
}
.SliderText.tt {
    width: 60px !important;
    height: 60px !important;
    padding: 21px !important;

}}


.SliderLayeredsale.upp {
    max-width: 400px !important;
	width: 38% !important;
    height: auto !important;
    position: absolute;
    top: 6%;
    left: 4%;
	z-index: 99;
}
img.sales_img {
	display:none;
//    width: 100%;
//    height: auto;
}
