input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}
.want input[type=radio ]:not(old) + label{
  display      : inline-block;
  margin-left  : 0em !important;
  line-height  : 1.5em;
}

input[type="radio"]:not(old) + label > span {
  background: rgb(224, 224, 224) linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224)) repeat scroll 0 0;
  border: 3px solid rgb(85, 146, 203);
  border-radius: 10px;
  display: inline-block;
  height: 15px;
  margin: 0.25em 0.24em 0.25em 0.25em;
  vertical-align: bottom;
  width: 15px;
}

input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type="radio"]:checked:not(old) + label > span > span {
  background: #a1a1a1 none repeat scroll 0 0;
  border: 1px solid #a1a1a1;
  border-radius: 15px;
  display: block;
  height: 9px;
  margin: 2px;
  width: 9px;
}
.step3 .skylight:first-child input[type="radio"]:not(old) + label, .step3 .roof_type:first-child input[type="radio"]:not(old) + label, .step3 .door_type:first-child input[type="radio"]:not(old) + label, .step3 .door_type:nth-child(2n+1) input[type="radio"]:not(old) + label {
  margin: 0 !important;
}
 .step4 input[type="radio"]:not(old) + label {
  margin: 0 !important;
  float:right;
}
.step3 .door_type:last-child input[type="radio"]:not(old) + label {margin-left:-2em!important;}
