.cbp-hrmenu {
	width: 648px;
    margin: 2.3em 0 0;
    float: right;
	transition: all 0.4s ease;
}

.cbp-hrmenu.sticky {
	text-align: center;
	float: none;
	margin: 1em auto;
	transition: all 0.4s ease;
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	width: 100%;
	max-width: 70em;
	margin: 0 auto;
	padding: 0;
}

.cbp-hrmenu > ul > li {
	display: inline-block;
    margin: 0 -6px;
}

.cbp-hrmenu > ul > li > a {
    font-weight: 400;
    padding: 0.8em 0.8em 0.4em 0.8em;
    color: #2e386c;
    display: inline-block;
    font-size: 1.1em;
	text-decoration: none;
	border-bottom: 2px solid #7b797e;
}

.cbp-hrmenu > ul > li > a:hover {
	color: #9399b4;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #2e386c;
	font-weight: 400;
	background: transparent;
	text-decoration: none;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: rgba(255,255,255, 0.9);
	width: 100%;
	left: 0;
}

.cbp-hropen .cbp-hrsub {
	display: block;
    padding-bottom: 1em;
    top: 113px;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 33%;
	float: none;
	padding: 0 2em 0;
	margin: 0 auto;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
}

.cbp-hrsub h4 {
	color: #000;
	padding: 0.6em 0 0.6em;
	margin: 0;
	font-size: 160%;
	font-weight: 300;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid #47a3da;
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}

.cbp-hrmenu .cbp-hrsub-inner a:hover:before {
	content: "";
	background-image: url("https://www.buildteam.com/images_new_design/chevronchik.png");
	width: 15px;
	height: 15px;
	display: block;
	background-position: center;
	background-size: 100% 100%;  
	position: absolute;
    margin: 8px 0 0 -20px;	
}

.cbp-hrmenu .cbp-hrsub-inner a:hover {
	color: #9399b4;
}

