body {
	font-family: Calibri, sans-serif;
}

.wrapper {
	width: 980px;
	margin: 0 auto;  
}

.top_part {
    width: 100%;
	background: rgba(255,255,255,0.9);
	position: fixed;
	z-index: 9999;
}

.white {
	background: rgb(255,255,255);
}

.testing {
	z-index: 999;
	position: relative;
}

.menu {
	display: inline-block;
	padding: 20px 10px;
}

.menu ul li {
	display: inline-block;
	padding: 0 10px;
    vertical-align: top;
}

.menu ul li a {
	color: #2e386c;
	text-decoration: none;
	font-weight: 500;
}

.menu ul li a:hover {
	cursor: pointer;
}

.menu ul li ul {
	display: none;
	width: 100%;
	position: relative;
	margin: 20px 0 0 0;
}

.menu ul li ul li {
	display: block;
	padding: 5px 0 5px 0;
	font-weight: 300;
}

.sticky .cbp-hrsub {
	text-align: left;
}

.sticky .cbp-hropen .cbp-hrsub {
	top: 73px;
}

.slider {
	z-index: 999;
	position: relative;
}

.header {
	width: 100%;
	background-position: center;
	background-size: 100% 100%;
	position: relative;
	top: 0;
	z-index: 9999;
	position: relative;
}

.header .logo {
	display: inline-block;
	transition: all 0.4s ease;	
}

.header .logo img{
	width: 250px;
    position: relative;
    vertical-align: middle;
    float: left;
    margin: 2em 0;
}

.header .header_desc {
	padding: 20% 0 0 0;	
	text-align: center;
	position: relative;
	display: block;
}

.header .header_desc h2 {
	background-color: rgba(255,255,255,0.6);
	width: 400px;
	margin: 0 auto;
	padding: 40px 0;
	border-radius: 3px;
}

.description {
    position: absolute;
    display: none;
    float: right;
    top: 2.2em;
    left: 52%;
    width: 400px;
    height: 56%;
    font-size: 1.1em;
    /*border-left: 3px solid #7b797e;*/
    padding: 0 0 0 20px;
}


.cbp-hrsub-inner ul li {
	border-right: 2px solid #7b797e;
}

.cbp-hrsub-inner ul {
	width: 58%;
}


.dropdown:hover .dropdown-menu {
    display: block;
 }

 .none {
 	display: none !important;
 	transition: all 0.4s ease;
 }

 .bx-viewport {
 	height: 100vh !important;
 }

 .bx-wrapper .bx-viewport {
 	box-shadow: none !important;
 	border:none !important;
 	left: 0  !important;
 }

 .explore {
 	text-align: center;
 	margin: 40px auto;
 }

 .stripe {
 	width: 100%;
 	border-bottom: 2px solid #7b797e;z-index: -2;
 }

.explore h3{
	font-size: 2em;
	font-family: 'Tinos', serif;
	color: #7b797e;
	font-weight: 400;
	background: #fff;
    width: 192px;
    margin: -18px auto 30px;
}

 .explore .first, .explore .seccond, .explore .third {
	width: 29%;
	display: inline-block;
	padding: 0 15px;
 }

.explore .seccond img {
	border-left: 1px dashed #000;
	border-right: 1px dashed #000;
}

 .explore img {
	width: 90%;
 }

.first .txt, .seccond .txt, .third .txt {
	margin: 15px 0;	
}

.first span, .seccond span, .third span {
	color: #2e386c;
	font-size: 1.3em;
}

.first p, .seccond p, .third p {
 	color: #7b797e;
	font-size: 1em;
	margin: 10px 0;	
	font-family: 'Tinos', serif;
}


/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 0;
  overflow: hidden;
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url("http://www.buildteam.com/images_new_design/1.jpg");   
  z-index: 999;
  position: relative;
}


section.module.parallax-2 {
  height: 920px !important;
  background-image: url("http://www.buildteam.com/images_new_design/anga1.png");
  position: relative;
  z-index: 999;
}

.round {
  width: 100%; height: 100%;
  left: 0; top: -50%;
  border-radius: 0%;
}

.container .wrapper {
	width: 768px !important;
	margin: 0 auto;
}

.extension {
	background: #fff;
    margin: 55px 0 0;
    padding: 0 20px;
}

.extension h3 {
	font-size: 2em;
	font-family: 'Tinos', serif;
	color: #7b797e;
	font-weight: 400;
	padding: 1em;
	text-align: center;
	background: #fff;
    width: 415px;
    margin: -49px auto 30px;
}

.extension p {
 	color: #7b797e;
	font-size: 1.3em;
	margin: 10px 0;	
	font-family: 'Tinos', serif;
}

.extension img {
	width: 100%;
	margin: 50px 0;
}

footer {
	display: block;
	float: none;
	background: url(http://www.buildteam.com/images_new_design/footer.png);
	background-position: center;
	background-size: 100% 100%; 
	padding: 10% 0 10%;
}

footer h3 {
	font-size: 2em;
	font-family: 'Tinos', serif;
	color: #fff;
	font-weight: 400;
	padding: 0.5em 0;
	text-align: center;
}

footer ul {
	font-size: 1.5em;
	color: #fff;
	font-weight: 400;
	padding: 0.5em 0;
	text-align: center;
}

footer ul li {
	display: inline-block;
	padding: 0 20px;
}

footer ul li:nth-child(2) {
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;

}

footer ul li a {
	color: #fff;
	text-decoration: none;
}

footer .bott_menu {
	width: 78%;
	margin: 0 auto;
	padding: 15% 0 5%;
}

footer .bott_menu ul {
	display: inline-block;
	text-align: left;
	font-size: 1em;
	margin: 0 auto;
	border-left: 2px solid #fff;
	padding: 0;
}

footer .bott_menu ul li {
	display: block;
	border:none;
	margin: 10px 0;
}

footer .bott_menu ul li a {
	color: #fff;
	text-decoration: none;
}

footer.round-2 {
	display: block;
	margin:2% auto 0;
}

.slider .search {
	position: absolute;
    top: 73%;
    left: 37%;
	width: 500px;
}

.slider .search img {
	display: block;
	margin: 0 auto 100px;
}

.slider .search form {
	display: block;
	width: 100%	;
	background: rgba(120,137,160, 0.8);
	padding: 10px 10px;
}

.slider .search form p{
	display: inline-block;
	font-family: 'Tinos', serif;
	color: #fff;
	font-size: 1.4em;
	padding: 0 20px;
}

.slider .search form #submit {
	background: url(http://users.armline.am/armen/Token%20Dark/Token-ICO/Miscellaneous/Search.ico);
	background-color: #fff;
	border:none;
	width: 40px;
	height: 40px;
	margin: 0;
	background-size: 80% 80%;
	background-position: center;
	outline: none;
	background-repeat: no-repeat;
}

.slider .search form #field {
	background-color: #fff;
	border:none;
	width: 200px;
	height: 38px;
	margin: 0;
	background-size: 100% 100%;
	background-position: center;
	outline: none;
}

.bx-wrapper .bx-pager {
    position: absolute !important;
    top: 92% !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff !important;
}

.bx-pager.bx-default-pager a.active {
	background: #666 !important;
}

.up_down {
	position: fixed;
	top: 50%;
    width: 96%;
    padding: 0 24px;
	z-index: 99999999999999999999999999999;
	opacity: 0.3;
}

#button-up {
	left: 30px;
	width: 30px;
	height: 30px;
	float: left;
}

#button-down{
	right: 30px;
	width: 30px;
	height: 30px;
	float: right;
}

#button-up img{
	width: 30px;
	height: 30px;
}

#button-down img{
	width: 30px;
	height: 30px;
}

#nav-wrap {
	display: none;
}

.container.background {
    background-image: url(http://www.buildteam.com/images_new_design/anga.png);
    background-position: center center;
    background-size: 100% 47%;
    background-repeat: repeat-y;
    width: 1026px;
    height: 920px;
}

@media screen and (max-width: 1023px) {
	#cbp-hrmenu {
		display: none;
	}

	#nav {
		display: none;
	}

	#nav li {
		display: block;
		padding: 10px 0;
		text-align: center;
	}

	#nav li a {
		color: #2e386c;
		text-decoration: none;
	}

	#nav-wrap {
		display: block;
	}

	.slider {
		display: none;
	}

	.explore .first, .explore .seccond, .explore .third {
		display: block;
		margin: 50px 0;
	}

	#menu-icon {
		margin: 0 auto;
	    width: 32px;
	}

	section.module.parallax-2 {
		width: 90% !important;
		margin: 0 auto;
	}

	.container .wrapper {
		width: 100% !important;
	}

	.wrapper {
		width: 100%;
	}

	.extension h3 {
		width: 278px;
	}

	section.module.parallax-2 {
    	height: 1310px !important;
    	background: #fff;
    	background-image: none; 
	}

	.explore .first, .explore .seccond, .explore .third {
		width: 90%;
	}

	.header .logo {
	    display: block;
	    width: 250px;
	    margin: 0 auto;
	}

	.top_part {
		top:0;
	}

	footer h3 {
    	font-size: 1.6em;
    	line-height: 1.6em;
	}

	footer ul {
    	font-size: 1em;
	}

	.explore {
	    margin: 200px auto 40px;
	}

	.container.background {
		width: 100% !important;
		height: 
	}

	.inner_circle {
		display: none !important;
	}	

	html {
		overflow-x: hidden; 
	}

	.up_down {
		padding: 0 10px;
	}
}



@media screen and (min-width: 768px) and (max-width: 1023px) {
	section.module.parallax-2 {
	    height: 850px !important;
    	background: #fff;
    	background-image: none;
	}


}

@media screen and (min-width: 641px) and (max-width: 767px) {
	section.module.parallax-2 {
	    height: 1085px !important;
    	background: #fff;
    	background-image: none;
	}
}



@media screen and (min-width: 425px) and (max-width: 640px) {
	section.module.parallax-2 {
	    height: 1327px !important;
    	background: #fff;
    	background-image: none;
	}
}
@media screen and (min-width: 320px) and (max-width: 424px) {

	section.module.parallax-2 {
		height: 1587px !important;
	}

}
.inner_circle {
    position:fixed;
    background:white;
    width: 150% !important;
    height: 58%;
    left: -350px;
    top: -20% !important;
    border-radius:100%;
    z-index: 99;
    transition: all 2s;
}

.sticky-wrapper {
	height: 563px;
    z-index: 99;
    position: absolute;
}

.none {
	display: none;
}

.testing {
	height: 30px;
	margin: -47px 0 0;
	text-transform: uppercase;
	width: 100%;
}

.testing .close{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 5px 0 0 20px;
	cursor: pointer;
}

.testing img {
	width: 100%;
}