.opacity  {
	opacity:1 !important;
	}
.row {
	text-align: center;
}

#tabsfordesk .carousel {
	left: 1%;
    position: relative;
    width: 100%;
    /* margin-left: -500px; 
    overflow: hidden;*/
    height: 350px;
    /* top: 50px; */
}

#tabsfordesk .carousel .item {
	width: 270px;
	height: 250px;
	background-size: 100%;
	vertical-align: middle;
	line-height: 150px;
	box-shadow:none !important;
}

#tabsfordesk .controls {
	position: relative;
    /* top: 250px; */
    /* left: 50%; */
    width: 94%;
    /* margin-left: -75px; */
    /* left: auto; */
    /* right: auto; */
    margin: 0 auto;
    top: -200px;
	z-index:5;
}

#tabsfordesk .controls a {
	display: block;
}

#tabsfordesk .controls .previous {
	float: left;
}

#tabsfordesk .controls .next {
	float: right;
}