.book_wrapper {
	font-family: 'Muli';
	background: #E6E6E7;
	padding-top: 60px;
	padding-bottom: 45px;

	section {
		max-width: 1170px;
	    padding-left: 15px;
	    padding-right: 15px;
	    margin: 0 auto;
	}

	.purh_logo {
		position: relative;
		background-color: #fff;
	}

	.sand_btn {
		display: none;
	}

	.logo {
		margin-left: 60px;
		margin-top: 40px;
		margin-bottom: 15px;
		display: inline-block;
		vertical-align: middle;

	}

	.logo img {
		display: inline-block;
		vertical-align: middle;
		max-width: 226px;
	}

/*	.consult {
		margin-top: 125px;
	}*/

	.book_box {
		max-width: 980px;
		margin: 0 auto;
		margin-top: 60px;
		border-radius: 8px 8px 0 0;
		overflow: hidden;
		margin-bottom: 125px;
		z-index: 1;
	    position: relative;
	}

	.book_tabs {
		background: #fff;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		box-sizing: border-box;
	}

	.book_tab {
		padding: 18px 0;
		opacity: 1;
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 5px solid transparent;
	}

	.tab_num {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		color: #D1D1D3;
		background: #fff;
		border-radius: 50%;
		margin-right: 12px;
		box-sizing: border-box;
		border: 1px solid #D1D1D3;
	}

	.tab_ttl {
		font-size: 18px;
		color: #D1D1D3;
	}

	.book_tab_completed {
		opacity: .7;
		border-bottom: 5px solid transparent;
	}

	.book_tab_completed .tab_num {
		background: #117FD1;
		color: #fff;
		border-color: transparent;
	}

	.book_tab_completed .tab_ttl {
		color: #117FD1;
	}

	.book_tab_active {
		opacity: 1;
		border-bottom-color: #09467A;
	}

	.book_tab_active .tab_num {
		background: #09467A;
		border-color: transparent;
		color: #fff;
	}

	.book_tab_active .tab_ttl {
		color: #09467A;
	}

	h4.book_form_ttl {
		font-family: 'MuliB';
		padding-top: 10px;
		padding-bottom: 10px;
		color: #fff;
		font-size: 18px;
		line-height: 34px;
		text-align: left;
	}

	.book_form_contact_wrap {
		border-bottom: 1px solid #E6E6E7;
	}

	.book_2_content {
		width: 100%;
	}

	.book_form_sec {
		max-width: 600px;
		margin: 0 auto;
	}

	.book_form_row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
		flex: 1;
	}

	.book_form_row:last-child {
		margin-bottom: 0px;
	}

	.book_form_row fieldset {
		width: 50%;
		margin-right: 60px;
	}

	.book_form_row fieldset:last-child {
		margin-right: 0;
	}

	.book_form_row label {
		display: block;
		font-family: 'Muli';
		color: #fff;
		font-size: 18px;
		line-height: 34px;
		text-align: left;
	}

	.book_form_row label span {
		color: #FF0000;
	}

	.book_form_row input[type=text],
	.book_form_row input[type=email],
	.book_form_row input[type=file]{
		background: rgba(9,70,122,.7);
		border-radius: 8px;
		border: 0;
		padding: 6px 10px;
		box-sizing: border-box;
		font-family: 'Muli';
		font-size: 15px;
		line-height: 25px;
		color: #fff;
		width: 100%;
		outline: none;
	}

	.postcode_sec input[type=text]{
		max-width: 135px;
		display: block;
	}

	.form_fld_ttl {
		font-size: 18px;
		line-height: 34px;
		color: #fff;
		text-align: left;
	}

	.how_contact {
		padding-bottom: 20px;
	}

	.how_contact_type {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-top: 5px;
	}

	.how_contact_el:first-child {
		margin-right: 70px;
	}

	.book_form_project select {
		border: .75px solid #C1C1C1;
		border-radius: 8px;
		font-family: 'Muli';
		color: rgba(24,62,112,.7);
		font-size: 13px;
		line-height: 34px;
		padding: 2px 5px;
		box-sizing: border-box;
		outline: none;
		padding-right: 25px;
		background-color: #fff;
	    background-image: url(../img/select_arrow.png);
	    background-repeat: no-repeat;
	    background-position: right 10px center;
	    appearance: none;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    flex: 1;
	}

	.book_form_project select.start_select {
		margin-right: 60px;
	}

	.exten_type {
		margin-bottom: 20px;
	}

	.exten_list {
		text-align: left;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.exten_item {
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		padding: 3px 11px;
		box-sizing: border-box;
		background: transparent;
		color: #fff;
		font-family: 'Muli';
		font-size: 18px;
		line-height: 34px;
		border-radius: 8px;
		cursor: pointer;
	}

	.exten_item:hover {
		background: #183E70;
	} 

	.exten_selected {
		background: #183E70;
	}

	.book_file input[type=file] {
		opacity: 0;
		cursor: pointer;
		position: relative;
    	z-index: 3;
	}

	.book_file_fld {
		position: relative;
		width: 100%;
		background-color: rgba(9,70,122,.7);
		background-image: url(../img/upload_file_icon.png);
		background-repeat: no-repeat;
		background-position: right 8px center;
		border-radius: 8px;
		cursor: pointer;
	}

	.book_file_fld:after{
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		background-image: url(../img/upload_file_icon.png);
		background-repeat: no-repeat;
		background-position: right 8px center;
		opacity: 1;
		z-index: 1;
	}

	.book_filename {
		position: absolute;
		top: 6px;
		right: 10px;
		bottom: 6px;
		left: 10px;
		font-family: "Muli";
	    font-size: 15px;
	    line-height: 25px;
	    color: #fff;
	    text-align: left;
	    padding-right: 25px;
	}

	.book_check {
		margin-bottom: 30px;
	}

	.book_check label {
		font-size: 15px;
	}

	.book_check_terms {
		margin-bottom: 10px;
	}

	.book_check_terms,
	.book_check_events {
		text-align: left;
	}

	.book_check_terms label a {
		color: #09467A;
	}

	.book_control_btns {
		text-align: center;
		padding-bottom: 40px;
	}

	.control_btn {
		display: inline-block;
		vertical-align: middle;
		outline: none;
		font-family: 'Muli';
		font-size: 18px;
		line-height: 34px;
		color: #fff;
		text-align: center;
		padding: 2px 15px;
		box-sizing: border-box;
		border-radius: 25px;
		border: 1px solid #fff;
		cursor: pointer;
		background: transparent;
	}

	.control_back_btn {
		margin-right: 40px;
		width: 100px;
	}

	.control_orange {
		border: 1px solid transparent;
		background: #EE7200;
	}

	.book_1_content,
	.book_3_content,
	.book_2_content {
		width: 100%;
		padding: 145px 0px;
		text-align: center;
		color: #fff;
		position: relative;
	}

	.book_1_content {
		text-align: left;
		padding-top: 0;
		padding-bottom: 0;
		background-color:rgba(17,127,209,.7);
	}

	.book_1_datapick {
		padding-top: 20px;
		padding-bottom: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: 20px;
	}

	.d_picker_wrap {
		width: 480px;
		margin-left: 5px;
		margin-right: 5px;
	}

	.datepick_btn {
		background: none;
		border: 0;
		outline: none;
		cursor: pointer;
		height: 30px;
	}

	#datepicker {
		width: 100%;
		font-family: 'Muli';
		border-radius: 4px;
		background: #09467A;
		font-size: 18px;
		line-height: 34px;
		color: #fff;
		border: 0;
		outline: none;
		box-sizing: border-box;
		margin-right: 5px;
		text-align: center;
	}

	.book_1_el {
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #E6E6E7;
	}

	.book_1_el:last-child {
		border-bottom: none;
	}

	.book_1_el_content {
		max-width: 490px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.book_2_content {
		padding: 0;
	}

	.book_time_l {
		font-family: 'MuliB';
		font-size: 18px;
		line-height: 34px;
		color: #fff;
	}

	.book_time_row__item {
		display: flex;
		/*justify-content: space-around;*/
		align-items: center;
		max-width: 255px;
		flex-wrap: wrap;
	}

	.book_time_elem {
		padding: 3px 0px;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
		font-family: 'Muli';
		font-size: 18px;
		line-height: 34px;
		color: #0E69A0;
		border-radius: 7px;
		background: transparent;
		min-width: 80px;
	    text-align: center;
	    margin-right: 5px;
	}

	.time_selected {
		background: #09467A;
		color: #fff;
		cursor: pointer;
	}

	.book_time_elem:last-child {
		margin-right: 0;
	}

	.time_light {
		color: #fff;
		cursor: pointer;
	}

	.time_light:hover {
		background: #09467A;
		color: #fff;
	}

	.control_back_inactive {
		opacity: .5;
		margin-right: 35px;
		cursor: default;
	}

	.control_next_btn {
		width: 100px;
	}

	.book_3_content:after,
	.book_2_content:after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: .7;
		background: #117FD1;
		z-index: -1;
	}

	.book_3_mg {
		position: relative;
		z-index: 1;
	}

	.book_3_content h4 {
		font-family: 'MuliB';
		font-size: 25px;
		line-height: 34px;
		margin-bottom: 10px;
	}

	.book_3_text {
		font-size: 18px;
		line-height: 23px;
		text-align: center;
		max-width: 344px;
		margin: 0 auto;
	}

	.book_line {
		height: 1px;
		width: 20px;
		background: #fff;
		margin: 10px auto;
	}

/*	.expect {
		margin-bottom: 45px;
	}*/

	.expect_list_box {
		margin-top: 55px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.expect_list li {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 50px;
	}

	.expect_list li:last-child {
		margin-bottom: 0;
	}

	.expect_icob_wrap {
		text-align: center;
		width: 80px;
		flex: none;
		margin-right: 20px;
	}

	.expect_icob_wrap img {
		display: inline-block;
		vertical-align: middle;
	}

	.expect_name {
		font-size: 22px;
		line-height: 24px;
		color: #09467A;
	}

	.book_err {
		display: none;
		text-align: center;
	    color: red;
	    margin-bottom: 10px;
	}

	@media (max-width: 992px){
		
		padding-top: 84px;
		
		section {
			padding-left: 0;
			padding-right: 0;
		}

		.book_box {
			margin-top: 50px;
			margin-bottom: 50px;
		}

		.expect {

		}

		.expect_list_box {
			margin-top: 20px;
		}

		.expect_list li {
			flex-direction: column;
			margin-bottom: 20px;
		}

		.expect_icob_wrap {
			margin-right: 0;
			margin-bottom: 10px;
		}

		.expect_icob_wrap img {
			height: 25px;
		}

		.expect_name {
			font-size: 15px;
			line-height: 20px;
		}

		.timeline_icon {
			width: 22px;
			height: auto !important;
		}
	}

	@media (max-width: 700px) {
		.tab_num {
			width: 20px;
			height: 20px;
			font-size: 15px;
		}

		.book_tab {
			padding: 12px 0;
		}

		.book_tab_2,
		.book_tab_3 {
			display: none;
		}

		.book_1_datapick {
			padding-bottom: 0px;
		}

		.book_1_datapick {
			padding-right: 0;
		}

		.book_1_datapick {
			position: relative;
		}

		.prev_day_btn {
			position: absolute;
			top: 22px;
		    left: 20px;
		}

		.nex_day_btn {
			position: absolute;
			right: 20px;
			top: 22px;
		}

		.d_picker_wrap {
			width: 100%;
			padding-right: 15px;
			padding-left: 15px;
			margin-left: 0;
			margin-right: 0;
		}

		 #datepicker {
		 	line-height: 28px;
		 	font-size: 15px;
		 	margin-right: 0;
		 }

		.book_1_el_content {
			max-width: 100%;
			padding-left: 15px;
			padding-right: 15px;
		}

		.book_time_l {
			font-size: 15px;
		}

		.book_time_elem {
			font-size: 15px;
			min-width: 60px;
			line-height: 24px;
		}

		.book_control_btns {
			margin-top: 45px;
			padding-bottom: 30px;
		}

		.control_btn {
			font-size: 15px;
		}

		.control_back_btn, 
		.control_next_btn {
			width: 60px;
			padding: 0;
		}

		.control_back_inactive {
			margin-right: 25px;
		}

		h4.book_form_ttl {
			font-size: 15px;
			padding-bottom: 0;
		}

		.book_form_row label {
			font-size: 15px;
		}

		.book_form_row fieldset {
			margin-right: 0;
			width: 100%;
		}

		.book_form_row {
			flex-direction: column;
		}

		.book_form_row_address {
			flex-direction: row;
		}

		.book_form_row_address fieldset {
			width: 50%;
		}

		.book_form_row_address fieldset:first-child {
			margin-right: 10px;
		}

		.book_form_row_address fieldset input {
			width: 100% !important;
			max-width: 100% !important;
		}

		.form_fld_ttl {
			font-size: 15px;
		}

		.book_form_project select.start_select {
			margin-right: 0;
			margin-bottom: 15px;
		}

		.book_form_project select {
			width: 100%;
		}

		.exten_list {
			flex-direction: column;
		}

		.exten_item {
			font-size: 15px;
			line-height: 24px;
			margin-right: 0;
			border-radius: 4px;
		}

		.exten_selected {
			padding-left: 40px;
			padding-right: 40px;
		}

		.exten_type {
			margin-bottom: 10px;
		}

		.book_check {
			margin-top: 30px;
		}

		.book_check label {
			font-size: 12px;
		}

		.control_btn {
			line-height: 24px;
		}

		.book_2_content {
			padding-left: 15px;
			padding-right: 15px;
			box-sizing: border-box;
		}

		.book_3_content {
			padding: 20px 40px 25px 40px;
			box-sizing: border-box;
		}

		.book_3_content h4 {
			font-size: 15px;
			line-height: 20px;
		}

		.book_3_text {
			font-size: 15px;
			line-height: 20px;
		}
	}


}


.ui-draggable, .ui-droppable {
	background-position: top;
}
//datapicker widget styles
.ui-datepicker .ui-widget-header {
	color: #09467a;
}

.ui-datepicker .ui-widget-content,
.ui-widget-content {
	color: #09467a;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {
	color: #09467a;
}

.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
	background: rgba(17,127,209,.7);
}
 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
	color: #fff;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
	color: #fff;
}

.ui-state-highlight {
	color: #09467a !important;
}

.ui-widget-content .ui-state-active {
	border: 1px solid #003eff;
	background: rgba(17,127,209,.7);
}

.ui-state-highlight {
	border: 1px solid #dad55e !important;
    background: #fffa90 !important;
    color: #09467a !important;
}
