.prepurch_wrapper {
	background: #e6e6e7;
	font-family: 'Muli';
	padding-bottom: 45px;

	section {
		max-width: 1170px;
	    padding-left: 15px;
	    padding-right: 15px;
	    margin: 0 auto;
	}

	.purh_logo {
		position: relative;
		background-color: #fff;
	}

	.sand_btn {
		display: none;
	}

	.logo {
		margin-left: 60px;
		margin-top: 40px;
		margin-bottom: 15px;
		display: inline-block;
		vertical-align: middle;

	}

	.logo img {
		display: inline-block;
		vertical-align: middle;
		max-width: 226px;
	}

	.purch_header {
		width: 100%;
		padding: 55px 15px;
		padding-bottom: 100px;
		box-sizing: border-box !important;
		background: url(../img/purch_header.png) no-repeat center center;
		background-size: cover;
	}

	.purch_header p, .purch_header h4 {
		color: white;
	}

	.purch_header h4 {
		font-family: 'MuliExtraBold';
		font-size: 40px;
		line-height: 60px;
	}

	.purch_header p {
		font-size: 20px;
		line-height: 30px;
		font-family: 'Muli';
	}

	.service {
		margin-top: -45px;
		margin-bottom: 150px;
	}

	.sevice_row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.ser_list {
		margin-right: 5px;
	}

	.ser_list li {
		margin-bottom: 25px;
	}

	.ser_list li:last-child {
		margin-bottom: 0;
	}

	.ser_icon {
		width: 16px;
		margin-right: 15px;
	}

	.sr_list_item {
		display: inline-block;
		vertical-align: middle;
	}

	.ser_ttl {
		font-size: 18px;
		line-height: 23px;
		color: #183E70;
	}

	.checkout_form {
		max-width: 600px;
		background: #fff;
		border-radius: 8px;
		box-shadow: 0 0 7px rgba(0,0,0,.75);
		padding: 20px;
		box-sizing: border-box;
		flex: auto;
	}

	.checkout_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 13px;
	}

	.checkout_header_ttl {
		font-family: 'MuliB';
		color: #09467A;
		font-size: 18px;
		line-height: 34px;
		margin-right: 5px;
	}

	.checkout_header_amount {
		background: #183E70;
		border-radius: 25px;
		padding: 4px 26px;
		box-sizing: border-box;
		font-family: 'MuliB';
		color: #09467A;
		font-size: 18px;
		line-height: 32px;
		color: #fff;
	}

	.check_form_row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
		flex: 1;
	}

	.check_form_row:last-child {
		margin-bottom: 0px;
	}

	.check_form_row fieldset {
		width: 50%;
		margin-right: 20px;
	}

	.check_form_row fieldset:last-child {
		margin-right: 0;
	}

	.check_form_row label {
		display: block;
		font-family: 'MuliB';
		color: #09467A;
		font-size: 15px;
		line-height: 34px;
	}

	.check_form_row label span {
		color: #FF0000;
	}

	.check_form_row input[type=text],
	.check_form_row input[type=email]{
		background: #F7F7F7;
		border-radius: 8px;
		border: .5px solid #949494;
		padding: 6px 10px;
		box-sizing: border-box !important;
		font-family: 'Muli';
		font-size: 15px;
		line-height: 25px;
		color: #000;
		width: 100%;
		outline: none;
	}

	.checkout_footer {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.payment_methods_list img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}

	.payment_methods_list img:last-child {
		margin-right: 0;
	}

	.check_form button[type=submit]{
		border: 1px solid #183E70;
		background: transparent;
		border-radius: 25px;
		padding: 5px;
		box-sizing: border-box;
		font-family: 'Muli';
		font-size: 16px;
		line-height: 24px;
		color: #183E70;
		cursor: pointer;
		outline: none;
	}

	.check_form button[type=submit] span {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		margin-right: 40px;
	}

	.check_form button[type=submit] img {
		display: inline-block;
		vertical-align: middle;
	}

	.faq__item {
		border-bottom: 1px solid #183E70;
		padding-top: 10px;
		padding-bottom: 10px;
		cursor: pointer;
	}

	.faq__item:last-child {
		border-bottom: 1px solid transparent;
	}

	.faq_q {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.faq_q h6 {
		font-family: 'MuliB';
		font-size: 18px;
		line-height: 23px;
		color: #183E70;
		margin-bottom: 5px;
	}

	.faq_q img {
		display: inline-block;
		vertical-align: middle;
		width: 15px;
	}

	.faq_answer {
		display: none;
		font-family: 'MuliL';
		width: 100%;
		font-size: 18px;
		line-height: 23px;
		color: #949494;
	}

	.payment_status {
		display: none;
		margin-top: 135px;
		text-align: center;
	}

	.payment_status img {
		display: inline-block;
		vertical-align: middle;
		max-width: 144px;
	}

	@media (max-width: 998px){

		section {
			padding-left: 0;
			padding-right: 0;
		}

		.purh_logo {
			text-align: center;
			padding-top: 20px;
    		padding-bottom: 20px;
		}

		.sand_btn {
			display: block;
			position: absolute;
			top: 28px;
			left: 30px;
		}

		.logo {
			margin: 0 auto;
		}

		.logo img {
			max-width: 170px;
		}

		.purch_header {
			padding-top: 150px;
			padding-bottom: 100px;
		}

		.purch_header h4 {
			font-size: 25px;
			line-height: 35px;
			text-align: center;
			margin-bottom: 20px;
		}

		.purch_header p {
			font-size: 15px;
			line-height: 20px;
			margin-right: 0;
			max-width: 100%;
			text-align: center;
		}

		.purch_header p br {
			display: none;
		}

		.service {
			margin-top: -30px;
			margin-bottom: 55px;
		}

		.sevice_row {
			flex-direction: column-reverse;
			align-items: flex-start;
		}

		.services_list {
			width: 100%;
		}

		.ser_list {
			margin-right: 0;
		}

		.ser_icon {
			margin-right: 11px;
		}

		.checkout_form {
			max-width: 100%;
			width: 100%;
			margin-bottom: 55px;
			padding: 15px;
			padding-bottom: 30px;
			box-sizing: border-box !important;
		}

		.checkout_header {
			flex-direction: column;
			margin-left: -15px;
			margin-right: -15px;
			margin-bottom: 20px;
		}

		.checkout_header_ttl,
		.checkout_header_amount {
			width: 100%;
		}

		.checkout_header_ttl {
			margin-right: 0;
			margin-bottom: 10px;
			padding: 0 20px;
			box-sizing: border-box;
			line-height: 23px;
		}

		.checkout_header_amount {
			border-radius: 0;
			text-align: center;
			line-height: 22px;
		}

		.check_form_row {
			flex-direction: column;
			margin-bottom: 10px;
		}

		.check_form_row fieldset {
			width: 100%;
			margin-right: 0;
		}

		.check_form_row fieldset:first-child {
			margin-bottom: 10px;
		}

		.checkout_footer {
			margin-top: 10px;
			flex-direction: column;
		}

		.payment_methods_list {
			width: 100%;
		}

		.check_form button[type=submit] {
			margin-top: 20px;
		}

		.ser_ttl {
			font-size: 15px;
			line-height: 20px;
		}

		.ser_list li {
			margin-bottom: 15px;
		}

		.faq__item {
			padding-bottom: 5px;
		}

		.faq_q h6 {
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 0;
		}

		.faq_answer {
			font-size: 15px;
			line-height: 20px;
		}

	}

	@media (max-width: 375px){
		.purch_header {
			background: url(../img/purch_header_mobile.png) no-repeat center center;
			background-size: cover;
		}

		.purch_header p {
			margin-right: 0;
		}

		.payment_methods_list img {
			height: 14px;
		}

		.faq h5.title {
			max-width: 203px;
			margin-bottom: 15px;
		}
	}

}