@font-face {
    font-family: 'MuliExtraBold';
    src: local('Muli Extra Bold'), local('Muli-Extra-Bold'),
        url(../fonts/Muli-ExtraBold.woff2) format('woff2'),
        url(../fonts/Muli-ExtraBold.woff) format('woff'),
        url(../fonts/Muli-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli Regular'), local('Muli-Regular'),
        url(../fonts/Muli-Regular.woff2) format('woff2'),
        url(../fonts/Muli-Regular.woff) format('woff'),
        url(../fonts/Muli-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MuliB';
    src: local('Muli Bold'), local('Muli-Bold'),
        url(../fonts/Muli-Bold.woff2) format('woff2'),
        url(../fonts/Muli-Bold.woff) format('woff'),
        url(../fonts/Muli-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
 }

@font-face {
    font-family: 'MuliL';
    src: local('Muli Light'), local('Muli-Light'),
        url('Muli-Light.woff2') format('woff2'),
        url('Muli-Light.woff') format('woff'),
        url('Muli-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
 }

.center {
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	margin: 0 auto;
}

/*body {
	background: #E6E6E7;
}*/

h5.title {
	font-family: 'MuliExtraBold';
	color: #183E70;
	font-size: 30px;
	line-height: 60px;
}

h4.ttl {
	font-family: 'MuliExtraBold';
	font-size: 50px;
	line-height: 60px;
	color: #09467A;
	text-align: center;
	margin-bottom: 25px;
}

p.desc {
	font-size: 22px;
	line-height: 34px;
	color: #183E70;
	text-align: center;
	max-width: 977px;
	margin: 0 auto;
}

/* The container */
.check_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 4px;
  border: .75px solid #C1C1C1;
}

/* On mouse-over, add a grey background color */
.check_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
  background-color: rgba(9,70,122,.7);
  border-color: rgba(9,70,122,.7);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The container */
.rad_container {
  display: block;
  position: relative;
  padding-right: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.rad_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.r_checkmark {
  position: absolute;
  top: 0;
  left: 80px;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 50%;
  border: .75px solid #C1C1C1;
}

/* On mouse-over, add a grey background color */
.rad_container:hover input ~ .r_checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.rad_container input:checked ~ .r_checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.r_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.rad_container input:checked ~ .r_checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.rad_container .r_checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgba(9,70,122,.7);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 4px;
  border: 4px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 998px){
	.center {
		padding-left: 30px;
		padding-right: 30px;
	}

	h5.title {
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 10px;
	}
}

@media (max-width: 992px){
	h4.ttl {
		font-size: 25px;
		line-height: 35px;
		margin-bottom: 10px;
	}

	p.desc {
		font-size: 15px;
		line-height: 20px;
	}
}