@charset "UTF-8";

.formobileonly *, .formobileonly *:before, *:after {
  box-sizing: border-box; }



/*------------------------------------*               NAVIGATION
\*------------------------------------*/
.navigation--main {
  float: right; }
  @media only screen and (min-width: 900px) {
    .navigation--main {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .navigation--main > .nav--main {
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto; } }

/**
 * Main Bar Navigation
 */
.nav--main {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle; }
  .nav--main > li > a {
    padding: 12px 24px;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase; }
  .nav--main a {
    color: #262526;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.72429;
    transition: color .2s linear; }
    .nav--main a:hover {
      color: #c59d5f; }
    .header--transparent .nav--main a {
      color: white; }
    .headroom--not-top .nav--main a {
      color: #262526; }
  @media only screen and (min-width: 900px) {
    .nav--main li[class*="current-menu"] > a:after {
      content: "";
      display: block;
      border-bottom: 2px solid currentColor; } }

.lt-ie9 .header--transparent .nav--main a, .ie9 .header--transparent .nav--main a {
  color: black; }

.nav__item--relative {
  position: relative; }

.menu-item-has-children, .menu-item-language {
  position: relative; }
  .menu-item-has-children:hover:after, .menu-item-language:hover:after {
    border-color: #c59d5f; }
  .menu-item-has-children:after, .menu-item-language:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 6px;
    margin-top: -2px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-right: 1px solid #262526;
    border-bottom: 1px solid #262526;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg); }
    .header--transparent .menu-item-has-children:after, .header--transparent .menu-item-language:after {
      border-color: white; }
    .headroom--not-top .menu-item-has-children:after, .headroom--not-top .menu-item-language:after {
      border-color: #262526; }
  .menu-item-has-children:hover > .sub-menu, .menu-item-language:hover > .sub-menu, .menu-item-has-children.hover > .sub-menu, .hover.menu-item-language > .sub-menu {
    display: block; }
  .is--ie .menu-item-has-children, .is--ie .menu-item-language {
    background-color: rgba(255, 255, 255, 0.01); }
  .lt-ie9 .menu-item-has-children, .lt-ie9 .menu-item-language, .ie9 .menu-item-has-children, .ie9 .menu-item-language {
    background-color: white; }

/*----------------------------------------*    $SUBMENUS
\*----------------------------------------*/
/*ul*/
.sub-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  display: none;
  min-width: 170px;
  text-align: center;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .lt-ie9 .sub-menu {
    left: 0;
    -webkit-transform: none;
            transform: none; }
  .header--transparent .sub-menu {
    background: transparent; }
    .is--ie .header--transparent .sub-menu {
      background-color: rgba(255, 255, 255, 0.01); }
    .lt-ie9 .header--transparent .sub-menu, .ie9 .header--transparent .sub-menu {
      background: white; }
  .headroom--not-top .sub-menu, .is--ie .headroom--not-top .sub-menu {
    background: white; }
  .sub-menu a {
    padding: 12px; }
  .sub-menu > li > a {
    display: inline-block; }
  .sub-menu .menu-item-has-children, .sub-menu .menu-item-language {
    position: relative; }
    .sub-menu .menu-item-has-children:after, .sub-menu .menu-item-language:after {
      right: 24px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .sub-menu .sub-menu {
    left: 100%;
    top: 0;
    -webkit-transform: none;
            transform: none; }

/*------------------------------------*    $MOBILE NAVIGATION
\*------------------------------------*/
button.nav-trigger {
  position: absolute;
  top: 40px;
  left: 1.4vw;
  z-index: 20;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50px;
  width: 50px;
  padding: 0 12px;
  background: transparent;
  border: 0;
  outline: 0; }
  @media only screen and (min-width: 900px) {
    button.nav-trigger {
      display: none; } }

.nav-icon {
  position: relative;
  top: 2px;
  right: inherit;
  display: block;
  width: 26px;
  height: 2px;
  background-color: #7b797e;
  border-radius: 2.5rem;
  transition: all .3s; }
  .nav-icon:after, .nav-icon:before {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 2.5rem;
    background-color: #7b797e;
    transition: all .3s; }
  .nav-icon:after {
    top: -7px; }
  .nav-icon:before {
    top: 7px; }
  .navigation--is-visible .nav-icon {
    background-color: transparent !important; }
    .navigation--is-visible .nav-icon:after, .navigation--is-visible .nav-icon:before {
      background-color: white !important; }
    .navigation--is-visible .nav-icon:after {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 0; }
    .navigation--is-visible .nav-icon:before {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 0; }

.header--transparent .nav-icon, .header--transparent .nav-icon:before, .header--transparent .nav-icon:after {
  background-color: white; }

.site-header.headroom--not-top .nav-icon, .site-header.headroom--not-top .nav-icon:before, .site-header.headroom--not-top .nav-icon:after {
  background-color: black; }

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s linear; }
  .navigation--is-visible .nav-overlay {
    opacity: 1;
    pointer-events: auto; }
  @media only screen and (min-width: 900px) {
    .nav-overlay {
      display: none; } }

@media only screen and (min-width: 900px) {
  .navigation--main {
    height: auto !important; } }

@media only screen and (max-width: 899px) {
  .navigation--main {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    -webkit-transform: translate3d(-84vw, 0, 0);
            transform: translate3d(-84vw, 0, 0);
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    width: 84vw;
    padding: 44px;
    border: 0;
    text-align: left;
    text-transform: none;
	background: rgba(255,255,255,0.9);
    }
    .admin-bar .navigation--main {
      padding-top: 32px; } }
    @media only screen and (max-width: 899px) and (max-width: 782px) {
      .admin-bar .navigation--main {
        padding-top: 46px; } }

@media only screen and (max-width: 899px) {
    .navigation--main .nav--items-menu {
      width: 100%;
      padding: 26px 0;
      margin-bottom: 14px;
      border-top: 1px solid #41403d;
      border-bottom: 1px solid #41403d; }
    .navigation--main .nav--main li {
      display: list-item;
      padding: 0;
      text-align: left; }
      .navigation--main .nav--main li:last-child {
        border-bottom: 0; }
      .navigation--main .nav--main li a {
        padding: 14px 0;
        display: block;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.51; }
        .navigation--main .nav--main li a:before {
          content: none; }
      .navigation--main .nav--main li a, .navigation--main .nav--main li a:before {
        color: #cccccc; }
      .navigation--main .nav--main li.menu-item-has-children:after, .navigation--main .nav--main li.menu-item-language:after {
        content: none; }
      .navigation--main .nav--main li.menu-item-has-children > a, .navigation--main .nav--main li.menu-item-language > a {
        position: relative; }
        .navigation--main .nav--main li.menu-item-has-children > a:after, .navigation--main .nav--main li.menu-item-language > a:after {
          content: "";
          position: relative;
          top: -2px;
          display: inline-block;
          width: 8px;
          height: 8px;
          margin-left: 15px;
          border-right: 2px solid #cccccc;
          border-bottom: 2px solid #cccccc;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg); }
        .navigation--main .nav--main li.menu-item-has-children > a:before, .navigation--main .nav--main li.menu-item-language > a:before {
          content: "";
          position: absolute;
          top: 3px;
          bottom: 3px;
          left: -5px;
          right: -5px;
          z-index: -1;
          display: block;
          opacity: 0;
          pointer-events: none;
          border-radius: 4px;
          background-color: rgba(0, 0, 0, 0.5); }
      .navigation--main .nav--main li.menu-item-has-children:hover > a:after, .navigation--main .nav--main li.menu-item-language:hover > a:after, .navigation--main .nav--main li.menu-item-has-children.hover > a:after, .navigation--main .nav--main li.hover.menu-item-language > a:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .navigation--main .nav--main li.menu-item-has-children:hover > a:before, .navigation--main .nav--main li.menu-item-language:hover > a:before, .navigation--main .nav--main li.menu-item-has-children.hover > a:before, .navigation--main .nav--main li.hover.menu-item-language > a:before {
        opacity: 1; }
    .navigation--main .sub-menu {
      position: static;
      display: none;
      padding: 4px 0;
      border: 0;
      background: transparent;
      -webkit-transform: none;
              transform: none;
      opacity: .5; } }
    @media only screen and (max-width: 899px) and (max-width: 899px) {
      .navigation--main .sub-menu {
        background: transparent !important; } }

@media only screen and (max-width: 899px) {
    .navigation--main .nav--main .sub-menu li a {
      padding: 10px 0; }
    .navigation--main .sub-menu .sub-menu {
      border: 0; }
    .navigation--main .cart-icon-link {
      padding: 8px 18px !important;
      padding: 0.5rem 1.125rem !important; }
  #page {
    transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1); }
  body .navigation--main,
  body .nav-trigger {
    transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1); }
  #page {
    left: 0; }
  .navigation--is-visible .nav-trigger {
    -webkit-transform: translate3d(84vw, -50%, 0);
            transform: translate3d(84vw, -50%, 0); }
  .navigation--is-visible .navigation--main {
    -webkit-transform: none;
            transform: none; } }
