#sb-container,#sb-wrapper{text-align:left;}

#sb-container,#sb-overlay{position:absolute;top:0;left:0;width:100%;margin:0;padding:0;}

#sb-container{height:100%;display:none;visibility:hidden;z-index:9999;}

body>#sb-container{position:fixed;}

#sb-overlay{height:expression(document.documentElement.clientHeight+'px');}

#sb-container>#sb-overlay{height:100%;}

#sb-wrapper{position:relative;}

#sb-wrapper img{border:none;}

#sb-body{position:relative;margin:0;padding:0;overflow:hidden;}

#sb-body-inner{;position:relative;height:100%;}

#sb-content.html{height:100%;overflow:auto;}

#sb-loading{position:absolute;top:0;width:100%;height:100%;text-align:center;padding-top:10px;}

#sb-body,#sb-loading{background-color:#f4f4f4;}

#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:visible;}

#sb-title-inner,#sb-info-inner{position:relative;font-family:'Lucida Grande',Tahoma,sans-serif;line-height:16px;}

#sb-title,#sb-title-inner{height:26px;}

#sb-title-inner{font-size:16px;padding:5px 0;color:#fff;}

#sb-info,#sb-info-inner{height:20px;}

#sb-info-inner{font-size:12px;color:#fff;}

#sb-nav{

float:right;height:16px;padding:2px 0;width:100%;position:relative;top:-100%}

#sb-nav a{

display:block;cursor:pointer;}

#sb-nav-close{height:16px;width:16px;float:right;

margin-left:3px;background-image:url(resources/close.png);background-repeat:no-repeat;}

#sb-nav-share {

   color:#fff;

	height:16px;float:right;

	margin-right:0px;

	text-decoration:none;

	text-transform:uppercase;

}



#sb-nav-next{

float:right;

position:relative;

top:-100px;

right:-15px;

width:50px;

height:100px;

background-color:#fff;

background-image:url(resources/next_black.png);

background-repeat:no-repeat;

background-position:center;

opacity:0;

}

#sb-nav-previous{

float:left;

position:relative;

top:-100px;

left:4px;

width:50px;

height:100px;

background-color:#fff;

background-image:url(resources/previous_black.png);

background-repeat:no-repeat;

background-position:center;

opacity:0;

}

#sb-nav-play{background-image:url(resources/play.png);background-repeat:no-repeat;}#sb-nav-pause{background-image:url(resources/pause.png);background-repeat:no-repeat;}#sb-counter{float:left;padding:2px 0;width:45%;}#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}#sb-counter a.sb-counter-current{text-decoration:underline;}div.sb-message{font-family:'Lucida Grande',Tahoma,sans-serif;font-size:12px;padding:10px;text-align:center;}div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}



#sb-title-inner {

	color:#ddd;

	font-size:18px;

	font-weight:normal;

}

#sb-title-inner b {

	font-size:22px;

	color:#ccc;

	font-weight:normal;

}

#sb-body {

	border:4px solid #ccc;

}

#sb-loading{

	background:#666 url(resources/loading.gif) no-repeat;

	background-position:50% 5%;

	padding-top:40px;

}

#sb-loading a {

	color:#ccc;

}
@media (max-width:640px) {
	#sb-title-inner {
	display:none;
	}
#sb-counter {
	position:relative;
	top:-245px;
	}
	#sb-overlay{height:expression(document.documentElement.clientHeight+'px'); opacity:1 !important; }
	#sb-body {
		border:none !important;
		background:none !important;
		}
	#sb-nav-next, #sb-nav-previous {
		background-color:transparent !important;
		background-image:none !important;
		width:150px !important;
		}	
	#sb-nav-close {
		position:relative;
		top:-245px;
		}
	#sb-loading {
		background-color:transparent !important;
		}	
	#sb-nav-share {
		display:none !important;
		}
	#sb-body-inner {
    
    -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
	-moz-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
	-ms-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
	box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
}		
div#sb-body {
	overflow:visible !important;
	}
	}