@charset "utf-8";
/* CSS Document */


body {
	padding:0px;
	margin:0px;
}



/*
Links
*/

a, a:link, a:visited, a:active {
	color:#20326f;
	text-decoration:none;
}
a:hover {
	color:#0f75bc;
	text-decoration:underline;
}

a.nav, a.nav:link, a.nav:visited, a.nav:active {
	color:#20326f;
	text-decoration:none;
}
a.nav:hover {
	color:#20326f;
	text-decoration:underline;
}
a.w, a.w:link, a.w:visited, a.w:active {
	color:#fff;
	text-decoration:none;
}
a.w:hover {
	color:#fff;
	text-decoration:underline;
}
a.bl, a.bl:link, a.bl:visited, a.bl:active {
	color:#cfe8f6;
	text-decoration:none;
}
a.bl:hover {
	color:#cfe8f6;
	text-decoration:underline;
}


/*
Tables
*/

td, th {
	color:#3f525e;
	font-family:MS Sans Serif, Verdana, Tahoma, Arial, Helvetica, sans-serif;
	padding:0px;
	font-size:11px;
}

input {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}

input.input_login {
	background:url('/pics/bg_input_login.gif') no-repeat;
	width:97px;
	height:17px;
	padding-left:5px;
	padding-right:5px;
}
input.button_login {
	background:url('/pics/bg_btn_login.gif') no-repeat;
	width:15px;
	height:15px;
}

.td_nav_bg {
	background:#dcdace;
	height:40px;
	vertical-align:bottom;
}
.td_subnav {
	padding:10px;
	background:#20326f;
}
.td_subnav a {
	display:block;
	float:left;	
	padding:5px;
	text-align:center;
	width:100px;
	border:1px solid #182655;
	color:#adbceb;
	margin:0 10px 0 10px;
}
.td_subnav a.sel {
	display:block;
	float:left;	
	padding:5px;
	text-align:center;
	width:100px;
	border:1px solid #111c3f;
	background:#182655;
	color:#adbceb;
	margin:0 10px 0 10px;
}
.clear {
	clear:both;
}


.td_nav_shd {
	background:url('/pics/nav_shd.gif') repeat-x;
}

/*
Tables
*/

table.t_logo td {
	padding:10px;
}

table.t_nav_elem td {
	background:#fff;
}
table.t_nav_elem td.txt {
	padding-left:20px;
	padding-right:20px;
	font-weight:bold;
	color:#20326f;
}

table.t_nav_sel td {
	background:#20326f;
}
table.t_nav_sel td.txt {
	padding-left:20px;
	padding-right:20px;
	font-weight:bold;
	color:#fff;
}

table.t_subnav td {
	padding:5px;
	padding-left:20px;
	padding-right:20px;
	color:#adbceb;
}
table.t_subnav td.sel {
	padding:5px;
	padding-left:20px;
	padding-right:20px;
	border:1px solid #111c3f;
	background:#182655;
	color:#adbceb;
}


/* Div */
div.hideGrp {
	display:none;
}
div.showGrp {
	display:block;
}