@charset "utf-8";
/* CSS Document */


body {
	padding:0px;
	margin:0px;
	font-family:Arial;
}

/*
Links
*/

a, a:link, a:visited, a:active {
	color:#20326f;
	text-decoration:none;
}
a:hover {
	color:#0f75bc;
	text-decoration:underline;
}

a.nav, a.nav:link, a.nav:visited, a.nav:active {
	color:#20326f;
	text-decoration:none;
}
a.nav:hover {
	color:#20326f;
	text-decoration:underline;
}
a.w, a.w:link, a.w:visited, a.w:active {
	color:#fff;
	text-decoration:none;
}
a.w:hover {
	color:#fff;
	text-decoration:underline;
}
a.bl, a.bl:link, a.bl:visited, a.bl:active {
	color:#cfe8f6;
	text-decoration:none;
}
a.bl:hover {
	color:#cfe8f6;
	text-decoration:underline;
}
a.rb, a.rb:link, a.rb:visited, a.rb:active {
	color:#FF3300;
	font-weight:bold;
	text-decoration:none;
}
a.rb:hover {
	color:#FF3300;
	font-weight:bold;
	text-decoration:underline;
}

td, th {
	color:#3f525e;
	padding:0px;
	font-size:11px;
}

.td_nav_bg {
	background:#dcdace;
	height:40px;
	vertical-align:bottom;
}
.td_subnav {
	padding:5px;
	background:#20326f url(../pics/bg_subnav.gif) repeat-x;
}
.td_subnav a {
	display:inline-block;
	margin:0;
	float:left;	
	padding:5px 10px 5px 10px;
	text-align:center;
	border:1px solid transparent;
	color:#adbceb;
	text-decoration:none;
}
.td_subnav a:hover {
	border:1px solid #adbceb;
	color:#adbceb;
	text-decoration:none;
}
.td_subnav a.sel {
	border:1px solid #111c3f;
	background:#182655;
	color:#adbceb;
}
div.image-left {
	width:100px;
	padding:10px;
	float:left;
	text-align:center;
}
div.image-left a {
	display:block;
	padding:10px;
}
.clear {
	clear:both;
}
.td_nav_shd {
	background:url('../pics/nav_shd.gif') repeat-x;
}
.td_content {
	padding:10px;
}

/*
Form / Input
*/
form {
  margin:0px; 
 	display: inline;
}
input, textarea, select {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.input {
	width:400px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_md {
	width:150px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_sm {
	width:85px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_lg {
	width:450px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_xlg {
	width:800px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_ssm {
	width:40px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_auto {
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_page {
	font-family: Verdana,Arial;
	font-size: 11px;
	color:#000000;
	background-color:#F2F1EF;
}
.textarea {
	width:300px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}

.button_auto {
	font-family: MS Sans Serif, Arial;
	font-size:11px;
	color:#666666;
	font-weight:bold;
}
.button {
	font-size:11px;
	color:#444;
	font-weight:bold;
}
.button_r {
	color:#FF0000;
	font-weight:bold;
}
.button_1 {
	font-size:14px;
	color:#FFFFFF;
	background-color:#F0654C;
	border-left:1px solid #F2A99C;
	border-top:1px solid #F2A99C;
	border-right:1px solid #B74935;
	border-bottom:1px solid #B74935;
}
.button_continue {
	font-family: MS San Serif, Arial;
	font-size:18px;
	color:#FFFFFF;
	background-color:#12989D;
	border-left:1px solid #A4E2E5;
	border-top:1px solid #A4E2E5;
	border-right:1px solid #0F6265;
	border-bottom:1px solid #0F6265;
}


/*
Tables
*/
table {
	border-collapse:collapse;
}
table.t_logo td {
	padding:10px;
}

table.t_nav_elem td {
	background:#fff;
}
table.t_nav_elem td.txt {
	padding-left:20px;
	padding-right:20px;
	font-weight:bold;
	color:#3f535e;
}

table.t_nav_sel td {
	background:#20326f;
}
table.t_nav_sel td.txt {
	padding-left:20px;
	padding-right:20px;
	font-weight:bold;
	color:#fff;
}

table.t_subnav td {
	padding:5px;
	padding-left:20px;
	padding-right:20px;
	color:#adbceb;
}
table.t_subnav td.sel {
	padding:5px;
	padding-left:20px;
	padding-right:20px;
	border:1px solid #111c3f;
	background:#182655;
	color:#adbceb;
}
table.t_margin {
	width:100%;
	border:1px solid #ccc;
}
table.t_margin th {
	color:#000000;
	padding:5px;
	background-color:#DCDCDC;
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #91908E;
	border-bottom:1px solid #91908E;
}
table.t_margin td {
	padding: 2px;
	padding-left:3px;
	border-bottom:1px solid #FFFFFF;
	background:#f2f2f2;
}
table.t_margin td:hover {
	background:#efebba;
}


.td_2_1 {
	color:#000000;
	padding:0px;
	padding-left:3px;
	background-color:#DCDCDC;
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #91908E;
	border-bottom:1px solid #91908E;
}



/* Table Manager */


.td_1 {
	border:1px solid #999999;
}
.td_1_1 {
	padding:3px;
	background-color:#B6BFD0;
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #BCBEBB;
	font-weight:bold;
}
.td_2 {
	border:1px solid #C2C2C2;
}
.td_2_1 {
	color:#000000;
	padding:0px;
	padding-left:3px;
	background-color:#DCDCDC;
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #91908E;
	border-bottom:1px solid #91908E;
}
.td_2_2 {
	color:#000000;
	padding:5px;
	background-color:#DCDCDC;
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #91908E;
	border-bottom:1px solid #91908E;
}
.td_3 {
	padding: 2px;
	padding-left:3px;
	border-bottom:1px solid #FFFFFF;
	background:#f2f2f2;
}
.td_3_2 {
	padding:2px;
	font-weight:bold;
	background-color:#F2F2F2;
	border-top:1px solid #F2F2F2;
}
.td_1_showHand {
	padding:2px;
	background-color:#B6BFD0;
	cursor: pointer;
}
.td_1_hideHand {
	padding:2px;
	background-color:#999999;
}
.td_2_showHand {
	padding:2px;
	background-color:#C2C2C2;
	cursor: pointer;
}
.td_2_hideHand {
	padding:2px;
	background-color:#DCDCDC;
}
.td_3_showHand {
	padding:2px;
	background-color:#B0BBE0;
	cursor: pointer;
}
.td_3_hideHand {
	padding:2px;
	background-color:#F7F6F4;
}
.td_content {
	padding:20px;
	padding-top:10px;
}
.td_spacer {
	background-color:#FFFFFF;
}







/* Txt */

.txt_gb {
	font-weight:bold;
	color:#006600;
}

.txt_rb {
	font-weight:bold;
	color:#cc0000;
}

/* Div */
div.hideGrp {
	display:none;
}
div.showGrp {
	display:block;
}

h1 {
	color:#20326f;
	font-size:18px;
	margin:0px;
	font-family:Arial, Georgia, "Times New Roman", Times, serif;
}

table.t_form td {
	padding:3px;
}