
body {
	background:#d5d5d5;
	text-align:center;
	vertical-align:middle;
}
td, th {
	font-family:Verdana,MS Sans Serif, Verdana;
}

img {
	border:0px;
}
table.t_Login {
	width:398px;
	border:1px solid #20326f;
}
table.t_Login th {
	padding:0px;
	border:0px;
	padding-left:10px;
	font-size:11px;
	color:#fff;
	text-align:left;	
	vertical-align:middle;
	background:#20326f url(../pics/bg_subnav.gif) repeat-x;
	height:30px;
}
table.t_Login th.r {
	text-align:right;
	padding-right:5px;
}
table.t_Login td {
	font-size:11px;
	color:#497699;
	background-color:#fff;
	padding:5px;
	text-align:left;
}
table.t_Login td.bot {
	padding:0px;
	background: #59a5dd url('../pics/bg_BotLogin.gif') repeat-x;
	height:11px;
}
table.t_Login td.red {
	color:#ff3600;
	font-weight:bold;
}
form {
  margin:0px; 
 	display: inline;
}
.input_login {
	width:250px;
	font-family: Verdana, MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#FFF36B;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.button_login {
	width:100px;
	height:26px;
	font-family: MS Sans Serif, Arial;
	font-size:11px;
	color:#888;
	border:0px;
	background: #fff url('../pics/bg_BtnLogin.gif') no-repeat;
	background-position:5px center;
	font-weight:bold;
}
