/* Table Manager */


.td_1 {
	border:1px solid #999999;
}
.td_1_1 {
	padding:3px;
	background-color:#B6BFD0;
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #BCBEBB;
	font-weight:bold;
}
.td_2 {
	border:1px solid #C2C2C2;
}
.td_2_1 {
	color:#333;
	padding:0px;
	padding-left:3px;
	background-color:#ccc;
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #91908E;
	border-bottom:1px solid #91908E;
}
.td_2_2 {
	color:#000000;
	padding:5px;
	background-color:#DCDCDC;
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #91908E;
	border-bottom:1px solid #91908E;
}
.td_3 {
	padding: 2px;
	padding-left:3px;
	border-bottom:1px solid #FFFFFF;
}
.td_3_2 {
	padding:2px;
	font-weight:bold;
	background-color:#F2F2F2;
	border-top:1px solid #F2F2F2;
}
.td_1_showHand {
	padding:2px;
	background-color:#B6BFD0;
	cursor: pointer;
}
.td_1_hideHand {
	padding:2px;
	background-color:#999999;
}
.td_2_showHand {
	padding:2px;
	background-color:#C2C2C2;
	cursor: pointer;
}
.td_2_hideHand {
	padding:2px;
	background-color:#DCDCDC;
}
.td_3_showHand {
	padding:2px;
	background-color:#B0BBE0;
	cursor: pointer;
}
.td_3_hideHand {
	padding:2px;
	background-color:#F7F6F4;
}
.td_content {
	padding:20px;
	padding-top:10px;
}
.td_spacer {
	background-color:#FFFFFF;
}

/*
--------------------------------------------------------------------------------
	Login
--------------------------------------------------------------------------------
*/
body.login {
	background-color:#8C8C98;
	background-image:url("../pics/login_bg_bot.gif");
	border:0px;
	margin:0px;
	padding:0px;
}
.login_bg_top {
	background-color:#AFAFBB;
	background-image:url("../pics/login_bg_top.gif");
}
.login_title {
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border-bottom:1px solid #6E6D7D;
	background-color:#ACABB1;
	background-image:url("../pics/login_bg_title.gif");
	font-weight:bold;
	color:#FFFFFF;
}
.login_text {
	width:318px;
	padding:5px;
	background-color:#FFFFFF;
}
.login_box {
	height:180px;
	background-color:#AFAFBB;
	background-image:url("../pics/login_bg.gif");
}
.input_login {
	width:200px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#fff;
	border:1px solid #7f9db9;
}
.button_login {
	font-family: MS Sans Serif, Arial;
	font-size:11px;
	color:#7D0000;
	font-weight:bold;
}

.td_1 {
	border:1px solid #999999;
}
.td_1_1 {
	padding:3px;
	background-color:#B6BFD0;
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #BCBEBB;
	font-weight:bold;
}
.td_2 {
	border:1px solid #C2C2C2;
}
.td_2_1 {
	color:#333;
	padding:0px;
	padding-left:3px;
	background-color:#d1d1d1;
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #91908E;
	border-bottom:1px solid #91908E;
}
.td_2_2 {
	color:#000000;
	padding:0px;
	background-color:#DCDCDC;
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #91908E;
	border-bottom:1px solid #91908E;
}
.td_3 {
	padding: 2px;
	padding-left:3px;
	background-color:#f1f1f1;
	border-bottom:1px solid #FFFFFF;
}
.td_3_2 {
	padding:2px;
	padding-left:3px;
	font-weight:bold;
	background-color:#F2F2F2;
	border-top:1px solid #F2F2F2;
}
.td_1_showHand {
	padding:2px;
	background-color:#B6BFD0;
	cursor: pointer;
}
.td_1_hideHand {
	padding:2px;
	background-color:#999999;
}
.td_2_showHand {
	padding:2px;
	background-color:#C2C2C2;
	cursor: pointer;
}
.td_2_hideHand {
	padding:2px;
	background-color:#DCDCDC;
}
.td_3_showHand {
	padding:2px;
	background-color:#B0BBE0;
	cursor: pointer;
}
.td_3_hideHand {
	padding:2px;
	background-color:#F7F6F4;
}
.td_content {
	padding:20px;
	padding-top:10px;
}
.td_spacer {
	background-color:#FFFFFF;
}

/*
--------------------------------------------------------------------------------
	Text
--------------------------------------------------------------------------------
*/
.b {
	font-weight:bold;
}
.txt_w {
	color:#FFFFFF;
}
.txt_wb {
	font-weight:bold;
	color:#FFFFFF;
}
.txt_r {
	color:#FF0000;
}
.txt_rb {
	font-weight:bold;
	color:#FF0000;
}
.txt_gb {
	font-weight:bold;
	color:#27CE00;
}
.txt_f {
	color:#909090;
}
.txt_copyright {
	text-align:right;
	color:#FFFFFF;
	font-size:10px;
}
.p {
	font-size:12px;
	padding:20px;
	text-align:justify;
}
.login {
	padding-left:20px;
}
div.hideGrp {
	display:none;
}
div.showGrp {
	display:block;
}
a,a:visited,a:active {
	color:#0A2373;
	text-decoration:none;
}
a:hover {
	color:#FF0000;
	text-decoration: underline;
}

.menu_item {
	padding-left:15px;
}
.menu_spacer {
	padding-left:15px;
}
.f {
	font-size:12px;
	color:#7D7D7D;
}

/*
--------------------------------------------------------------------------------
	Input Fields
--------------------------------------------------------------------------------
*/
input, textarea, select {
	font-family: MS San Serif, Arial;
	font-size: 11px;
}
.input {
	width:400px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_md {
	width:150px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_sm {
	width:85px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_lg {
	width:450px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_xlg {
	width:800px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_ssm {
	width:40px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_auto {
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}
.input_page {
	font-family: Verdana,Arial;
	font-size: 11px;
	color:#000000;
	background-color:#F2F1EF;
}
.textarea {
	width:300px;
	font-family: MS San Serif, Arial;
	font-size: 11px;
	color:#000000;
	background-color:#DFE8F4;
	border-left:1px solid #BCCDE3;
	border-top:1px solid #BCCDE3;
	border-right:1px solid #EFF3F7;
	border-bottom:1px solid #EFF3F7;
}

.button_auto {
	font-family: MS Sans Serif, Arial;
	font-size:11px;
	color:#666666;
	font-weight:bold;
}
.button {
	font-size:11px;
	font-weight:bold;
	border:1px solid #1a272e;
	background:#293a44;
	color:#fff;
	text-transform:capitalize;
}
.button_r {
	font-size:11px;
	font-weight:bold;
	border:1px solid #bb0000;
	background:#f62323;
	color:#fff;
	text-transform:capitalize;
}
.button_1 {
	font-size:14px;
	color:#FFFFFF;
	background-color:#F0654C;
	border-left:1px solid #F2A99C;
	border-top:1px solid #F2A99C;
	border-right:1px solid #B74935;
	border-bottom:1px solid #B74935;
}
.button_continue {
	font-family: MS San Serif, Arial;
	font-size:18px;
	color:#FFFFFF;
	background-color:#12989D;
	border-left:1px solid #A4E2E5;
	border-top:1px solid #A4E2E5;
	border-right:1px solid #0F6265;
	border-bottom:1px solid #0F6265;
}


.footer {
	font-size:10px;
	height:70px;
	padding-left:20px;
	padding-top:30px;
	text-transform:uppercase;
	color:#919595;
	font-weight:bold;
}
.t1 {
	font-size:15px;
	color:#919595;
	font-weight:bold;
}
.t2 {
	padding-top:20px;
	padding-left:40px;
	font-family:Times New Roman;
	font-size:14px;
	font-style:italic;
	color:#919595;
}

.lmenu {
	color:#044B58;
	padding-left:20px;
	padding-top:5px;
}
.lmenu2 {
	background-color:#5396A2;
	color:#FFFFFF;
	padding:5px;
}
.bb {
	color:#000000;
	font-weight:bold;
}
a {
	text-decoration:none;
}
a.nav,a.nav:visited,a.nav:active {
	color:#0A2373;
	font-size:9px;
	font-weight:bold;
	text-decoration:none;
}
a.nav:hover {
	color:#6186B3;	
	text-decoration:underline;
}
a.nav2,a.nav2:visited,a.nav2:active {
	color:#FFFFFF;
	text-transform:none;
}
a.nav2:hover {
	background-color:#9CDAE5;
	color:#FFFFFF;
	text-decoration: none;
}
/*
--------- Tables -------
*/
table.t_movies {
	width:100%;
}
table.t_movies th {
	background-color:#6186B3;
	color:#FFFFFF;
	font-weight:normal;
	text-align:left;
	font-size: 11px;
	padding: 2px;
	padding-left:5px;
	border-top:1px solid #88A7CD;
	border-bottom:1px solid #4A6C95;
	border-left:1px solid #4A6C95;
	border-right:1px solid #88A7CD;
/*	background-color:#FFFFFF;
	color:#6186B3;
	text-align:left;
	font-size: 11px;
	padding: 2px;
	padding-left:5px;
	border-bottom:1px solid #6186B3;*/
}
table.t_movies th.alt {
	padding:0px;
}
table.t_movies td {
	/*background-color:#EEF2F6;*/
	font-size: 11px;
	color: #000000;
	padding: 2px;	
	padding-left:3px;	
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #D1DCE6;
}
table.t_movies tr.showHand {
	background-color:#FFF995;
	font-size: 11px;
	color: #000000;
	padding: 2px;	
	padding-left:3px;	
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #D1DCE6;
	cursor: pointer;
}
table.t_movies tr.hideHand {
	background-color:#EEF2F6;
	font-size: 11px;
	color: #000000;
	padding: 2px;	
	padding-left:3px;	
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #D1DCE6;
}
table.t_movies td.bl {
	color: #2B4E77;
}
table.t_movies td.o {
	color:#FF7E00;
}
table.t_movies td.f {
	color: #7D7D7D;
}
table.t_movies td.alt {
	background-color:#fff;
	font-size: 11px;
	font-weight:bold;
	color: #000000;
	padding: 2px;
	padding-left:3px;
}
table.t_movies td.blank {
	background-color:#fff;
	font-size: 11px;
	font-weight:normal;
	color: #000000;
	border:0px;
	padding: 2px;
	padding-left:3px;
}
table.t_movies td.separator {
	background-color:#D1DCE6;
	padding:0px;
	border:0px;
}

table.t_form {
	width:100%;
}
table.t_form th {
	width:120px;
	background-color:#ECEADB;
	color:#000000;
	font-weight:normal;
	text-align:left;
	font-size: 11px;
	padding: 2px;
	padding-left:5px;
	border-top:1px solid #F7F6F2;
	border-bottom:1px solid #D5D2B9;
	border-left:1px solid #D5D2B9;
	border-right:1px solid #F7F6F2;
}
table.t_form td.head {
	background-color:#ECEADB;
	color:#000000;
	font-weight:normal;
	text-align:left;
	font-size: 11px;
	padding: 2px;
	padding-left:5px;
	border-top:1px solid #F7F6F2;
	border-bottom:1px solid #D5D2B9;
	border-left:1px solid #D5D2B9;
	border-right:1px solid #F7F6F2;
}
table.t_form th.top {
	padding-top:5px;
	border-top:1px solid #D5D2B9;
}
table.t_form th.alt {
	height:55px;
	width:200px;
	background-color:#6186B3;
	color:#FFFFFF;
	font-weight:bold;
	text-align:left;
	font-size: 12px;
	padding: 10px;
	border-top:1px solid #88A7CD;
	border-bottom:1px solid #4A6C95;
	border-left:1px solid #4A6C95;
	border-right:1px solid #88A7CD;
}
table.t_form td {
	background-color:#F2F2F2;
	font-size: 11px;
	color: #000000;
	padding: 2px;
	padding-left:3px;
	border-left:1px solid #DFDFDF;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #DFDFDF;
}
table.t_form td.clear {
	background-color:#fff;
	font-size: 11px;
	font-weight:normal;
	color: #000000;
	border:0px;
	padding: 0px;
}
table.t_form td.top {
	padding-top:5px;
}
table.t_form td.bot {
	padding-bottom:5px;
}
table.t_form td.alt {
	background-color:#FFFFFF;
	font-size: 11px;
	color: #000000;
	padding: 10px;
	padding-left:140px;
	border:0px;
	border-top:0px solid #88A7CD;
}
table.t_acc th.alt {
	height:30px;
	width:200px;
	background-color:#6186B3;
	color:#FFFFFF;
	font-weight:bold;
	text-align:left;
	font-size: 11px;
	padding: 10px;
	border-top:1px solid #88A7CD;
	border-bottom:1px solid #4A6C95;
	border-left:1px solid #4A6C95;
	border-right:1px solid #88A7CD;
}
table.t_blank td {
	padding:0px;
	padding-left:3px;
	border:0px;
}
table.t_blank td.w {
	color:#FFFFFF;
}
table.t_blank td.alt {
	background-color:#FFFFFF;
	font-weight:normal;
}
table.t_menu {
	color:#FFFFFF;
	/*background-color:#6186B3;*/
	border:0px;
	border-bottom:0px;
}
table.t_menu tr {
	color:#FFFFFF;
	/*background-color:#6186B3;*/
	border:0px;
	border-bottom:0px;
}
table.t_menu td {
	color:#FFFFFF;
	/*background-color:#6186B3;*/
	border:0px;
	border-bottom:0px;
}
table.t_menu tr.showHand {
	background-color:#6A93C4;
	font-size: 11px;
	color: #FFFFFF;
	padding: 2px;	
	padding-left:3px;	
	border:0px;
	cursor: pointer;
}
table.t_menu tr.hideHand {
	background-color:#6186B3;
	color:#FFFFFF;
	font-weight:normal;
	font-size: 11px;
	padding: 2px;
	padding-left:5px;
	border:0px;
}
.posterImg {
	border:10px solid #6186B3;
}